openapi: 3.0.3
info:
  title: Narmi Public account balances institution API
  version: v1
  description: To read about Public API access and authentication, go to [API Overview](https://docs.narmi.com/docs/narmi-developer-docs/xl9dvbz84o11l-introduction).
  termsOfService: https://www.narmi.com/policies/developer-terms-conditions
  contact:
    name: Narmi Support
    email: support@narmi.com
servers:
- url: https://api.sandbox.narmi.dev/
  description: ''
tags:
- name: institution
paths:
  /v1/institution/:
    get:
      operationId: institution_get
      description: 'Returns configurable data for the active Institution including URLs, asset URLs, and customizable settings.


        Authentication required: None


        Response includes (partial list):

        - Institution branding: colors, logos, names

        - URLs: `forgot_password_url`, `register_url`, support links

        - Feature flags and institution-specific settings

        - Color values in both hex (`*_color_hex`) and RGB CSS variable formats


        Edge cases:

        - Color keys (`primary_color`, `secondary_color`, `tertiary_color`) are converted to RGB CSS variables

        - Response format varies based on `api-version` header (versions ≤ 0011 use legacy format)


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Get current institution info
      tags:
      - institution
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwaggerInstitutionGet'
          description: ''
      x-stoplight:
        id: obapcf4cocvky
  /v1/institutions/{routing_number}/{type}/:
    get:
      operationId: institution_name_retrieve
      description: 'Returns the name of the financial institution for a given routing number from the FedWire database.


        Useful for displaying institution name when funding via external transfer.


        Edge cases:

        - `type` parameter is optional; omitting it defaults to ACH lookup

        - Pass `type=wire` for FedWire-specific institution names

        - Returns 404 if routing number not found in database


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Get institution name by routing number
      parameters:
      - in: path
        name: routing_number
        schema:
          type: string
          pattern: ^[0-9]+$
        required: true
      - in: path
        name: type
        schema:
          type: string
        description: 'Lookup type: omit for ACH, or specify `wire` for FedWire names'
        required: true
      tags:
      - institution
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstitutionNameResponse'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: ''
      x-stoplight:
        id: him0ikxvoojeu
components:
  schemas:
    InstitutionContextProcessor:
      type: object
      description: Render Institution-specific data, such as URLs, asset URLs, and customizable settings
      properties:
        banking_url:
          type: string
          readOnly: true
        forgot_password_url:
          type: string
          readOnly: true
          example: http://example.com/password_reset/
        favicon_url:
          type: string
          readOnly: true
        register_url:
          type: string
          readOnly: true
          example: http://example.com/enroll/
        main_domain:
          type: string
          readOnly: true
          example: example.com
        short_name:
          type: string
          readOnly: true
          example: Example Bank
        long_name:
          type: string
          readOnly: true
        routing_number:
          type: string
          readOnly: true
          example: 0000-0000-01
        help_phone:
          type: string
          readOnly: true
          example: (830) 981-2403
        help_email:
          type: string
          readOnly: true
          example: help@example.com
        help_card_phone:
          type: string
          readOnly: true
        internal_name:
          type: string
          readOnly: true
        mixpanel_project_token:
          type: string
          readOnly: true
        force_complete_mixpanel_sampling:
          type: boolean
          readOnly: true
        terms_url:
          type: string
          readOnly: true
          example: https://www.example.com/terms
        logo_url:
          type: string
          readOnly: true
          example: https://example.com/logo.png
        mobile_splash_screen_logo_url:
          type: string
          readOnly: true
        primary_color_hex:
          type: string
          readOnly: true
          maxLength: 7
          example: '#1A4338'
        secondary_color_hex:
          type: string
          readOnly: true
          maxLength: 7
          example: '#006553'
        tertiary_color_hex:
          type: string
          readOnly: true
          maxLength: 7
          example: '#54a444'
        primary_color:
          type: string
          readOnly: true
        secondary_color:
          type: string
          readOnly: true
        tertiary_color:
          type: string
          readOnly: true
        s3_images_bucket:
          type: string
          readOnly: true
        lending_minimum_applicant_birth_year:
          type: integer
          readOnly: true
        lending_minimum_applicant_age:
          type: integer
          readOnly: true
        lending_requested_amount_params:
          type: object
          additionalProperties: {}
          readOnly: true
        lending_welcome_screen_logo_url:
          type: string
          readOnly: true
        features:
          allOf:
          - $ref: '#/components/schemas/InstitutionFeaturesContextProcessor'
          readOnly: true
        lending_enabled_products:
          type: object
          additionalProperties: {}
          readOnly: true
        lending_application_steps:
          allOf:
          - $ref: '#/components/schemas/LendingApplicationSteps'
          readOnly: true
        lending_offer_info_and_disclaimer_url:
          type: string
          readOnly: true
        lending_website_flow_logo_nav_url:
          type: string
          readOnly: true
        lending_flows_enabled:
          type: array
          items:
            type: string
          readOnly: true
        lending_co_applicants_enabled_products:
          type: array
          items:
            type: string
          readOnly: true
        membership_share_product_for_lending:
          type: string
          readOnly: true
        dao_disclosures:
          type: array
          items:
            $ref: '#/components/schemas/InstitutionDisclosure'
          readOnly: true
      x-stoplight:
        id: vagdwjgdrquwt
    NotFoundError:
      type: object
      properties:
        id:
          type: string
          default: not_found
        message:
          type: string
          description: An error response detailing the nature of the error.
      required:
      - message
      x-stoplight:
        id: qazjpvfdteybw
    InstitutionNameResponse:
      type: object
      properties:
        institution:
          $ref: '#/components/schemas/InstitutionNameField'
      required:
      - institution
      x-stoplight:
        id: o9xzklivvdxaj
    InstitutionFeaturesContextProcessor:
      type: object
      description: Serializer for institution features flags and settings.
      properties:
        lending:
          type: boolean
          readOnly: true
      x-stoplight:
        id: iso2gcb5tdq1h
    SwaggerInstitutionGet:
      type: object
      description: A serializer to render the institutionContextProcessor
      properties:
        institution:
          allOf:
          - $ref: '#/components/schemas/InstitutionContextProcessor'
          readOnly: true
      x-stoplight:
        id: m3jmmieciurgi
    InstitutionNameField:
      type: object
      properties:
        name:
          type: string
          default: BANK OF AMERICA, N.A.
      x-stoplight:
        id: lpha2zhfqgaok
    InstitutionDisclosure:
      type: object
      description: Disclosure for institution context (e.g., account opening disclosures).
      properties:
        checkbox_text:
          type: string
        markdown:
          type: string
        links:
          type: array
          items:
            $ref: '#/components/schemas/InstitutionDisclosureLink'
      x-stoplight:
        id: hib9thlt12afl
    LendingApplicationSteps:
      type: object
      description: Controls which lending application steps are shown.
      properties:
        living_arrangement:
          type: boolean
          readOnly: true
        employment_details:
          type: boolean
          readOnly: true
      x-stoplight:
        id: 2auul33i52rfn
    InstitutionDisclosureLink:
      type: object
      description: Link within an institution disclosure.
      properties:
        text:
          type: string
        url:
          type: string
      required:
      - text
      - url
      x-stoplight:
        id: dblspf52t9xgp
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /v2/oauth/authorize/
          tokenUrl: /v2/oauth/token/
          scopes:
            banking:accounts:read: Can read account information.
            banking:transactions:read: Can read transaction information.
            banking:scheduled_transfers:read: Can read scheduled transfer information.
            banking:scheduled_transfers:write: Can create and update scheduled transfers.
            banking:accounts:write: Can update account information.
            banking:transactions:write: Can update transaction information.
            banking:users:read: Can read user profile information.
            banking:products:read: Can read product information.
            banking:documents:read: Can read user statements and documents.
x-stoplight:
  id: 68n444msv6n7x
