openapi: 3.0.3
info:
  title: Narmi Public account balances transactions API
  version: v1
  description: To read about Public API access and authentication, go to [API Overview](https://docs.narmi.com/docs/narmi-developer-docs/xl9dvbz84o11l-introduction).
  termsOfService: https://www.narmi.com/policies/developer-terms-conditions
  contact:
    name: Narmi Support
    email: support@narmi.com
servers:
- url: https://api.sandbox.narmi.dev/
  description: ''
tags:
- name: transactions
paths:
  /v1/transactions/:
    get:
      operationId: transactions_list_2
      description: 'List transactions for the authenticated user. Transactions are collated from accounts which the user is a member of.<br /><br />If queried via the v1/accounts/{account_uuids}/transactions endpoint,the call will return a 404 if all the comma-separated list of `account_uuids` are non-existent.<br /><br />Pagination can be defined either via the `before` and `after` query parameters for cursor pagination or via the `page` parameter for page number pagination. Both styles of pagination accept a `per_page` parameter, which indicates how many results should be returned.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: List user transactions
      parameters:
      - in: query
        name: after
        schema:
          type: string
          format: uuid
        description: Cursor value which indicates the first index to be queried. This can be used to paginate using cursor pagination along with the `before` parameter.
      - in: query
        name: before
        schema:
          type: string
          format: uuid
        description: Cursor value which indicates the last index to be queried. This can be used to paginate using cursor pagination along with the `after` parameter.
      - in: query
        name: block
        schema:
          type: boolean
        description: Whether or not to call a blocking operation to update the transaction results before fetching. When calling with this flag, the endpoint may respond with a 500 in the event of issues with the core.
      - in: query
        name: created_from
        schema:
          type: string
          format: date-time
        description: Earliest date-time the transaction should be created from.
      - in: query
        name: created_to
        schema:
          type: string
          format: date-time
        description: Latest date-time the transaction should be created to.
      - in: query
        name: filter
        schema:
          type: string
          enum:
          - hidden
          - unsettled
        description: Omit the defined transaction state from transaction results.
      - in: query
        name: page
        schema:
          type: integer
        description: Page number value, this will populate automatically via the `next` and `previous` urls which are generated in the response.
      - in: query
        name: q
        schema:
          type: string
        description: Search string with which to filter results.
      - in: query
        name: settled_from
        schema:
          type: string
          format: date-time
        description: Earliest date-time the transaction should be settled from.
      - in: query
        name: settled_to
        schema:
          type: string
          format: date-time
        description: Latest date-time the transaction should be settled to.
      tags:
      - transactions
      security:
      - oauth2:
        - banking:transactions:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsResponse'
              examples:
                ListTransactions:
                  value:
                    links:
                      next: https://online.sandbox.narmi.dev/v1/transactions/?after=125f4171-45a2-8ab7-782f-f537aba73423&per_page=5
                      previous: https://online.sandbox.narmi.dev/v1/transactions/?after=125f417f-0142-7f0e-1346-46714ac76a9f&before=125f4172-cc42-ddb7-54df-cd2a6896431d&per_page=5
                    meta:
                      total: 18
                    transactions:
                    - description: 'Dividend TERM: 31 DAYS AVERAGE DAILY BALANCE: 387.57 APYE: .11'
                      raw_description: 'Dividend TERM:   31 DAYS  AVERAGE DAILY BALANCE:       387.57   APYE:   .11'
                      id: 125f4172-cc42-ddb7-54df-cd2a6896431d
                      settled_at: '2020-03-29T19:55:22.999000-04:00'
                      created_at: '2020-03-29T19:55:22.999000-04:00'
                      account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      category: ''
                      sub_category: ''
                      amount: '82.73'
                      ledger_balance: '2196.95'
                      location: {}
                      check: {}
                      tags: []
                      merchant: ''
                      metadata: {}
                      note: ''
                      type: Dividend
                      recurring: false
                    - description: Branch Transfer Deposit 11/02 18:42:07 3700 O STREET NW WASHINGTON DC US
                      raw_description: Branch Transfer Deposit 11/02 18:42:07 3700 O STREET NW      WASHINGTON   DC US
                      id: 125f4172-3002-df82-b6a4-5ac0e51096c9
                      settled_at: '2020-03-29T15:55:22.998000-04:00'
                      created_at: '2020-03-29T15:55:22.998000-04:00'
                      account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      category: ''
                      sub_category: ''
                      amount: '-57.94'
                      ledger_balance: '2100.79'
                      location: {}
                      check: {}
                      tags: []
                      merchant: ''
                      metadata: {}
                      note: ''
                      type: Branch Transfer Deposit
                      recurring: false
                    - description: Transfer to 02304/X
                      raw_description: Transfer to 02304/X
                      id: 125f4172-3002-c1f9-976a-4c56f3ed3d70
                      settled_at: '2020-03-29T15:55:22.999000-04:00'
                      created_at: '2020-03-29T15:55:22.999000-04:00'
                      account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      category: ''
                      sub_category: ''
                      amount: '90.38'
                      ledger_balance: '1790.79'
                      location: {}
                      check: {}
                      tags: []
                      merchant: ''
                      metadata: {}
                      note: ''
                      type: Branch Transfer Withdrawal
                      recurring: false
                    - description: TRANSFER FROM SUFFIX X
                      raw_description: TRANSFER FROM SUFFIX X
                      id: 125f4171-93c2-ecd2-faef-601e04d9f295
                      settled_at: '2020-03-29T11:55:22.999000-04:00'
                      created_at: '2020-03-29T11:55:22.999000-04:00'
                      account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      category: ''
                      sub_category: ''
                      amount: '149.78'
                      ledger_balance: '2144.03'
                      location: {}
                      check: {}
                      tags: []
                      merchant: ''
                      metadata: {}
                      note: ''
                      type: Branch Transfer Payment
                      recurring: false
                    - description: GEORGETOWN UNIVE PAYROLL ID:XXXXXX00016 150724
                      raw_description: GEORGETOWN UNIVE PAYROLL ID:XXXXXX00016 150724
                      id: 125f4171-45a2-8ab7-782f-f537aba73423
                      settled_at: '2020-03-29T09:55:22.999000-04:00'
                      created_at: '2020-03-29T09:55:22.999000-04:00'
                      account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      category: ''
                      sub_category: ''
                      amount: '55.33'
                      ledger_balance: '1387.39'
                      location: {}
                      check: {}
                      tags: []
                      merchant: ''
                      metadata: {}
                      note: ''
                      type: Branch Deposit
                      recurring: false
                  summary: List transactions using link cursor pagination.
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountsNotFoundError'
              examples:
                AccountsNotFound:
                  value:
                    id: api_error
                    message: No Account matches the given query.
                  summary: The accounts listed in the request params do not exist.
          description: ''
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestError'
              examples:
                InvalidSearchQuery:
                  value:
                    id: invalid_request_error
                    message: Only description, category, merchant, tag, note, location, check, account, settled, effective, amount, balance, and id can be compared.
                  summary: Specify a search field other than description, category, merchant, tag, note, location, check, account, settled, effective, amount, balance, id.
          description: ''
        '500':
          description: No response body
      x-stoplight:
        id: igasbtx9icdmf
  /v1/transactions/{uuid}/:
    get:
      operationId: transactions_retrieve
      description: 'Fetch a specified transaction.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Retrieve transaction
      parameters:
      - in: query
        name: file_format
        schema:
          type: string
          enum:
          - pdf
      - in: path
        name: uuid
        schema:
          type: string
          pattern: ^[0-9a-z-]+$
        required: true
      tags:
      - transactions
      security:
      - oauth2:
        - banking:transactions:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetail'
            application/pdf:
              schema:
                type: string
                format: binary
                description: When passed 'pdf' as 'file_format', responds with pdf file
              examples:
                PDFFile:
                  value: '%PDF-1.4

                    %âãÏÓ

                    %%EOF'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundError'
          description: ''
      x-stoplight:
        id: bjrpdxrm6gfrb
    put:
      operationId: transactions_update
      description: 'Update fields for a specified transaction.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Update transaction
      parameters:
      - in: path
        name: uuid
        schema:
          type: string
          pattern: ^[0-9a-z-]+$
        required: true
      tags:
      - transactions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTransactionRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedTransactionRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedTransactionRequest'
      security:
      - oauth2:
        - banking:transactions:write
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionsDetail'
          description: ''
        '422':
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - message
                properties:
                  id:
                    type: string
                    example: invalid_request_error
                  message:
                    description: An error response detailing the field and the nature of the error.
                    oneOf:
                    - type: string
                    - type: object
                      additionalProperties: true
                    - type: array
                      items:
                        type: object
                        additionalProperties: true
              examples:
                ObjectMessage:
                  value:
                    id: invalid_request_error
                    message:
                      recurring:
                      - Must be a valid boolean.
                  summary: Object message
                StringMessage:
                  value:
                    id: invalid_request_error
                    message: Message describing nature of error.
                  summary: String message
                ArrayMessage:
                  value:
                    id: invalid_request_error
                    message:
                    - field_name: Message describing nature of error.
                    - second_field_name: Second Message.
                  summary: Array message
          description: Invalid request response.
      x-stoplight:
        id: rd5mckx6lay4w
  /v1/transactions/{uuid}/images/:
    get:
      operationId: transactions_images_list
      description: 'Fetch the base 64 encoded front and back check images for a specified transaction. This endpoint may return 503 or 422 status codes when interacting with the 3rd party integration that manages these images.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Retrieve transaction image
      parameters:
      - in: path
        name: uuid
        schema:
          type: string
          pattern: ^[0-9a-z-]+$
        required: true
      tags:
      - transactions
      security:
      - oauth2:
        - read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionImagesResponse'
          description: ''
        '404':
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - message
                properties:
                  id:
                    type: string
                    example: invalid_request_error
                  message:
                    description: An error response detailing the field and the nature of the error.
                    oneOf:
                    - type: string
                    - type: object
                      additionalProperties: true
                    - type: array
                      items:
                        type: object
                        additionalProperties: true
              examples:
                StringMessage:
                  value:
                    id: invalid_request_error
                    message: No Transaction matches the given query.
                  summary: String message
                ObjectMessage:
                  value:
                    id: invalid_request_error
                    message:
                      field_name: Message describing nature of error.
                  summary: Object message
                ArrayMessage:
                  value:
                    id: invalid_request_error
                    message:
                    - field_name: Message describing nature of error.
                    - second_field_name: Second Message.
                  summary: Array message
          description: Invalid request response.
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestError'
          description: ''
        '503':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  message:
                    type: string
              examples:
                CoreUnavailable:
                  value:
                    id: api_connection_error
                    message: Sorry, we were unable to process your request, please check back soon.
                  summary: Core Unavailable
          description: ''
      x-stoplight:
        id: 9gi5yfkax9kwr
components:
  schemas:
    AccountsNotFoundError:
      type: object
      properties:
        id:
          type: string
          default: api_error
        message:
          type: string
          default: No Account matches the given query.
      x-stoplight:
        id: g7fiwt5ax5keg
    NotFoundError:
      type: object
      properties:
        id:
          type: string
          default: not_found
        message:
          type: string
          description: An error response detailing the nature of the error.
      required:
      - message
      x-stoplight:
        id: qazjpvfdteybw
    InvalidRequestError:
      type: object
      properties:
        id:
          type: string
          default: invalid_request_error
        message:
          type: object
          additionalProperties: {}
          default:
            field_name: Error description.
          description: An error response detailing the field and the nature of the error.
      x-stoplight:
        id: aelrw6rc7wiph
    PageNumberPagination:
      type: object
      properties:
        next:
          type: string
          format: uri
          nullable: true
          description: Link to the next results page.
        previous:
          type: string
          format: uri
          nullable: true
          description: Link to the previous results page.
      required:
      - next
      - previous
      x-stoplight:
        id: t59wt6qqevd5i
    Location:
      type: object
      properties:
        city:
          type: string
          readOnly: true
        region_code:
          type: string
          readOnly: true
        country_code:
          type: string
          readOnly: true
      x-stoplight:
        id: ohkm53zydll3a
    Transaction:
      type: object
      description: Representation of a non-pending monetary transaction.
      properties:
        description:
          type: string
          readOnly: true
          description: Customer-facing description of the transaction. Typically an abridged version of the full description.
        raw_description:
          type: string
          readOnly: true
          description: Full description of the transaction.
        id:
          type: string
          readOnly: true
          description: UUID of the transaction.
        source:
          type: string
          readOnly: true
          description: Type of transaction typically starts with a value such as "withdrawal", "transfer", "deposit", "dividend", "fee", "loan_distribution", "loan_payment", and concatenated with a detail such as "ACH", "ATM", "Bill Payment", "Card", "Cash", "Check", "Draft", "Fee", "Home Banking", "Point of Sale".
        settled_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
          description: Date-time the transaction was settled. Null for non-final transactions.
        created_at:
          type: string
          format: date-time
          readOnly: true
          description: Date-time when the transaction was created in the database.
        account_id:
          type: string
          readOnly: true
          description: UUID of the account.
        category:
          type: string
          readOnly: true
          description: Category of the transaction. Defaults to `"Unknown"`.
        sub_category:
          type: string
          readOnly: true
          nullable: true
          description: Sub-category of the transaction. Defaults to empty string `""`.
        amount:
          example: 100
          maximum: 1000000000000000
          minimum: -1000000000000000
          description: Total amount of the transaction.
          type: integer
          readOnly: true
        ledger_balance:
          example: 100
          maximum: 1000000000000000
          minimum: -1000000000000000
          description: New balance as of this transaction.
          type: integer
          readOnly: true
          nullable: true
        location:
          allOf:
          - $ref: '#/components/schemas/Location'
          readOnly: true
          description: Geographic location where the transaction was executed.
        check:
          allOf:
          - $ref: '#/components/schemas/Check'
          readOnly: true
          description: Details for the check related to a transaction.
        tags:
          type: array
          items:
            type: string
          default: []
          description: A list of user-defined tags associated with the transaction.
        merchant:
          type: string
          readOnly: true
          description: Merchant associated with the transaction. This is often set to empty string `""`.
        metadata:
          type: object
          additionalProperties: {}
          readOnly: true
          description: Supplemental information associated with the account. This is often set to an empty object `{}`.
        note:
          type: string
          default: ''
          description: Notes about the transaction set by the user.
          maxLength: 300
        type:
          description: Type of transaction (e.g. loan, withdrawal). Can contain additional details about the transaction type.
          nullable: true
          readOnly: true
          oneOf:
          - $ref: '#/components/schemas/Type61cEnum'
          - $ref: '#/components/schemas/NullEnum'
        recurring:
          type: boolean
          default: false
          description: Whether this is a recurring transaction.
        flex_plan_eligible:
          type: boolean
          readOnly: true
          description: Whether this transaction is eligible for Flex Plan.
      x-stoplight:
        id: vdnfwxifwddg1
    TransactionResponseMeta:
      type: object
      properties:
        total:
          type: integer
          description: Total number of results.
        warning_id:
          type: string
          default: pending_transactions_failure
          description: Unique string indicating the warning raised during the request.
        warning_message:
          type: string
          default: Pending transactions could not be fetched for some accounts.
          description: Human-readable description of the warning raised.
      required:
      - total
      x-stoplight:
        id: ub6yse2o1e9au
    TransactionImagesResponse:
      type: object
      properties:
        check_images:
          type: array
          items:
            $ref: '#/components/schemas/CheckImage'
      required:
      - check_images
      x-stoplight:
        id: zklspzyfcxa9y
    TransactionsResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        links:
          $ref: '#/components/schemas/PageNumberPagination'
        meta:
          allOf:
          - $ref: '#/components/schemas/TransactionResponseMeta'
          description: Metadata about the response, including the total number of results and any warnings that may have surfaced during the request.
      required:
      - links
      - meta
      - transactions
      x-stoplight:
        id: kmnmughdcnwys
    Type61cEnum:
      enum:
      - credit
      - debit
      type: string
      x-stoplight:
        id: zppwuboksqgcu
    TransactionsDetail:
      type: object
      properties:
        transaction:
          $ref: '#/components/schemas/Transaction'
      required:
      - transaction
      x-stoplight:
        id: gz3wbl23stt5k
    Check:
      type: object
      properties:
        number:
          type: string
          readOnly: true
          description: Sequential number of the check used for bookkeeping.
      x-stoplight:
        id: julrfoba1ef2k
    CheckImage:
      type: object
      properties:
        front:
          type: string
          readOnly: true
          description: A base 64 encoded image of the front of the check
          example: iVBORw0KGgoAAAANSUhEUgAAAmkAAAEgCAIAAABgrHO8AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAO85SURBVHhe7F0FfNTIF+79zwWOg4NzV9zd3d2luLu7u7u0SHEoVpwCLVCkhQJ1d93Kuvtu/t9ktkudcsdx9Jj8vl92dvLmzcsked+8ZDJx4NjCFrawhS1sYcuLLIw72cIWtrCFLWx5sYVxJ1vYwha2sIUtL7Yw7mQLW9jCFraw5cUWxp1sYQtb2MIWtrzYkg93litXtsxnpT758P0SH33wyUcfIvHxB+99/AHWDAwMDAwMbxTeK/HxRyU/+rBUyU++/KKcjSbz5c7PP/ts1JRpm4+cXOt8cL3zgdV7D63ce2Tl3sMMDAwMDAxvFvYdXrf/0PbjZ4ZPnFLyk09sNJkvd37y4Qebj5wIMXPeEutjkemh2PpIwj1kYGBgYGB4w+Aj5R6ITcEmbvPRMyBHG03mz50ffYCI01tiuRIjux4nd49VMDAwMDAwvIG4Fiu7Fiu5J+ZW7j1W4uMPbTSZP3d+/OF6pwOPxaYbcXKPeAXWN+IZGBgYGBjeOHjEy+7Fi8GdK5yfy50ffrB676GHEot7LF84QXGTgYGBgYHhjYRnvOy+mFvmfOQ592w//uD9lXsPP5RyCFdvxstJ4UQlAwMDAwPDm4Ybicrr8YqHEm658+FPPnzfRpOMOxkYGBgYGAoCuPNGvMKHcScDAwMDA0MR8eq4EzXlymFgYGBgYHhtoMqTUyBeEXeimltJSg8+fT1BeSNB7pmouEHAW5CgwCYeSDAwMDAwMLxS3EyUX0+Q3UQiQQ5uorRlp7C8eHXc6ZWoIAN0Y2W3EhS3ExX3kxT3klVeScp7Kep7iSqfZNX9FPL3LgMDAwMDwysEoZ5EuXei5G6S4lai4nqCnNBWQm4iy45XxJ3A9XgScXrGix8lyXcEicfcE8zxEcz2Tp3lLQBmAj78moGBgYGB4dVixgPBnIfpY+8mr/fPuBYHjpPdSirsFu4r5M4E5a0E2f0UOcyqczHKYV+Qw75gh32BDnvtoDkMDAwMDAyvFiCgA6EOe/1bXI68GiO/Gvd6cKdHovJqvOJarNg7Wb7OX/j+kRCHfSEfHgopeSSy1NGIUkcikPgUiaPhDAwMDAwMrxYRpY+FvuPi77Av7PczMeeipHeTVXSATkF4lXGn7Gac5H6SsuWNOISbHxwOPxKWeT9V7ZOi9EmS309RPhAoHzIwMDAwMLxC+PDrJ+nq/ncSHZyCHQ6FbgwQPkjOeuqZh8so/kHuvJUgvx6vuByncI9T3EpQ3kpU+Kcql/llvI2gc29gxUvRBoOO46wcZ+TVm3jgLwMDAwMDwysAXcz0xzdN8cnBANBn42txt+LFXgkyEOT1OKVXvOJGguJKnNwj6RnB/YPc6ZGg8IhXeBLWVN5IkOEvSLT8hSgH5+B39j89HSvmjbcYDNoEmVYk12XINWlKAwMDAwMDwz+NDKU+Q2HIkGvT5bIMhVqpNxpNhsZXosGd7x4KWfIk3Zsff+uVKPFIkLonkBn4shPcP8idl2LlXvyo3xvx4rvJsvtJymYeCQ77Qx32BHe7nWQ26TlOZdAaxtxJKnPc7/tTYeVco8q6RjIwMDAwMPzzCC93KqrcqfDvTwd9czx0oFcyx1nOJ8jePuDv4BTy29mYM1Eyn1Tl7YR097h0+vWw7AT3D3KnZ6LyWpzsZqLsbrLycpR87K34tw4GOTgH/ewaHp6p5ThA7RQidtgb1MEjYYF/2kQ/4cSnmQwMDAwMDP80Rj/JHO2bPvFxxiJ/YaOrCd8cD0lTaDgrN9cnxcHJ32FvaPlzkasCRAEC9ZMUMpmPRwKZzMdOcC+ZO6HOg6z5ob0JyruJKq9ExbaAjEqXEv63P8jBKejDo2FX42WcBUGnOUasLX08os6lOKHSZDYqjXqV2aAz8aAJrO0Je749M/tfmlNQ2v43V7qgRF6YDNps6RyJXKUK0YYcBgYGBoZ/HcQn69VGjVav1XMm9d0k5TuH/Bc8Tec4g1Kr6Xgj3mFPgINzwEfHowbeSXGNkj5KUd9JUt5JVnkk2QjuZXKnZ5LqVqLSPV5+N0l6O1F1O0G5JVDUwz3us2PBDnuDHZwCyp8MPRSbyXF6zqLT6AxNrsSUPhTol6JU6wwJMo1QpUtXGTJ40ES6Sp+u1NOEPd+eSf4q9XwOSdC/aSTHVkQg1+YqmC2dXT8pYsuxK+RBtZGCan4TjywxWwLrNCUsz7aVz6EJWjxNQQSQw8DAwMDwrwPOWaLWi1WGFIVeplKlKbTDb8V/dTw0WQKG0sTJdV09Exz2BTjsCXLYF/jN2chRXqn7QsSukTIQ370k2fUE5bX4l8SdZPqiBIVXgvxyrOxuvGj9E0EVt8h3j4SSd06d/N7aH9T+ekykUM6PqjWYTZZJD5IcDvg7BWcqtQahSp2uNGSqDJmEonSZakozWNvYiKZJQp0jzW8laXvZDJQlxUkm+csLZ9qKkEwirLaB/8sLZKWzivD5fNUoy5tEcux6SL1ZltBN2WD/S6vg2ZeqyqqXgYGBgeHfhVhjFKv0QjCF2ixR67xTpG8dDml2NVah14KkrGbT5pC0L13DHZxDCIPuDS15JOg71+BZj1IeJAg94kBz4MGXwZ3XE8HDsjvxsqtxiksxiqaXox2cUV+wg0tA04sRx0NFer2eJ06LQmcc9iDVwTl45sNkvcGSqdJkypUKG0eSXUpXEK6iNIYEjeqwCT0FnhdzcBX6CzYxxHY8ldpzACpD1fJsZ6uCwiYP/VksS2rJqpdP2P4SSYAvZddP8m0JPq3UZdlAcpBADoFdWGmzioGBgYHh34UI9Ak6UBnSiCc3KnTmjcFiB+fQofdSzSbQJwjLkizRrnyaXuVcmMOBIIf9YQ7OAR1vJ95LUl6OkV2PJTHoy4k73ePl9xNlt+Pl1+OVzS4nOjiF/HQy4lCUWK3VcGYNZzFwnDlZomnrnuiw+8nMh6lqrTFDpRWptWK1LklGbthifwjr8HxG6QeUgwSlN7HOjL9Z9z/1aXIN5Ck/0YJ0TRMUQg2qIML8JhvP0U1UEkSI4nya10zojdSYVTXhPyqJJhbYWNNGgTCD30pIkQpTPbx5vELeMCLJMyi1k4GBgYHh34dKL0LoqTHRsAo5crVu4dN0h71B/b1SZRoNCfasas6kTVdrdoRmOBwIAX328Up5lKJ2j1NcjZXeeCnciej1eqz0TpLcK1F6O17a8kqCw+6AFpejrDoTZ1FxJpXRaNoVJf72WHipQ+EbgoVGvVat0QhkKoFcI1CbJGZOihg0KxZUWDhAqDGBrkCZSisnM3FJEoVYb1FaOIneAh4C7eGvwkzEaCkwJbZCMl2pFaGUhVNzHMoCEoNVZoSkEVXYuJBvPqmRbIUeFEddIq1JBWG9BVZRXkTtKKjiOLGOVEoh0pphnpyvGjKA3EQMBjI1RnAw/qJ2WjUF9KAgrZSBgYGB4V8HGEGkMYnURqFKL1HppSqVUKVd4Zfp4BzS8HJ4YDp5yGgykBg0WqZwcPFz2BvS7S7hTsSKV2MlN+Llf5c7byTyEyDEya7GSW8mSG4lSlpdjXPY7d/qUqRKrTdZLCKlrt/N2I9cAhpcifJNUeq0BplGL1SqwWEitemk2+U5C+bv3n8gVaaW6MyJIvmu/Ydmzpt/8eZtOQhPazx44nTvvn2bNm3StVu3rXuc4zMl4EKw1Am3i7MXLvbw9gUzSfTmp+Ex8xYv3Xv4GFjqsqfXvMXLlqxcs2TV2kXLVy1asfr0ZXcwokgL+iSBo0RvjUzJWLt52+wFizx9HoNEQbdejwNQys3dA+wIGah94B88f+nyZWvXPwmPFutJJjj76JkL85YsXbBshU9AiNxEePfAMVdUvXTNOr+I2LgMyZrN2xYtXwksxHrFKlRx9Mx5iAm1JnrMGBgYGN448Df/XhPYIygh6ABhlcooVOikKrVcY9wZLv3yeOi3R0M2BgvMRpPVrAzPlJK4c19gL6+kh8kqj3gFeaPkpcSdUOQeL78RL72VpLyVoGwJ7twT2PBinExn5DhTlEzt4BSy5mGiRKNW6c1piOfIXVB9usqAwPHc1RulPy35ZdkyNx88MnHczfsPvyr3+Tdff+nh81ihN86YO/9TmPb2W19/We6Dd9764J3/9R80KFEsV1u4KTNm/c/BYcfe/QjyEGBfuXW35McfdejYUWLglq5a+/7bDiU/+uDdtxze+5/Dh+++XabUp+u2bJcYSKSI9kI0+TQipkqVyg4ODo5Dh4HVEKQeOnkGwmA7BK+IKRFHgsI/fO/tTz58b8PWHTqORK4oPnLsuA/e/d87Dg7b9uxFJii/YcOGH7zj8PWXX9y46x2WkFqxYoWSH77/wduw9i0oJFUMQxVmkDE9WgwMDAxvGhDVUMaiTphPUNjGjvB3EJ/lZxMg6VwgpfhXHpBOV+YjAwEeJJFrU74Qg0fJjVyTTGOKzJR+cTay3Y0kzmwmFCbXvuUS4bA/tNO91EfJitsJiuvk6aTi4cvizpvx0ttJqmzcGU+5M1qudtgffjRKYjWB5I0C7IlSTwfHIsJLV+kGDR0KipkycxbC4xlz573t4DBx6nStlTt9yf2zkp9889UX67ft8AkIcj509Oeffijx4fu7DxzWE8n5YKbd+10od169fe/zUp926doV3Lls9TrQ28jRY92uXTt7+dqseQtKl/ykSuWKEclpiFnRlHIz5xcRU716tZIfvf/t119e8vACbR894/bx++8sX7sBzCo1WhMyZU2aNPnovXfe/59Dn379ELBK+Xh39LgJJT58D2ZMnj4TehDv/vbzj5+8/+73335z455PZHJ6+T//qFj+z/1Hj5+6cNn1/KVjp8/defQUvEtvGjMwMDC8UaA8RxN2JqMJym2EBbMGjtjl+ZxnhJod9jcdMpSEkimD5gXP1s/UFgJEn+BOPqKDpFGiMfx6Oa67RwrPneZIue4tl3BwZ8cs7gTfvXzuvJ0Pd2oc9oWejpNadBoRdlVtFKkRI9MxqwaEd5du3vm8dKlqVatcuuVVs2aN77/9+t7TINDh5BmzwI7jJk1GUIgID+u1W7Z99O7bPXr2xNaZ8xciDN194KCdO8uW/qxrt248d67Fph37XKjxCUJZ+d9/K1OqRGBUnMzMod1RqX9kXI0a1cuW/rRUiY8HDh6iNFuPnTn/6ccfIGaVGsm8R+eve5Qr+3mtmjUr/PnH77/96hMYhlrAnWMmTPzi89K169Ru2749AlbXC1d++uG7L8t+/tOP33t6+0amZJT/88969eoq7FMNc5zKyrHnnQwMDG8mQF3ZKZAnMxv58X9tacKCvJ+knJe16ZkeO+DDiWQWI9pV2UG1kQGb/M1CcE32rfkC9CnihZGWak2/Xo5/1dyZX9ypcdgbeipWYtKqhAp9mq3hiLnYPURjEr1pwMBBH7/3TsOGDct8WmL85MmgQ2xt1qxZqRIfnb58jXCPSq+0ct7+wYggq1erkiCSzl20pCDuXL5m3QfvvDV5xkyfgOC7TwL2uBwu93npps2axmdIyVAjlV5h5gKi4qtUqVK9WtVuPXp+We7zm/cfnne/+ckH7y1dvVYOhVZuwZJlbzk4rNu8bfL0Ge++5bBznwvMwDEDd/74/XeOQ4f//OP3yWLF0pVrqlSpDLL8+ouyUBKWkFq1SpXvv/m6b7/+Q4YOHTBw4JBhw93veksNZhZ3MjAwvJmAq6eRJWhMpDWr+HAILl2ktY24hAx9Ox85cOmIXgCJntwmzDesRPyjt8mQQSe5ttJSchMdPZpP8byAfxZrTGT0kEov1Rh+u/LK4878uXNf2JFosV6vQcQpUGiFiMf590NgMXYSnHTF8+53X3/5yQfvgpbAgmjWFKmqauWKn5X4+O5jfzQlhNEKwbFJlStWrFj+z9CE1HmLl+bkzvt27lyxdkOJD9//qlzZsqVLfVGm9OelSn5Rtsz+YyfR3PT4oU2fhkeX//OPhg3qX/a8++vPP3bv2fPAiVOlPy2xfO16BLiJIkXr1q2/+eoLhJuILEt+/EG/gYPEeqtIZxk5dvxvv/y8YNmK777+6prXg4GDBjVp2qRHr14IRj0ePIpISqtRswbiV/KcM2txOnQUxzj7cWJgYGB4c0DIjI8mpQYuNl189sr1PfsPItjIUBvpmw6QAdvJjFyKTH3Z847zwSNHT58Ljk2Wm7lcoSd5/cHE3Xr4xPng4RPnLkSlZuAv1UAB9qWs+cA/eNOO3Tfu+Yh1RRinqSGhJwDiVGqN/8I927xjhcjzzn1hJ2OkBgP6Agi0DeKstyQp0A0Rak2OQ4e9//b/BjoOEeuNUoNVINeAk8Cd56978s1H3l15FBQGOqxapVJ8JuJOwp1Oh46g8wK24+POUpQ7V67bgCi2cePG46dMHTZqdKWKFUp/WnLVhs0SOlYWNGwk92wrVqpYo3q1eKFs5rz5n3/26eBhI8B/4E50Z3BgkK5Q/s/Dp85t2ulUrsxnIOywhBSJkQN3/vT9t3sOHqldu/aMeQvad+gwduKkQYOHlC5VAgcJ3IlSf/z26469+4+eOnvohOvB467+kbGIrbPvMgMDA8ObA3rPVmKwRqakDxg8pGqVKg0bNqxUsSKcJ8Ik+hKg1Gi97OnVrn0HuNDGTZpUqlSxdq1aB0+ckhpJ4EEjV0SH8N4r1m0oX/7PRo0bVatWrUmTJnce+YEdaEUQAHfAFY+dOLlps2aIoFau34jwjG59DggB68Uag1xrrHg1vrtHMmexgDsjZNo83Cl7dXHn2TiZ0WAUKLVCdDRycif2Fuy4YfvOj99/d8nqtSDCTI0RhDp89JiP3nsHHKnkyNuTCEY373b64J232rZti79TZ87+8N23tzvvR0hn5bijp93ee/t/3Xr0EBmsK9aux6Z1W7ZDFTTvPXqidMkSnbp0SxDKEeCjRmT6RcRWrFiherWqsRkS35DIP37/rVzpUmVKlQDFoqJla9cjXebTEqVKfAxaxaavyn5+4NhJBLijxk/45sty59w92rZtV6Vy5fr16zsfPtZvwMDPS5fy8PaNSE7/8/ff6tSpDZa1LyiV720HBgYGhjcB9MYpYiR49ebNWwRGxUi0+gvXPb/+8ovNO3dT5kO8uNvl8LhJU3xDItIU2ujU9PGTJv/+26+PQyLtt17BgifcLv70w/cHjp6QaHTBcUlt27Xr0q075CU6Er8i7vLy9QP1Og4bduehb9/+AxavWFVU7uQh0hikWmPV53DnqxsrFHaG5860grlz47adiCPBnYgjkYmg++hZt5Iff/jNl19s2e0UEBV/7Mz5KlUqE7502mfguKWr1iDdtGmzO75+DwODu/fs6eDgMHrceIOVbIKqtZu3gTuBM1euly3zWes2beOFUpHOgsAXR8IvMrZChfI1a1QH26ks3PTZ8z58938gyzWbtwq1hlatW3/8/jtjxo9HCLt8zbpeffq8/ZbDiFFj5EbrqHHjv/6i7IOAkBGjRn/03tu//PTDTW/fPv36gTs9fR6HJaYizEWQeuDEqXPXbp66dPXkhasInRNFcvaOCgMDw5sJBJ3w849CIhEpIs4BMcAfIkpZsHR57dq1kyQKxEvkpq5SL9ZbEFkiyIHrjkzJqFu3zrEzbqADhB/kzXuNvt+AAYOHDSPPSnUWhCX3ngT8/OMPlzxu09uTqCguQ/woJEJi4EATvfv0WbxyNR1AU0RQ7qxSXLgT/Q4EfCC/OQsXq+ijQY0hRapGRA9KK/nR+z98+/VnJT9+73/kXcm4TInaYr3vF4TQ/oO33/ru6y+//epLbPrzj98Q+ek5bv6SZVC1Yh0J1WVG6zWvB6VKflyjZo2olHT68BnH5nFY1E8//vDn77+GxCfjADzwD/nzz9//5+CwZuOWO77+X5Qt8/NPP4Jfoc3EcTgwJT76oEL5P56ExYweP/6TD957FByxdtNWyFeuVDE8JaNL164fvvf2jfs+oQmpv//+20fvvo1oFZFr6U9LfPzBuzVr1QyJS8bhz77XDAwMDG8IwIvwxi4nTlWvVjUyOYOM2eRzrt25X7VqFe+AEPuNWazJw0uNEcznExhWuVKl8+4e8NjIlxisoQmCJk2b7D96AkwJYQSyKVJV+44dl69bjxzERSgr1JggjzgV/Nqzd++Fy1bYOKVo+Ne4s6B7toVzp8RgOX3paq++/Q66npEYyNS1aBe0L/ojiDK7du/RtFnzdh06rtqwKT5TyreyEVuved0fO2ESNjVr0WLwsOE4DOhfoPjhU+f69B9w8vxlxO8ijQm8NXr8hHGTpiB4FdO4Xm8JjU8ZN3nK5JmzYtKE6AEBO/Ye6DtgwLmrNy97evXs03fVxs38VEQmFIlKzZwxd96gIUPvPQncc/DI4OEjAqMTwNOoFJSfJFGuWr/Jcdjwx6GRMWniyTNmQRKbHIcOGzxsxABHx8kzZ0MDeT00214zMDAwvAmAywXAhcvXrG3RogV4EZyXQeaoscJnNmrc2PXCFQWYjx9nS4HY0d3rQZdu3Xv16ZMkVsA/gxEQfjwJi6pcpfLNez6QRyQKSZHOPHLsuEnTZ5D55tSgGDIDA1HC3+Dt3bfvwhWr/rPcSYGmwW6n8d9RAbDzWNNJa1Nl6th0caJILjOTWB5NBtBoFdwWlyGNz5ShpUi/gy8LJVAFhcjkx2gZ01WIYsn0uVQt1Y+/RCxLW6bGlMaP/sWan/mdzGbAP+ImnSAoIfL8JnrMiAYFFNrODH42eRuIHjIdPBUj9iBB62VgeNOAKyLbX1xWz8bN4Qq1Jfhr0A6aT9N067O/2d71Qs+YCgCQgTcAkKaSGWrSBbf/pTJUmM/h347IKksz6VaGlw4cCD24c/Xann37CnVmHCa0ORgRQUXrtm3JSxC2O656ePgEoax9hw5fli1bplTJ05evqTkOrAFHCi687nW/zKclHzwNRJoeNVDmyDFj+wwYALLAuUGV0E0giD59+y1esRoa7JbQTYXgdeDOHONsKXeSF1QK4E60JlqNnvrZgRMa+Qja0EZ5T260PjYBSNgzySWks71PCXYkOSSytOQorjGiSK5SaH3I0BqpJYQm+Q+KQRKZ2ETEeFUAElRMpDXTskgTtXoLVW4HrYKB4U0DXBX6jrg00KEEUSn5ry/ITLYX+0jPVUkE4BmRCWcnt9g+z4C/UiP/IQcyR6ZRiq1mDpEHZOidJ/SVJXrymQcIoCJcpFCSyn/IAbwoMRDfCodDqjNnr5SMpYAGqQEgt4JID1tt4P+S24DP9a0MfwFodhJ3rl7bpVs3+F569HH4wJ1t2vHcabFxJ41SLnt4HTt7YejwkVWrVrl25z5/h1avtHC3vH3Llfns/tNAyFPN8O2jx43v2acvdOI8QVk+pCG9IiVH7tkuWr5KbeXsAQxfC7GHFs+LonHnKxxn+9y48x8C2ogO0HohoN1xVdM0itvTDAwMLwTKRrgMyT0buebYWbfJM2auXL8pNCGV9jUBocbwODRyu9O+TTt2r9+647KnF2jyUVDY/KXLIXzjnk9smmjzrj2bd+7esstpm5Pz0TNuqTLNtTv3Zs5bMH/JMp+AUHhhdGRnzVs4ddZsxDeBMYnL1m54GBiuNFmTxMod+w6MnTR5x94DyVIVGNTjwaNps+agrNdjP9KvRT9Yazpw3HXKzNkwQ2Zkz1ZeMnACwIuCO1et29CwYcOMrPsQ6Kw8Dotq1Ljx8XMXFGbS7Dhb6AkDatRypIszZMSIzl26iHTkVEGnxzc4omKFCrd8fHGG4IxCJnpFI8eOmzB1Os4BooHUxX+qUs0/7+zVexE/zhYGUDNIV+klcOfrMVbonwCaKVND24jUVUhLFQQURCm+xWma0ScDwwuDv4iIN5SZLHtcDn/7zVctWrX67Zefh48akypTC7Vm+DJEFRu27Sj3eelmLVo0bNRoxbqN0YJMJGrXrtWqdZsqlSuevnS1ecsWdevVbdCgwcfvv9O0WdOzV2/8+cdvTZo0qV6tWo3q1ULik5PEikoVKyxdtXr/0WOt27T5+ssvLt68BX89Y868zz/7tGOXLl+VK7t45erbj55iU/OWLaG8eo3qT8KjIXP7kd9PP/7g4ODgdvU6m8bkpYP6TzTsgWMnq1apHJmcji4LTgxQ2pVbd6tWrfrALxjMl9XNInMPIY1IUcdxR067NW7SJDQhBQJSozU0PhXsu+/IMXBnuop8EVKg0Hbu1m3p6rXoFZHiz2ok+nv16bNk1Wr6vJOeipRW7bblRfF73mnvhNr/Zs/J9ZeCBun5/kVazH+6hDIfcnJpoA9dkANJO7IL0KOIHCiBMLbmlQeQU5ASdGbz5mfPoZl5c2hxBob/BnAdwRtqOK5P3741alRPUxmcDx0tU+rT+/y01Ygt4PWmz5nXpm3bk+cv3fJ5LDWYdh849OMP3+87dtLD+/HBE6fDk9Ji0yWpcsX+Yye+/urLw65nD548/c2XX1y9fX/nPpfSJT9+FBxx9fa9atWrunvdHzp06K8///jjD99d8fSCY+3YucuwEaMQgjgOGwYvDA0dO3UKjU+BDSBy97sPFCau/0DHps2alS1dCtyZ/dkYw0sEDvTDoPBqVaseOX0OpAinCjZduGxFzZo1kyX26RH4ifrIA1EzolJ0a6bPmYsOEx0uxN8hMPYfOGjwsOHktRMN+eLyA//gP37/7bz7TRRELYh24HjJ7X0zZ+a4fgMGLF+7HgnIy4yEXFELxCgp5Itixp1oFyn/OBNUhzTZT/pgg3z2hHwyDGn6qAPsQovQnefHVpG/yEfwjnYR8R/BRiIgKi5RJEcjYhOUkCegzx6mEkZEAjkoZdeA5ib5fJCaQeawIHM7oQscGJMg4Z+XUEnYiVJ2S0jVWU80qRK6CZmQzM6FPJua0QL2HDv4h6mMOBn+g8CligsQ7rL/gIG//vyT1+OAZavXlilV0vXiVcQT/pFxsenioaNGffl5adBhpUoVr3ndX7FmbakSH9dv2KBq1SpjJkyEgJ7j4jMk9erV7T/IEX4gOC6pYoXytWvXrlatauu2bSU645wFC1u2aiWQa0wct2Pvge+/+/bCDU+p0fIwKCxBKPWLjK1SpXKnLl0QdkBg75HjKF63bt24DKnL8VNt27U/cOJUuTKfXfG8w+LOfwI4AchjTp1p2MhR9erX8wuPUpqtV+/c//OPPzZu3wWPDceYptKv37pjj8thBKY4Z5JE8q17nL/79uuV6zeCF+lst0jsP3ripx9/OHr2PBxydGomgs4OHTulytVwoTi48LFhiak4tU5funbJ43aTJk36DRh4yfP2yfOX3e96k1sdWRO+F4TXfawQtZ6/qMgT4ASh7KDrmUSRAo0L2jt08vS4yVNXb9wcliBQmrjA6ISlq9dNmDrt2LkLfMSNY2BOyJTNmrfwkOtZtKDUYIlMyZg4bcbpy+64RI+dPd+0WVOE9nXr1NnuvF9msqYpdcvXbjhz2R2Bv8RgCYpJnLdkmX9UnKe379CRo8dMnDxq3ETHocNxFJMlSrGOPMfmm9iweMXqevXqoU/avWdPdJM9vR+PmTRl9IRJI8aMhYWjxk90OnwMaoeOHIW/YyZOGT567KYdu9H3gT0z5s4fMXY88kdPmDh64iRPn8c+gWGjxk1AcVLj+AmzFy3ee+zkxOkzx06cMnLMWKJ27Phd+w/xtdtpnoGhGINe44DUYL5483aDBvWrVqsKwvv915/nLV7yzVdffPrJh/OXLLvk6YVL9fpdn/r167du3XrarFmIAvcdPrZh2/b3/+dw4NgJhA64PMuVKY1rFuR35LTb77/9Om7S5AGDHCtXquh2/WaHTp2mz56r4ucH37obPvcbt2s3EZeAdN3cb1SpXLla1SrXvbxV6JGbONeLVzp06oyCLidPN27SeMLkqTv3HoAlW3ftkRtZF/blA14dAL0FRMd37tqtTp06vfv2rVW71vjJU1OkKome3LqH712wbEWdunUbNGzQqFEjrMv/+ceMOXPh83mfTM4luFb8XbKKfIGjV9++LVu3bty4MZ2TjwiQZ6gWnCHdevTo3LUrnHb79u07dOhAEh06zF20BESDwAaWQFUuC+14vccKabKIk2/T+35B6Fq2at06Jk2EE33LLqc///h9/qIlzZs3B9MkZYp69enXtl27WXPno5Ny8MQppYnEmgjvlq1ZX79B/RiBENVs3rm7Zq2a4Umpl27e/uXnn+cuWnz97r1VGzZWrlzZ+fCxdLWhc5euazdvQxwJ3HsaWLdePQT7+44cr1692r6jJ10vXFy1buOvv/wE2sZhgH4ErCBFXF1OB494PPDu079/6zatvZ4Enjh/wenQUfSOx0+cfPzcuTuP/ZevWYcO7IHjp46ePrdu89aqVaqAvP2j4nH4N2zbdeTUuQPHXF1OnA6NTz7keqZ5ixYHjrseOnnm4InTJ89fuvng0ZHT55wOHcNZMnHKtCOnTsF94PxAZEwPJANDsQYlTlzmOKV9gyP2Hj1x5sp1eDEEecfPnl+6ctX8xYtdjrsuX7P2xt0HBo7r069/rZo1Fq1Y9duvP0ekZARExX303ju7DxyUGy0IK+ErU+VasOPk6TNxDaZI1bcfPvnxh++mzJoDZ3rh5i30pEGfG7bt/OH77867e4JxD5049fWXX/QbOAiXJArichs1bjzseeAfUqH8nyjYu18/uPIqlSt9VvKTFi1bIjSBi8+1Fwx/E2hw+v0PhD3w86cuXnE+ePSyp1eqXCMm726SNwZxnkgM1uDYJMRI+44edzl+6u6TQMjTu3r0LEL0BdYArt/zgWc+fu4iAiH7zVjo4cfTEmoU8ff8pAYr4iUkEI2k8WOwgawTMreRFK/3WCGN7WkwGiVRJF+4fOWfv//WunWbRIkSdvfs03fluo2o9N7TgMZNm569erNXv/6BMQnIGTFm/ORp09HrxM6jfxGXKW3cuNGqDZtwuteuU2fLbmcNx3Xq3Hn85CngYKRRPbbWrFkjIjkd1+TGHbvAi2hosGbT5s1x8TgdPNyrbz9cbFisHDd46DAEixDAdS41Wles39i1R3f6Jc7olAzHoUND4lNwNeL6xDXscuwE8lHRsjXrHIcNR110GTpi5OTps56Gx3Tr3j1ZSnUT5bhucbCHjx5Dc7CgrNRI1kKtqXmLlifOuiETOagdfatcR5SBoZiCuip0RtHp/OOP34eNGl3hzz/6DRiICABXEwCP2bhJk2+//nLI8BGIRGcvWBQcm4hOLTqazVq0+OWnH5+ERvhFxn/2aYnR48bheoGq/cdOli1TukfPXq3btqlUseKgocMqVawQLRDCUeLCX7Npy6clPrnkcTtTpUcX1sHBAR6mcsUKoMntew98/MF7vfv1b9O27U8//gD3HZ8piRZkohsNsf1HjrPnnS8dOAHg8LEmCZ604BbRzvDGYDU6XNYOsB22KjnSB8KJQTkVwCZCe+T1fcIdiJ2gQWkl7ynhr10/BdTi7MoO5NBN/J3LZ9XlxWvNnSIVmbsAu4EdFsi1YFB3rweIstEfQb67l3dkSgYI8ugZt9q1az8MCvePigmNTzl96WrrNm33HDik5h9nojja98ips02bNe87cFC3Hj0lam1gdELDhg3d3D3QpuiA4Brz9g9BPHrl1t3+Awdt2rkHLU640y+oSdOm9/2DDxw7gZ7m+Ruenj6+py5ebdasGeJOmREHQw/Js1fccUEOHzkKld73C6b3UXEMkiUqXNJ79h9ENxkUiwu1bfsOuAih5Ljbxfr1651wu+gXGdeiRcvVG7dA4R6Xw0dPuwkUOvR5EV4jDnY54Qo/4nbdA3sh1lkSRYrGTZscOuEKfiVHl07IkOegMjAUO9DLnO8LGqNSM5avWYcrET3UoNhEET88hFwCevPD4PBxkyb3HTBg0bKVUamZSgt33v3m4GHDBg0ZctLtktLMhSakrt6w6cZdbxn/KdwksWLbHudBg4cMGzkKAjv3u6DrzN+wMYh1xpv3fFasXe8fGYfO63anfQuXLgOmz5y1fsv2uAwJurADHQejo4zrEfLoCsMLB0bHz1+0xD8iRmZkb2O/fFDCo4ebd3E0+KNpsrbn04NIgRxakN6wRU6WEv6tXNsQbrJJmNVFyyQTYkAV+ZsD/CAbbCLcycNeSy68Ds87CxsrhB3IagXCUtfveoM7I1PSEaGj2yjSmrc67fvj998WLV+JMxvL1Vt369ev/9OP37tevCozkQFE2ElcQulK7QDHwaU/LXHe3QMd2Pt+QY0aN77l8wTRG5TLTVxwXDJixGPnLvQbOHDj9t1gU2TefxrYpGkT74DQo6fP/fD9t+CzFq1a/fnH79WrVQuOS5JDP3+QUPXpS1e69+yFyLX8n39MnTUnVa6R6C0pElXLVq2cDhxEFxhMvGnHrp9++L55yxbIrFKlMhCeJAhNSKldq1bt2rWaNW9Wv149RL38V+vcf/vlJ3SxmzdvXq9+vZnzFwoUWvSzEkQycOfB4646njsLP7QMDMUI9BrHGk4Q3X8SamhNuLKQRkeZ5iOBywqZmVozrlwiryKTwiDsAOAfkIOLHVcHLt40BdEGF4H8TDIHApk8ARp4b0AcC9L0dg4iEhhA7z/hL9bQgJ46CqLDKiZDH569U4h8eBpkItCxG8/wUkAdmt3nk4QtbXN0VIAgK51V0HZ0eC4km7KEc2imYkjgXKIytGx2IAeVkjU/1w2VyRevA3c+Z6yQfSdxKl+9fQ/cGS0QIl6MSRcNGjK0bt16+46eEPPzMz0OjUKnNU2hnjZrTtfuPbIGNBMNuDCOuJ7t0r0H0uBUMF9j8qbtRXQk0UBY33n0tHr16nd8/fsNGLjdaT/047ryDYkgcadf0P6jJ9p26PDAPyQ0Ifn89VvVqlU97HoG3AnliDJv3PMJiU+GkvhMqfPBIyDIyx5kGB46s+BJcCfiThi/av2mbj17+oZGBccmIoBu2qzZ3sPHH4dFd+jY0S8yFqbiqoY2+AJUh13D+QFPQY4of+yxj4kiOexxOXYSylE16TplnRwMDP8B2C92ACyFywE52V0YTYNQcV3wlwDJxIWDHCRocfuaBwRs9+WQyRfM4VVoXEKBv9BPXSf9ay9I67WL0TXDywVtXhwa+xHH0eHzSQ7dRP8+O3xZ6ay1LTO/rTmOe0GgtdgtybU1O4rGna/HvEKgnyu37nbp1i1aIFKYLVNnzgL9BMYkoRuI3uLlm3c6demaKgOFcZt27mnfsWO8UIbLjy+rR+7pi9dGT5hEe7VSowUc2bptW9AbdlqoM40aO75Lt+5Clb5vv/7DR40GOSE8PXDsZL169cKS0nbtc0G9YHTkow/bs2/f7U77EJvi0IJioXbk2HGgZyxpCl3VKlWOnjoHk1IId7bcs98FpcCIK9dv6D/IUaQjH81BT7bvgAHrtm73j4zr1KVLaEIqikOVxEAknQ8dHTpipAyxr4WQLoJsHEUyZlgoa9wYcSflTtKBeu6pwMDAwMDw0vG637PNbitY5LKnV4dOnRDexaSLETi2btNm+uy5o8aNnzh1Gv8h08aDHAcvWr6yeo3qazZtkZH5I0hBEIzKyh0/e95x+MhUGf/NE73l3tNABJpt27Vds3Fj3/4Dfvvll0sed2DH/iMnvv/um7ETJs5duPjPP3+HfrWV27rbCWScKFaAL8GdCArnLlpC7gmTN0c51wtXqlarOnrc+NUbNnXr0bNdx47hyemQTBYrGjZquNN5H3gUjLh01ZoevfsI5BoQp1Br6jdgwPwly4NiE2vVqjlgkOO4SZNHjR2HffF67H/y/OXKlSqOmTABZowcM3banLkB0Qn0FZ0GDRvuO3wUREtuKTDuZGBgYPg38K9x51+Yk0+itzwNj9lz8EiyRAkW2bLHefqcuVNmzpo6a870OfOiBJk+gSGjx0/o0av3zr0HEF9mamjoTTgGdPXAL9jl5Gl+aDLJBLOCPlG2a/cek2fMvHn/ISJCodYo1JmPk6eeg3r26bNrvwvqkvFvAu0+cDiF3AQmM1kcPn1uu/MB/harMRN26sxu126OHDOuV99+s+YtfBwSgRgRBsOGzbucbj98IjdaxXrz5Vte+4+dRLyIUjKj9djZ8/gbly5G9Dl5xqzJM2ZPnUl25O6TAP+o+DmLlk6dOXva7DmTp8+av3R5cFyy1GBOkSg37XJCL4F/lEv2K3v7MDAwMDC8GhSnuJMHmY6Z3q4EP9FPHGDNP8w3gg6RRlhJRhOQmfLJmGYaemIr1nQELH1QDBIV6ywSvRVcSPQYyTBo8gQFxGayzfZEElryQTgoQQ4SoCsUhB4oofn0oQsxgDx0MSOBtQBb+XiXDEPgBz3zXE6+i4Q0ICDzVhBjMnleB2AA2RFeHpbQv/xdXCt9jSyNf3YNM1AcCVKWf6CNvzTNwMDAwPBqUJy4kz43Bgum2UiLBHB85EdIkUaTNAeMQgmS0AxhGjvB2KgLGvCXkh/PYShC3ochtfBPiUHAIGkqDPCStnukvEJSNb+JN8n+VBlm2NTyBXmDSRHbGDAiQ9NZJtmUQBIJ6ES9NM2TPdkXXoAaT2Vsww5pPmXuooMv9SxtXzMwMDAwFB2vA3c+5/udPJnZ6ceQrrIRDwCCFPBzQJB8nkUIsYEM+K2UhMjfLD7DmnIq1cYrt6kim+QaOkUt5UgA6Vwy9oTdhiwZW11YkxAzWymSj64AYfRnNtDi/JpIkjiVV5Ul/+wdXqozK8e2m3wp2yHMC2oeErQgFc6pRJfBG5CmIK2XvSwDAwMDw3NRNO7898bZ8o6ecIzUQKbpoTQAdy810le4CMGo+JE4SiuZYIJupfc5M3iuEsi1MiN5WwvsJTeTqUaUFiKJTEqudlIBDRM9vDZeFf8GGK8KCskmi22SC5WVDH+FKuhEQUCkNSMTDYpS/JqA/oWp0AbzNPxEJKjLZjAPmoYY6BN1QYzKIABFXbQgrRcRJyxBDioCkIN8CGcHKoUM0YxSfFmqHK1Hwmj+k8LEeBNZi/UW2oC5lDAwMDAwFI7XfawQT0LkZuadR0/vPQ0k8yrxN1T9IuNu3PchN2/V+gs3POcsWLRw2Yrrd73po0rfkIgH/iF8xGZIU+juPPILjElMFCtu3PM5d+3mmcvXzlxxv/s4AMXpTVEynxP/zNLT23fh8hXzFy+94ukFOgRdeQeE+EXEPgmLPnPZHWWv3r6HskhfvHn76q17qVIVaUStKSo189LN22EJqUgjxx4dQqdfZOzqDZtmzZ1/9NS5TI0xNk2E4ufdPS57el28cQvp614PICwzmJ+Gx7h7eYPPpDoTanS9cMXN3QOWXLhxC+kHfkGB0Qmo9+yV627uN89ccr9y+x6Zszjr2yyARG8OiIo/jR287O527SZaxv0umX3pvl9QdGpmslhx7c798+43oeHsZffwJAG9L20vzsDAwMBQFLzuzzvpHUsEeXsOHq7foIFfRIzKbIlNF7du227uoiUSgxmU+ccfv/fq06dL9x4//fj9HpdDiMwWLl85Ysy4TA15FwWU2af/gD0uh59GxDZs3LhL957DRo3pO2Bg3Xr1dh84hAiMp2cyO8nRs+f/+P23Tl269hkwoFKlSrv2uyBKmz53wcZtO92u3Rg0dFiPvv3K//ln34GDoHzpmvW169Q95HoG0STE5i1aioIwLOuNUkL5cpP1SWhUqzZt2nfsOGzkyF9+/mn91u2PQiIGDx/Zf/CQqlWrdu7WY8DgoYtWrEIp7MvwUaOxC2B9E8edvXq9z8BB/R2HVK5cuWPnrgOGDD1y2m31pq21a9ceMXbciLHj+w10nDFvQWh8CuJa++FExHnu2o3BI0YNHDJs3ORpDRs1qlSx4q2HTx2HDr15/6F/REz58sT+keMmNGnaDFYFxSSxz98zMDAwvCiKBXcisDMniRVNmjWdNX8Batm627lataoR5Fsot3766cfTl66B+UAh85cuq1SxAoKzxStXDxw8BEGVzMglS5QdO3feuXe/b2hkg4YNPR74SnQmkdY4b/HSTp27pPITa0EMpWrWqrlo2Qp6e3btlm1Vq1YJSUiZNnvuslWrNRaLRK9HdSC8p+HRmRqDSGecNW9Bi1atEPgip2q1qgeOuSrJndVnHzZRWblV6zd27tpVaiAzLTi5HK5YsUJIXJJYZwiIjm/eosXBE6dQnH49FIFmvXr1fvrxh007dqk5DqGwQKGBWJOmTQ+eOC3S6GVG85SZswc6OqosFvqUFxEq1vbqKLApQSjNVOvJHtWoMWrceOR07NTp+l0f36Aw2O8TFCY3Iq6Nqlyp0u79B0H8uTQwMDC8LJwc7uAw/GKuTIb/AF4H7ix4rJCGcGeagtADokm3azfr1K3j5u7RomXL1Rs36zhu0rQZg4cOk5nI40ypwZoiVdWvX3/X/oPrtmwfMnyESEsmsURmtx49d+47AO5s1rz5fb8gMBOCxVUbNnXt3iNFpkZZ/D166hz4OEEoA3GK+Bl8LnvciRfKJ8+YtWLNegM/xaXHPZ/adWqHJaRCBgErEnXq1NnhvH/C5Kl9+vUT682g5PSsQUCwGbS0fsu2ypUrXbtzP0Oly9Sa3O/cS8iUIj8mTdS6bdvjZ89jv2AnFG532tejd++Fy1f17N07TUk+uIMqIpMzWrRs5Xrhipa3eeqsOYMGD1GYzAK5NlWmBneiFvQt+LX91iv5ng4i9VFjxjVu0iQug4TCXbp2RafB2z+4dp06EcnpOFJo4TZt267fugNVZ+d7Bobig/AVdRyylnorgnNtfS3wz3Kn20iy639Vf7oKMJKv96sNQqzhQ8hITE2GUidU0xGXWiBdiTWcMJDt+U7BVZNdti//3X5D0bjzXxorJFLr6CfWEF3Bv4t1ptHjJ3z9Rbm27dolSxQSg6Vt+/ZrNmzSk5nwyDhVhI99+g9cvmrNxu27ho0YhRywCOJOcOR25/1Pw2NAvZ27dhs6cmT/QYMqVii/Y+9+8BPEwDSrN2zq0q0b9NBHgOAz8CXiyAlTpy1fvQ5pkNwNrwe1atUMjk0CW6PtkON86GiF8uXr1avrcf+Rkny2hRAn37IkASXhiYJBQ4b8/uuv9eo3mDJj1uOwKJSFVZEp6eDOo6fd8Je+JNO7b7+tu52CYhKg8PbDJ4hExTpreFIaOgrHz10k44M4buGyFT9+/x0C1uYtWlavXn3uwsU0akRdFPSgInP3gUO///qLp7cvOgrYqc5duly/5/MkNOLXn38aO3HSouUruvXsWa1atYeBYdh3WoqBoViBJ846Gx/Rv8Eba9nTfw2EDF4+Af9j3Jmt3/CXuZMf5491mkKfoTSkK3QZai067gAcr0ChFshV6Uo1z6AacGoWdxZSdc6D8p/GvxZ3FmWskERDRpzC9QM4lqCTB37BP3z/3aGTZxAFCrXm3v37g07UVjKUFDsjNXGgSXAn4s7ho0ZnaowSvSVZourWsxeiOnpTdNTY8ctWr52zaHHlShVXrFmHYA5VQMOWnbtbtWmDaEykIXMgpCl19/2DEX1OmTkrO3fWrl0rJD5Zyn/DAfEcKBzR2/jJU6RG8t1UZKIHB0vorVR+FgVjqlxzy/vxtj17W7VuXalSxaCYRFQXmZIB4j929jz4XmrgnkbEVKpYoe+AQbPmL/qqXNktu5xoPkLb5i1bHHezcefs+QvBm8dPn9p/5Nju/S4Xr3sIydxJAOlhoEasIXb/aeCvP/+8ct1GpEHMArkG3Onh7fskNPKnH74bN2kKGm3+kmU37nmjo8C/SJrjnGBgKA646OjgUGtdeJ78v4pixZ2P1tXjreW56q/qR6CZISeuNUWuTZCqk2QaAXhUpU9RaJPlmlQ5nf7FNujE7mQKqZrfNPJktpz/MF5r7hTz3MkfP2KrxGCNSc1EkHft9n2EU4jYFixdgbAMhIeYT8sRBkIsdeay+4btO7v36pXBP3EUyLVgqT0HDtF7tt4BoYhTQb2LV67uP3AgChK+sXIXrt/87ZefA6LioBl/bz962rxly4fBETPmzl++JnvcWSs4LpnGnbAKJDpx2vQN23YqrISDARA8CBsJOonB/KUrTp6/hJZB04Ynp9epU4d+vCUyNaN1mzaHT50F6eIvzKtVs+bAQY6DBjs2atRwgONgEf+VpbDEHNw5efrMUWPHUW0AjSlhDGqEPagUdJ4oknXu1n3kmHEKC3mLBhyM/E5dutzyeeztH1Srdu3QhFS0FUoB2ETPAwaG4gbCnQXSBr2jSJdsYRCYDHTLu3i62Bx9jtuM2Sm5YD2o+pkeuskunEcym56c1FKofptV2fLz4G9xZyboUKFOl6ulBjKHGtwFfCY/4zf50BtAhlIqba/LpyvJzdtsxfNWTXJeZm/m9cbr8Lyz0LFCICRbRGWQ6K2RyekVyv957up1EAkOrU9ASNWqVSdOne4fGfvAL7B9x46t27ZNkakve9z54btvtzvvixGkr9+yvXKVKg8DQ30CwxA13nn4BKQCKtqy27ltu/ZJEpVIaxLpTEkSBYKzDp06PQoOfRoe3bV7dxCYVG8YO3HyoqUrYB+Iyv3W3YoVK9B7tuiFoSDobejIUas2bIJO+pTU6eCRB35BhMzI3H7WuYuWgM49HjxKkUh27D1QqUL5e08CoAo82qhxI5fjp5DOUOtQHWJBE8dZOe7anfsVK1S49zQQRoYlCuo3qH/k1DmkITlp2oxWrVvd9vG9cuvuZU+v2w+fosa9h49d8rgDY9BKMGzmvAVlS5c6cNzV0/vhJY/bN+75RKZktm3XFglvv6Dy5cv7RcaSi4Sfw4E+l2VgKI7Ioq7cwWLO6Id38Vn0Y2Mjm8fPsYmnsRyqiqyHZ/Gcf+0UUkiNRdZfCPhSzxfLH+n8zViZ1nDmwqUVq1fvdTmUlCmWaQyRCcn7Dh3d6bwPzkpmsMLXZZLHZ5rncSe/48NH1uJt55eXH8e/PnjdudNuKLhTrDXHCISOQ4Z5evtK+a/RImoEPTRr0aJGzZq1atfq0rXbnUdP5WYSTi1curxmzRo1a9SoXbv22s1blVbONyRy+Ogxj4LCEeoBCOaGjR4DcoIqyCOoRazZrn07lEGRnn36PAoOV1u51Zu2OLkc0ZitCrP1/pOAgUOGIhaEMLiHJ13LynUb9h45JjVYwJ3xmZL+gxzBW/ynPcl3emHwsJGjatWqWadO7bp168ASiKHGaIFwzMRJ5697aCxcWIJg8LDhN+6Rl1PFOktMmghFXC9cUVuskSkZo8dPADWidrnZumu/C+LsLt26g2vbd+g4fvKU0MTUQUOGTp01m5TVW9BtnD5nbuPGjXr27g2Zjp06Yat3QMjsBQvv+QUFRMXCPDKtvJGYx98JJ7d57Y3MwFDMELwxy1Pb3TTx4I5u2WSykSLhJDtZ5tyUhztfQE8hfwuu8Xn6c0Wo+ePvcadSpzRbT55xmzp9xsrVa/74848Vq9eodPoRo0Zv2+182/thz169AiNi5UYL6BNEm2OsUAHcmW1neYEi7UWxRLHhTgq4+7hMaapURZ2+kHyQhItJE7vf9b7l8zhVpubf1wSrkRueT8KjL968HRAdD66CpECuSRTJcbpQVckSJVgKmdiETChEWWQiPvP0eZIiU/G3XvXIAbAVRQRybUy6GEXwl0bDWGcJ8DPNKrSzFyxyu+6BGgX8CyRIpCl1Xk8CECYGEkvIA0iUwqYEkTxFqsTfFKkqMjWDchhfkTEuQ4KAkuhX6qCc1giBFKk6Nl0Ms7GOFoggBr5ctmbdph27EYhDgMrHC2WQsQP6kyRKMi5XqYvPlEIGmhkY/juwMSjvpp+xafYlGydld/e8sI3AcnHnc/UUnTvzrfGF7CwQf4c74RLVUr1x76EjYbEJ8N5rN20ePHTY1es3GzdpEpGcoeW4wYOHrF63ngwoIbOI5/LGBcSd2e/ZkibN2T/4D6GYcSflRX5UzrNMsc6MABTMR2iJJwaIAaBVhJugK5wl+ItSkESCF6Dfmieq6F865IyqApCgd/mh0852EECsidgOJIQ1/gKZ/ATu/FY9CO/s1RuxaSIixj9jBxBoKsy8JWQSA2IJNZLWDrrl0+SOK1Frq9SISvlNRDlvITEPf0GWIHWYBxCGlmtcL10NjktCZqqMvPSJ6hAW468d1Gxog36UorvMwPCfgt1NZ6fDPCiQyZDOjzsL0/MyuLOodhaIvxt3Zii1GUqdRGs0cNy6zVvnLly4bdfu7t17pCk0oMx58xcMHTFCrDNmwFMpiV/KVrwI3FnoPhZ3vN5jhfLjTjBBehZx8uxF53znzwMaC5LEsxywFy9M3hOlwll6KInaErSg7fkfnynM2gpVVNKuMKtGfisffVINALiKilEDIEPWfFlSkBrMr4lOXo+9rN02CPMJCvy12UC12ZVTYZAlEuBFUgW/FX/toMJZaVIqlwADw38Bz9x0Hg+eDblILgdf5uLOF9FTyN+Ca3ye/n+eO4kr4KG2cCExCZOmTg2KjNqyc9fAQYOE/HsNc+ct6D/IkbzfWSTu5HMKat7/HIpZ3IlojJABf9T5A8l/O4z/nDXiPz6qo2xho0zI8OcHHy9mMRaQRTwkh3IqJHlhW3Gooi96Utrjc2zFab2kRp41aUE+xy5jV2UDL0A28aV4/Xw+DTr5TWSdJUP1kFdcslVtE+BzyF+ag61QgkwqycO2NSfsm8iaqmJgKMaAX37mpnmvnfVojR+Dk81lZ5MknITF5vEJez3z/nmCpOfoyUYShfwtpMbn6M9BSwXhb3InnIZGqjcKxPLlq9deuu4BH77ngEuPnj0EUoXCws2cNXvcxElyozWTvDWAcIL4sSzkVzUhS3sb5mze/xyKE3fSG48p5GEnYSyJ3kpubCJS5L9WLTWS9zHkZAQpkUSOxGBFDsRSpGpQCyUwgBcwS8i9XJKGGHmdg79Vi3zQIXKk/HenUVyoIXxDyUnKS6IKsuZvESPmoxUhE2WhEPkoCOVyI0cIkh/7Cm3Ip7dPedgiS8qdPJ/l5jaaoBEnybFtojEoha1ZqG1QhUyakx18cZv92UsxMPzrEOst9NIj4D9M9EII2NyA0BJd6m8NKMKms6McHEZde7Y1ZymylV+GXrblFKanaH+RrrM5pqAaC7fTLpYXOQraltFn84jlBm1n3tfBuSGgFGn0aXLllt17jrqeEanU9/38j54607JF86ch4RKjtf/AgYeOHldZyPNO+DRavPCqc2zNuwtZhxsGwB/mOh+KF14H7izs+52UD7AG86XKNVNmzLp5/5GKn379yGm3e08CJXozrsDrdx9MmDp94tTpVzy9wFUpEuWm7buHjxm7cNmKyJSMh0Hh0+fMi8+QgFPBPaDA8KS0dVt3+EfF4fh5ej9et2Xbmo2b127a+sCfzNh3/2nQ5OkzJ06bcfvhU/AiZR2sT126unrj5lUbNq3fun2b0z7fkMhEkXz5mnUjxozfsG1HklgBqzy9fXlLpiEBNhUbrGcuu48eP2HF2g0xaSKePm17ZD8GLwUvXSEDwz8KXNFRKRm41oAHfkEP/ENeATb2dHDouTtX5hsCb6z9guHiHvgH33n09ElYVKpCLdWbjriebtCwYafOXTp06NC3/4C4pNS9+102bNl29NTp6bPnJAplYjIJjNInMOzuk0Ci5G8BBgTjcN97GhiZnG6PZ4ojisad/9b3O22T5hBiQD/lyKlzg4ePyFSRGdI37Nj9x++/uV64bOA435CIqlWrTJwyZeKUaTVq1vANjdi0Y3eNGjVAhy1atBg+egyO0JARI4+dPQ9uAwWCXMGpZct8duvhE6RHT5jYrn07nCXjJ09BTowgvVnzFiNHjx0/cVLduvVC4lNAz2gpRJDOh4+NGDN2yoyZQ4aP+P67b85ccV+8YlXjJk1Wrl1Xt27ddVu2hyelNG7cZPS4ceMnTYaSiKQ0zwePqlSpMmPO3FatWo0ePx56ivXpwsDwsiA1cmeuXO8zYFD/wUP7Dho8cMiwAYOH/tNo/ruDw++tc2W+KRgytJ/j4IFDh/cfPKRHn36LVq5OlioyVdrHQaF3fXy9fZ/efegbGBEtUetESo1vUOgdn0cgTiH/NaqwxNRxk6d269n77xwmlO3vOKTPwEH9Bjn27Nf/xPnL/EDO3CdGccHrPVaI505EiuAbocbQb6Djpu27YKPrxaut27T55acfzl/30HNkloMevfsqzBx4tGv3nggB5y5ZtnO/C+y55vWgabOmiP+cDh4ZNHhIhlqv5Th3rwfoZzVq1AidL1DpmMlTLnt6ifRGhLPQtm3P3g6dOklN5DbFhu07vQNC6L2FNITCGiMueGhYvWnLoCHD0hTqli1bQDMqQuSKE2KH8/6WrVuDj6GqZ58+UDVz3vzR4yZA4Ppd7/oNGjwJi8bW7AeAgeHNBC7tBKEsKCYhLCE1ND7l1WBPfweH/kdyZb4hQBgQEp8MBMcmIR2WKBAqtSKVTqIj35sS6c0SoxW+TsB/o0miJw+8QJzkrhv/el5oQkpoXHIunS+EMH4dwisJiUuKy5DkOiWKF4rB807EnVK9NSAqrmWr1vefBslNVrHOjMPZf9AghJIqC+cTGPYwKBy0F54oaNioofOhozFpGTg8N7zuIkBEWAla9fYPatWmTUBUvECm7Nm339ot2/sPHOTx4FGiSN68RYvWbdu269Bh+ZoNKpN1+szZ7dp3AOE5Dh16+tJV9LnAdghYcTLBGIS/3v7BTZo2vePrB6PnLV7SslWrrTt3Nm3W7MCxkzuc9rVp105hJTf0Bw0ZOm/Jsm69ejm7HDZzXIwgs379+pc9vECr9tZnYHhjAaeMzqjEwIl5N01GGDD8w+Db2QqAI8nwSQW4kzhYgVKfqjSkyMk83mkqfapCCwgUZBhm1gALA5nU5SUdJjqghH+CRoZ9FFMUC+7Uo6ERLDZr3vxpRAwOP/gsVa7pM2DAsTPnESAiR8dxV297NW/ZCtEe6NDEcfFC6cgxY7/75qvR4yeI9YYYgRAR4XWvB+u37pgxd75Ib+07YOB9v+AUibJV69bL167fe/hI7dq1nQ8fmzR16k8/fI+Qce7CxVWqVL525/7RM26bduy6dPO2UGsCDU+ePnPcxMlqDvVaVm3c9MvPP7bv2OGH7791Pnj0UXBkgwYN5i1eunT1uh+/+3bh8pVt2rd3cjkEe2LThLVr13Jzv4mC2Q8AA8ObCfosBt45Vz7DPwr+Tp5tAIdtKKLaKFQZgEySo8lU6TLJ1LWaDLImMmRNxyfm0fai4OsloxpRb65NxQ6v+1gh/pgZZGbu4s3biO0eh0YS7tSRb4P07T/ghNtFcgtUY1qzaWvVKlWWrl6bIlWBaO89CYzLkCD4u+zpVbNWzZv3H6UptM1atNi5d3/1GtX79e8/d+GiyhUrjJkwMSQuOUWmRD/IypGZ5Qc6Oo6bOHHQ4MFoCejp3bffjHkLRo+fiKrXbd0Ong5NTEX64o3bBo7zi4hr0KjhyfOXIbx7/6GaNWvgJAPX9urTd9jI0YhHV63f1LNP3937D4I7SdzZoP6VW3dV7FvTDAy8G82Vw/AKkL3ZyQt45K+RfL9TxX+/U60jX4JCAgxKprHlxXiutZf6O8ilp1gz6Os9VogfZ4uOD/jS84EvSOtJeIyEBPvmZKmqT7/+R8+66TnuzOVrVatWPXPlhpb/2kmaXNOpc5djZy/AnqCYxHr169+4/yg+U9qpa9dzV65vc9q7ZOXq6XPnVa9WdfKMmUfOnF+3dRsOIYSnzpwzeuy4ZWvWDRw8BC0hUOjAf7v2H4QNiGWTxAoNxx047tqsRXNok5msgTGJjRs3vn7XB2UvXPds3qL5tdv3tjntkxq52Axx+06dzl69MWPuvFH8884rnl4ISWncnOsYMDAwMDAUL7zu92zBWyA2qcEamZzWuEkTxJFqK7lRDu5EeHf0jJuO4+YtWlqpYoXxU6aOHDO2T//+Zy67L1q+smHDBktXLm/Ttm3P3n1FGv0tn8fNmjcPjksGv6o5LlGs6NK9+51HfqEJKbXr1B46fMScBQurVauG6PZpeEzTZs0RkoKbW7ZqHZWSoTCTu8RinVll5iZNnd534ECEpGTmBLVh2MhRzZo3W7R8WbNmzZasWvMkLLp69WrTZs2GJX0HDkK9lz3uINKdMmNG06ZNJk+fIdGzKfEYGBgYij3+Ne58kXG2ZEyB1GgdO2Hi8jXrVPyXrtMUuiuedwOjE8BGd3z9nA8eRcC33Xnfxu277jx6mqkxbt3j3G+QI/gsJD4FsenaLdtGjBkLCiRPyMk36tSXPe9Ep2YiCrz98MnEaTNGjh3veuGKRE8eYrt7PRg+Zuz4yVMfBoWRMFFjmy0Paq/duQ/9VIlIZ45KzVy7eSsIe8O2nfGZMkScUDt6/IS5i5cGxSZKDWaJ3gIuHzpy1OIVq+n7ndlbn4GBgYGhOKJYxJ3kFrnczF27fa97r16IHUFayATJ2aYB0lsRGoK3IKO0khgRXCvnv8mFNTLjM6U9+/S5cuuuwsLxj76JTonBCv4jCfAleYZKZggCO4KqkUNGgvGZECCPyrNm88Em1E4fAKQptKgCVYMRSaVZX9CUkLFkVmSiFLGc/4osAGtRirY7AwMDA0PxxevOnTCRUBeZV8gENtruvN/rsT8IjJJQBhkk9uzzIxR0x0CfNA2Kve8XtGW3k4D/3BidTpYU5J+T8zJ0Qlrbc2z6+BrVYU1B6NYmSQTo+0+UPiGMsgCZXY9nWQhQDUS/Ukvy+TRvj00hAwMDA0OxxuvAnYWNs81hq5bQZ/acIgLUhYKUIBkYGBgYGP4misad/94421zm0iAvV+Zz8ddKMTAwMDAw5IvXe6xQHu5kYGBgYGD411EMnncyMDAwMDC8VmDcycDAwMDA8GIoTmOFGBgYGBgKQoZanxO6dBXDc0DeleBftXjRYTHFbKwQAwMDA0P+oJPQ2qHWk4lqGQoGGi2N/5IMEiQn6xXHooCNFWJgYGD4L0Ck0meHWIUchsKQqTKkq4zpaqNt5jjGnQwMDAxvHozk9iNDkYEWI9ypAneS9D9wz5aNFWJgYGB4vZGiNKQRJkAsxYM8ASWswFAQ0slnLrVksjk1movQZ64mLQSMOxkYGBiKPYQaQ5xM80igeCRQPUoj8BGoHjIUCl+B/JFA9kSgiJFo0IYZKsadDK83Tg53yLHU2fgoj8wrw6N19f51G14GLjqS3ai3IjhXPsMbAYnWCAI4GJKxL0iyL1i8L1i4I0DkHCRyYigAe4JEB0Iy94eK9gcJH6WqpFrSjLYHn0UA4843C9lIa+TJPFtzgvpifhl+Mc/Wv4rgjbVsSnMtz7XnGXJTr215AQ3ZYdP2N7jz329VAsadbzTAnRFi9cGQTJcQyclIycVY2ZkoiVu0iKEQXIgWHYuQHAoR+QpUkuLCnWys0L+B8BV1eK9Nl0J9ty0ao8vLi8myaCYbx7iNpFm11oXbxQpHAdxJlqIrscOm7a8z2b/fqjxeGnfajHzJ1M7wzwLcGSpSuwRnnAyT3E9VxUsNsRJdnIyhQCQp9AGZmhMRsoPBooepSpFaJ8rTqoWAxZ1vFGxevlYd6sELCZKoZD3H4S/3fqYt6nJ0y5H/ouxF5XPS5DMCy6X8ecjfpBfBv96qFIw732iAOyMl2qOhorMRkqBMtVZnlJFXPHO8zsiQHeQut1R3JlJ2METkk6oUqnUvxDj/Te5Eu+TKeS6KHqoXZ2R5+XUXaaJAwqCxYJ2NJ1/ys8B8icpu1YvFnXnks+jzRZz+y+CJf71VKRh3vtHg79lqXUJEoM9HArlEqxOqtPw3hhnyh0itj5Xq3KKyuFOl5RmnqMOFXgfuRPRMufPF5+RT6YVKsrcCJejWkKZEixiE5KVXfaaCTLaUriLTRqQq9OQNHpUhU6mH5hS5OlWuTldqM5SaNIWOFFToURYJgVwnkGszVUaSg018vkCpEyi1QJpCzc/WkceMYoNnLGXzjwW4bzs5FSRmy3+2FPVZYz4hpu2e7Qs4/QK4M8uqbNY+z07aILmNtxlpW55r2CtsVfq0mC/4TNjWmPlwZ5ZMjsxC9i6PAXR5gUPDUDjgsrEW6y1pCkJs2TflC3gtOusNkPW9fYocAsgRqnTREo1LiNAlVPwkTSHTEo/3F6KINwdijSFWpjsdId4bJHwkUEt5unnZzztf1zn5+DNGL9KA6uhZBZoEF+rBfwIkVIT2kJOu1NtOOwWoUZ0kkWOdwXMnlPCbbNogmUHI2JAm1yKf0KcK9Anu1AgU6nQV5J9/ur/GeObls8bs5OcWbZuI487Hyxc42Kdotz2znm5S4Sw//mLeuSDutGmjXFIUO3ljcppti4xzLoWb9wpblYrV2bgiO//Z9OThzqymftZQBdRiF2Dc+Y8C7gXr+AyJX3gM3Ev2TfmC+iWaALK4E339Zy6L5iCNgCEmizufpivlPHfS4kWE7fLJ06V7hqwzyr7ke8nn7JzlWPKVz4UXLZ77pC3E/pyg3HkqQuzMc6fsH+HO13WsEM4bEKfKxOmsnNbCaayczGBNRWSJPp3GJNaZU2RKnHBKE4cKNBYOe6s2c1orJ9GZEYOCJtUoBZg5HS8ADRK9GbQq1ZtVFo5CojWnyTU2As5jQ7FCNi+fi2mywXYu8vkFefmcvGVTW8SzNs+1kSe6eh6ohpw2ADbas+X/JTsL2N8ic+c/3arZyS93FTm5M0sym858FNosybmD2U1leFngu+Y6uZm75Hmn/8BBqTK1SGvOJZMLdvKzJ6BBYeZUHJfJx5p0E6VP8vTur3Nnti5j/ldHvn1Kfslznrwo+eXCixQvyKoi9faKK3e+lLgT7Bgcm3jgyLEDBw85H3BxOXrcLyRcrDUIVLoksfLm3ftClSY+U+x67vyWHTvPX3WPTk07dOzE9j3OAeHREp0JJ6Lr+Us7nfY6HXBB8X0HD+9w2usbGGKwcv5hkS7HTu7ee+DwCdfEdJFcZ06TqdMUWsSgMCyXGcUHObx8Vi8yF3XlcMH5ePl8YfPURWPBbL3X3BcD3fS86vLjTvtVVKgNz7OzAFYuHK+wVe3cmU/ZbFXkQ5wFtm3eXWbc+U+AMpzCwp27drN9hw5wJkKNKZdMXvDUaEuL9RY9x5257L55xy4lx4FEhRq4ShqM6sEE/PudL86d2a5HsuR7WtIzKscpkdUVy0NU9IwqCk3miyIXz9eAovkBHm80d2ZqjOkq7ebtOz4vU/qE66k58+c3btzkcWAwgsizV9wbNmgACpQZTbfv3vv5px/HTpioM1u2bNs2ecrU5AyhwmiOTBaMGDXmuOupGbPnVKtW7eTps0uWLnM+cPC65+3Bw4bduH3H56nf4MGDO3bqFJ2UKtEZBApVulKb24bihJxePus8y3Ga5vSwL5076YXxbMml+UW4M78l92WcG8+z07a/RdiRbHiFrWrLyXc37dxpMyAHcebHkTbkaXPGnf8EKAsi7jzv7tG1W7cUqaoos6dS/gM1SgzWmDTRrv0H6tev/9MP3y1ZufrGPW+hFuxLODKLO7UvGndmnfDkcBf1tHyGws60f5w7bZSf51qwXSPP1/Af4M6/PlYIJwf6XyC5kiU+SU5NS0rL+OOPP4+edDVYLEtWrvy89Gcr1q7TcpzezC1dvrJSpYoBISHbd+958NhPbrQI1fqo5LQ7Pk9Q99GTJxs2ahQZnyTRaHyDQlu2an3g8BFiE8eFRMei4KYt25RGi0CpS3+RifZfP+Ty8nmduE3AftoVeDllnaA5l+dQThbn8WJ2Ddl8dBG9dr7cmQ8rAC9sp80d8EsRGfQVtqpNIF/DsluetzVsNhS4ZDOmiEeB4S9AaeYu3LjVuXOXdKVORJgvt0C+kBktYQmpHTp1+u6br6tXr1apYvmaNWt8Va7sgWOuUiNHh4b+tXu2/LG2nU4FnpYFIveZT/FquNPmBPI7SwvZlB2vhDtf17FCkAF3Xrt95/MyZa7cuLlq7bpmTZuFREU/eOq328l577599erXi0tN03NcZKKgRrVqXTp32um8T23lkmUqQKzRC7VmnM3HXF0bN27sHxZl4LiH/kEN6td/6BcgM3NirVGsMw4eOmzc2PEynVnAz7Ocy4ZihTznus0XZ/Xd8rjmfC+nfKmLXwolm1x1Abae47OznGrOnwWz4YXE8lsKtTN3wXyDvOx4ha2aR1U2ZMWd6/LtjzPufC2gtHAXb97u3KVrUbiTH2Ohz9QY5SZu5fqN5cp8dunm7ZXrN/Xs1Ts+XVS7du2KFcpHCzKlBiuEwQTRf+2ebRZemDvzXtE86Jn8D3Nn/rRNUcQdKa5x50sZKyRUGeVm7orHrTKlS+9y3rtz926fx0/Bf/MWLe7du9fMmTM/+7SEy+GjIEtg0dLlX5QrFx6bqDBaU+UaEtryTyCUJu7w8RONGjUKiozVcdwD3yfVqlb1uHtfauYytAap3jR4yJBxEyZIDYg7bbdQii3ynnBZLpV3lPSszX465nMWZhFejrO2MJ9uQ/4ntJ0+kV/ApZgXee3MB3/Vzmew2/acK/kVtmph9mdxZ7CtxpxihfmaXLCZx7jzH8ALcSe8TYZKL9QQFuzdrz8AD71u87au3bqZOO74uYvdevQMjk2SGil30vlsXxV35nvG8sg6/XIsRafSohW33WXJX63Ntudc5m84dxq0HAeeK/VpiaiEZBiAUyooMnry1Kl3H/jcf+g7ZPjwJk2bZij1Vo7btnPPjz/8oNCZxVoTfZUF3Jmu0Gms3Gm38xALj0vScFxUfOKff/wxd+FipKE8MVPUpm2bA0eOiskIXn3mf407s59nz5yvfWvey8l2ZudyrH+ZO4FsFEWWIrjsvGyUF3/ZzlzIX08OvMJWLRp35iJviqI0GgXjzn8OL8qdaQqdUEMc+tARI//4/ffQhJSNO3Z179kTrilTY0qSqOg7dcDfG2dL8DzuzDqpni35d3NtJ3M+S5Guu6IVf4O58+WMFVLpUXbrrt0fffDe/iMnJAZOojPOWbBwzNixGRIF7Fm2Zl3pUiWdDhzMEEkmTpn65Rfl3D29MpTadLU+Ra4WqrQ4fWMFGdNmzPzt15+dXQ6nKtQyg/nUmXMNGzbctf/g3Qfes+bOmzNnboZMKVAbU+W6DMV/ZG6EbJm2s9A2pVxOj1mQl8/tgotwstpU5Xu92SihgK15UBQa+Mt25gYtUqBDAV5hqxaVO5816TOdRd735/lQhr+OF+VO8sa5Si83cS7HXT/95KN69eq2btu2RcuWwXHJYr1FaSUPO6kYiTulLzxWKDtenDvJUpSAMuva/4snVX7FGXf+Pe4UaYxJmbLLNz1PuJ6+4uklUOiTRPLT5y+dOnchLDohXaG/fuf+iVOn3T3vhMUkXrh6/eSZcze87qeI5Wgg8raJSi/WWcLik0+7XTh55uwFd4/odEmaSq8xWO4/fLJ7/8HDx10vXfcQKzSwJFGmEch1ZMaiPGbQYJRM4cHfY0E6+5qCzqBoR9YcC/loy3bGY2s+An8D+Xr5HB29XOdi3ssp6zx+RnLPzuznnKy20z03QdpO9GdLbgrJg6Jw51+yk2+fHDyXRYGF1fUKW7Xo3JmPTnv75yzO68xhoe2I5DxMDC8DRedOocYIGQqRlgyfdD58tE7tWl+ULVOuzGfff/v1AMfBd5/4y8hYIcKdcOX/MHfmwjMqfe4FS/A3T6rcxRl3Eu78G3PyYVcVOrHWLDVyIp01jR8FjpNJjvMJaZxPOovczEn1VpHaKNdzKhMCU0tWTw21GNIUmky1VqI3y0wc+nHp/NRCIo0JHT0JSkGzicvUWsDKYGIhmU5Bl05q4b85rqKzAOIUN2QqDSKVUaQkldJ8ZIJr+SOhy1TpRGSiYZ1IqSFQaRHyZqq06QoNXyPkCYhV+KtCFbhgtCiYrlBnJ+C/jfy9fLawL/fZlt/lZHfB2Zd6tYjm55yseWky20LKFsI32VEU7vxLdj5zBzmXwvfrFbbqi3AnkNWeWfLPTMq95GztXMYwEn1peKG4kweZUSFNQaZEUHOcQK6dOmt2zRo1Bg0ZWqrEx7Vr13oaHiM1WOAlROpXPlboWf+s8AuEwnZSFXJdF4pcxQvV9hpx5+s6zhYAh4GoCFRGAZjMlk/OG4DMqKcyCMhUfBqcXuSpexa3gatS5Po0BSGwDDJpMqEr/IUSXpttLtwUOc3h/2ZtQg7+ohboT1WQmf+QD75PV4Asya1dMi8uL8Nv0oIL6Qy6INEMpVYgVyMT8vyalIUkmXGX3xcyXyCxB6WoYf88dxaYX9DllJNjSKBGc4pyCeUgSH7JWcrm3wvz10XjTuAv2JmzCJact1vzg63Iq2jVF+TOZyz4bC/y7GBh2uhSSHMxvBhe8J4tGcyIRKpcExKXHJ8p1XDc2i3b+vbrb+C4NZu2lPzog137DyosHMTE6lccd1IUymE5UHTJfJGreIEXF1DEHXmjxwphP1PkGpHOjFgTUSP6X1Ks9RaR1sinzUKtCfSWodbjNAVkRisAeYnBKjFaMzUm2/uaWAMKrUxnkRgsEOAJTy/Wm6FHorcgkaExpCq0oDf6V2rgpAYrNUAAa8nbLGYAmbAEJC3SmyFGMvWkIlCpAJEoyFihA8CRiImhBNEtDEBdMBXRM2qXG6wy7AKZpBfV5d5lBgaG4osXfd6JNdxRXIakabNmqzdtMXPcqg2bevTsCWd75+HjTz/+aOP2XXIzuW0rUutfa+4sQp+4MOQpbuuC59O1LYxWs+ONft7J98s00clpIdHxUQnJcUmpwZHR4XGJkQlJIVGxyAmLS0yVKIKi4yISksPjk4IiYyPiEsPjEvxCIwIjY5JFUtCqQKFJV2jlerNErQ+MiH4YEBSbmq7juHS5EjLRCYkhkdFBkTEijV5iMMelC0Nj4qMSU54EhwWER4lUOrWVS5HI/MMjIxNTQqLjngaHRicJ4gQZwVFxsSlpkIlJSVMYOVwnqCiVQJum1itMXGxqpm9gSFhsgsJglutNqDoiIQmaA0IjUV2KRE7iYCXo8zmNwMDAUFzwovds6d2yVJm6ZatWjRo3ylDpNu3c3W/AQLjqpavWlPrkY2iTmTh4fPE/Ps42PxTt7ihgU/5X72HkUzz3E9AsFJmk32julOrMCemZw0aMnD5z1kBHR3THFi1ZOnzkqH0uh8ZPmNCiRcubt++IFIrDJ1xbt2mzcs3acxcu9e7de9Agx01bt82YPffICVe5yYqoUaI3C8TyTdu2b96+feceJyg8eOSYSKHcumNn6zat58ybD0yaMhV1RcUnIN2mTZst23fs2L1n/MRJp86dTxWJN2za0qZt25mz52zcshXGuHvcmrdgYZMmTdZu2Dh46LC1GzeBZYXkNqw2TaERqvVHT59dsXrtkWPHp0ybNnvu3PiU1NPnznfo1Kn/gAEwY8acua5ul1RWjvB68f7qGQMDwzMUnTv5wIA87EQa7HjY9WzZ0qU6dOzUqUuXxo0bj504qUypksNGjkqVq8U6MyTF2n/weScf5OVmoyw+yxn8EUrLLWl/TJMzFsx6fPAXi9sfK2QjVBtx5huP5sYbPVZIZuCehkau27I1NjVtyrTp7du3R8znfssL8dySZcsrVPhTZyVvfCZlCmvXrum0b7+e43r06jVh0mSElY9Dwk9fuoadz1RqZXrTjFmzp8+enanWQgbU++OPP9y+d98/LLJCxYoXr7pHJSZXqVply7Zt2Me9Bw9WrlwJQa1cq1u2ak2ZMmVueN4KDIuoUaPG6QuXUN3Zi1ciklIPHTteutSnSULhkVNnfvvtl3vej1BppkonM1td3S60bd/OLywMux0UFVezVq3ps2ZL9cb+AwfOnjMHVfg89b90w1NptoJr0dPEntILiV4MWDMwvOGgHoBP8y7vBXniXwFMVZi589c9O3ct6vNOmhBpjRKD5eiZ8y1aNP/my3Jflfu8WtXK85csj0kXIZ9I/q05+Qpc7HdiCxPLxbW2cDCfJc9N1Czyy67hBYpnY8rcS5Gi2zd6rJBQbRBIVSkSpZbjFi1d1rtPH5HaIDdy4L+ly5eXr1D+js+jB0+Drnrerlu3LhgRnT7HwYOHDB3m/eix0wGXNLFcqtbL9Gb/8KiaNaq7e95WcpxIZ5SpdZ07d548bVp4XFLNmrWOnDiZIEhv2bLFLud90Hz89OlatWqGxMSj0gyZumWLlhMnTwkIi2jUuPGWnbvdLl91dbsIBj10/ORXX34RHBNz5aYHmeTvqT9iXKEK14C534ABo8eMApWmKPUajtu+c3e9+vVj0jJQ47gJE+76PNy8bUeGXEUG4pKPjD7rflJPwa8ZGN5o8JcDrgtKnCSRS+D1BFwQ5c40BXm5nPqxogDCcjOZrWXmvAXt2rWTmci4DbGeJ05eM/9+5z/FnTzscZ59Kei+aB7J/O8D5xd3EhSxOEXusW/Pfcxpxxs9VigTfTeVQaI3yQ3meQsX9erdK1WsEGuNBp47v/766807dzkdPLJh6/aq1aoeOHwEJ+7QoUPbtW+/actWx8FDBEKJnB83dO32vapVq9z19pEj1FNqTFZu9KhRAwYNCotNrFqt2sBBA5s2bTp82LB0hVpssh46cbJOndqIF0UGi8LITZ06dcAgx8dBIfUb1J80ddrk6TM3bd2Bpjh8Atz5JWgVmjdv2SLXm1LI1WLJUOh69Og5ffp0udGcKNPJTNyVq9fq1K0TnpgyYfLk9h06rFizrnXrVhn817lTZWo4Bd4vPEPuRmBgeCNhvyIog77+AJkpTGQu+K7dupFvkL0IdwLoQCNsPXLq7Ir1G+E3hPxnWOwE+ffn5HvT8GZzJ64ccndXpzRZFyxe0n9A/3SZWqw1gDsXL11WqXIlhd4k0VmikpKbNm3ifMAFvbZBjo5TZ8xE+Hjjzr3o1EyBTC01cd7+QeXKlj1y/ATskOjNSr2xb99+y1asQnBZq3btS1evLl+5CoFpQGQsNIAUa9euHRobLzUjjtT37NVr7cZNQVExDRo2vHDFXaLSPPQL1BhNLkeOfffdd5Fxcf0HkAVcmKkzCzUmmcHco2fvbt26qa2cUGtG9Om0b3/T5s0ThVIQ7cpVq5UG8+kLlwQSJVhcoNDgGsOeirQoa0Tfk47mZWBgwNUE4KKwJ15n4PoFVBx93tkFlI/MHN6sCOA7CuStcXt3gXHnX8YbPVYI3ClU6oQarDUI2ho3ahgWmyTRmdRmy6TJU3744buoxBSlmQuOjq5apfKa9RvEWl2Xrl0RemZIpA8eP124bAXoU6hHLKhxdHRs265taGxcpkJ59sKldu3aPfEPvP/46c8//3zi9JlMmaJatSpDhw8XSyX7XA7++svPD3yfpEklO/Y4d+rcJSY59a7vk8qVKu13OSSRSk6eOnP22vXtu51KfPxRUnr6Pd/H33/77fpNWwRyVaZSLzVZDxw5Vv7P30+5XZBrtGHRcX369t2xew9s69W7z8hRI6UaMsUudkqgUCfLlAI5eROUvDzKvyKNNT9/AgPDmwtQiECuQdyG8EtqJJAYOKRff6DzffXOvR69eoH8XpQ7wYUkziZp8CIagebYttLnnYw7i443mjtxAmUqdTKDBYHj1Fmzu3Tv4XzoiFCtj0kTzl6wqEfvPkdOn4OAp/fDvgMdZ81fePX2vXGTpowaN373vgMjx47dumOn3GhOkWulekuqUDJt1uyJ02Zs2bVn3qIlDx4+VmqNR06d7daz94p1GyB27PRZ6D9+5twOJ+defftt3b1nz8FDC5cuD4iIVpmtpy5e7t2v/4Klyzbv2DVu0uRbPo83bN2Bsmevukv0lg1bt/d3HOITEIIgWKDUq0zckeMnx4yfuH2P86JlK/bsd9GYuEch4WMmTBo6ctQtH19cBplqPRoBcSe4//Tlax07d0GlvfsB5HMKDAxvOHA5DB89ZurMWVNmzMQamDx95usMaufMefP79O//y08/7j96HB7sxemTvK1O/TvxfrYEAZxGtESzL1h0IFT0hOdO9NSz5vVkyAfgF3DnmUjJvmDhQ4FKotYJ3xzuBGhHLC5TmiCSI0SLTRelKdQpUkWSWCaQq+PIX22SWJEiVSdLlNiaikhOpgK5pspUMqPtSTv6gGK9BV3XwOgEv7BokdqgtnIZSl2KSJ4iU8emi1NlGrHemqbUJ4nlCZmSdKU2PkMcmyYEbUsNHMLBJLESMokiOTRnEOP1iSJZmkITnyFBN1lisCZJlLATdYlUBrHWhMgyIV3iGxQOk2RmLlNjhJHJUhU0RKVm2q8KQKw1gHT3HjpyxPX0oROnD588jQQDwxuPMy7HTmzctnPJqtVLV60BlrzeoEYCy9euW7Zm3cnzl+iDGPuV/jfBc6fWKUi0P0T8OE2u1BmESn7KT4YCQKIsqc4tSnYwROSTqswk06bC8Rb1iBR77iT3MJW6rGl9LOjHkel4VDqRzvaYgbSRxjbpD/6K+Xx+bSTz3vHjVwHQFcQQI5JpicjUfbpMFfk0AThVxL8+RZUINWSOZpRFw2HN107uIPE6yQMYZJJvBsEAyGhtMtCP6wRitupQSqGVaE0ygxWlkC+Qa6ABtaMuKCFz+2Xdk+E/QmTUcBz9JhrWOgYGBv5yUFrJDVu5mUBhea1BLSR3bnlr0Z/GNU6dz0sBuDNOotkfnHk0XOKfoVTqzBKNUaoxMRQEhc4cK9GfirRxp1CtExWBcez417jz5czJl8VGpB+hfMY3fD6hNCqANQiVcirWNAdrPk2KYE2UkBGtOrBmBiTpWqHN/mkUCqoqjZ8gl25C7bQ4FcvSTCbItQnwY2X5BGFNcCc0I0Fq4bkfGqgk1UAjVLtCopMY/0yGgeENBz+hNEEGCRRIrIAu5usM3kjynJLYzF/j1P6XBXBnokx9KDTzeITUJ0URLzPEyfRkBlC5niFfpCn1QZnqY+FScOdDgVKkQSSau1ULwX/inm0WvfF/+c+PKDXk6yVqcJiN4SgINarAfGRadn6adZ69yCTvPAHzNMaLkWeNNM3rpCAVUQ0ANGQpgTApzm99JsDLoHaqkKyztGW3h2xCJgWZpx7I2oQcbKVADvjYXpCB4Q0Hf5nYLhxy7diu0Ncd/OVM08+Mfykg3Ene78zcFyI5FyFyj5GdjBAfi8g8Hs6QP9A4rhHCI+EScKevQCXRkmZ8g553kkuIT9DTkSctO3sh8YyZKEvZt1JyJWfzs9Oa5zb+OqR0lZWPNMlEOlONHEpmRD+vgeTbBHj9yKTkzZMrEeDrtWnj0zlyABtlUlNJDhJkjYooZSKfmkQEGBgY+Csuew7+vv7g7SSXfHbLXwrAnbFiNbjTKVB0MFR8MES8h0+4MBQIyeEw4cHQzMMhwsc8d5JjlKdhC8LrwJ1/6/udrycYyTEwMLxKCNWGWJn+aZrSJ1Hikyy7nyK/y68ZCsG9FMX9ZJlviixSoktTGcnXtPI0bEEoGne+xt/vZGBgYGAAZBojIFabRBpThpp8D5g+ZGUoAKZMlVGo4p+Uq01kHKiaTERTRBTvsUIMDAwMDDYotSIVfLopgzyKQo6Rfy+AIX9kgjJVeolSK9HoM8kzOE2mGsjZpAWj2D/vZGBgYGAAMtQ6QglkjKQ6XaUVqQ1i8s4iQ4HIUOlSVPo0tUGg1AmUmoxiEXcy7mRgYGB4qTCKNEbyVrraINUYRWojok+GgpChAtGQVyrIGC6VQagySF5kqgo2VoiBgeFlgX4Q6vmf7Gf4J2CjBJI2klcVc45DZsgFNBRhGdLJMKCfwSO3TCFgY4VeA9AvuBb2jbpXhlfg+168iteofQpE9u8g5vzq4T+MXN8KLsLn8v9B0CP179rAwPBKwMYKAbm/nvqqO86MOwtHEduHir3iY0eRk8DI13dfiTEnh/P15VqKdCLl/Y4xv+SlPduOZC2F8iK1J0/XwXZ9FfhR4qJU8SJmMDC8Arzp3FnYZ9NfGZlRv8C4s6BNRWwfm3stivEveTcpZ+Tghhcw5q8ii06ecZWNwotSaZG4M/+ro8ADQXWOPJk9M1uvIl/uLEoVL2gGA8OrwJs9Vsh+YRfkMl5N95ZxZ+GbXn77vNzdfAWNlh/o2ZvjFC26JfnxXC7k5easnPwjyNz2UGP4A8dvyqdUUap4UTMYGF4J3mTutHW9C3MEr8YhUl/AuLOgTS+/fV7ubr6CRssP+TRLERjRhudL5hNM27uV+R0LXj57I5AqbIRXAHcWpYoXNYOh2IFOUkiGOKn0IrVeSL4OZuBnzyeTJfFzlPJEgPyseQ2zIz1rSnB+1kMiySu0pe3gM205uRK88DNJCpoDAftkqLmm6xOq9VKN4d/lzn9pnC1lx4Ivv9wXLXVVfLeabqJLXo9AkNU1ti2Fx6/ZnGBhmvOnkDyO+4XstHUR+IVozqPN7vXse5TdgKLs5nOr4JHdVPti87xFbJ+8fJCf8SsKqIi647ytVFA+RT5m29onhzEvoLwoTWoDbcmcrZQ9PisMz+XOAjoEtlryFMx2jHLkU9gPRI78olTxgmYwFDdQcqL8hLUQURMSCm2akkySlyFXp8nUAqVeoNCJVAYhnfebn0yfTvQt1llocTrDfpYeG6CfbspVEfkQFv+pKzA0FUAmL2xPELGsIlqBnMyZQHNoQSKg1BaBO/+L42yp1yvIJxJQp293XjbvUI+/aHMsuZTYOsW5loLcClBEzfm7pzzOpch25ktX/JJNG/V6dbLtUZYBRdnNIlVRsGRO7nzuHhXAnTmNL4g7i9q8OVFE7ixAOZV5pvwvnjnPlgLtzANadY4lJ+kWRK65baYoqHNgQ/7cWZQqXswMhuIFykZIgBHBRmlKfZJCl6zQZepMEqNVarSK1MjUpCh0qeQTVQbyKUY14U4QmFBrAvMliuQyE0ejTBo+2hQSFiRqCdsRIkR1RjmRpOSHtS6T/yRzFk3S4NWIrciU6K28eTYjIWNPEDsVhG4RB0u1xsrgTs83a6wQ9YmFdtIpd9o9VzY/ZS+V5eyyXds2sexXu62uAj3LC2l+rnN/MTuztcCzgtm00UYgS07/ZRMudDeLWMUzFEBUz0oVukd5/WxBxudfkc3+Z9YCVEPhtw3y15bLmPxkcikvSpPmgZ28c8rQgrn2OjuoeXmWwoyhyHdn883MBn5Pc+9FUap4MTMYih9oqEdoSaUXaU0ykzUiKfX6nXvXPG89ePRYrNQoTdZUuQaEmizTgD5RBMJSgzk4NmnFuo0zFyx0PnhErLcAIq0ZYSgIFWmJ3kJvsSLHwHGnL129ePOWb0iEiuMylDqwo1hn8o+MXbtlW5JYITVwIp0ZgDAK+kfF+UfGkUytCTqlBis28dYasRXKQdvYlKnUizX6f4E7/+24k157OR1lLtDrNjd35rpcc/d/eV+W55KmZQtywUXTnNseG/I4kaJpKyBQyKPNRj+5nVdRdrOoVTx3UxHbx5aTzdQCjC+oIhsfZztMlJkKO0kI8tWW25i8rZFL+QufObZmyVpynBjUpLw7XiCoMc8MsCkvWtMVYiQF406GwsDTp9og05uPHT9ZpXLlP//8s1HDRn/89lvTJk3u3PdWmrkUhVqgAHfa7q9qOG73fpfBw4bf8X26c9/B+08Dd+4/6Hrxamy62OXkmd0HD99+9DQyJSMoNtHD2/fo6bObdu5et3nr0BEjbz54KJBrPL0fI37de/j4qLHjfAJDtznvv+Prh8SWPfvOXbu5aeee1Zu24W9EcppPULi714PdLofv+Prv3O/i8eDRff+grU77rt15IFQT7nwDxwrRa69Qt0g9by7ufA512dTmv+Qum4UiaX7JYgWwQh5ttBFyu8Ui7WZRq3jupiLueEHcmY9PL8iGXBpy/qVmZFuyyCBfbXmMsRUvQLlNSQFL7n0HaHHavFlln4nxW/MpVRjo8bLtVG5r7chnZws40NnAuJMhP/CUSZx8hlIvNVqPnnEr93mZjh07nLt40fvxkz3791esVLFK5Up+IWEygyldrkyXq+ldU6nR4hMQOn3OvGmz5qLUms1bp86eM2/p8iEjR23csXv9th0TZ8y69fDJifOXx06aMmPu/Jlz502fPWf85MlzFi4+dOrssnUbEEQecj07Z9GSCVOnrVi/acz4iXsPHVm4fNW0OfPnLl62auOWtVu337jvs2mXEzQvXLFy4rTpK9ZvHD956ojRY8ZMnIyyaTI1GOpNHCuUw1Pkh9xRCL2Mn+PBs7xYvktBvqxIml+uWJ5S+Yv9He4schXP3VTEHc9LVy/MnTlpIFdxaka25cW40yZWgPKsrfkvufc9bxSbVZxKFrjjhSHnCZ/XfgqaX2iz5wVvT55rrShVFN0MhrzQi9Q6HiQhJJ8KQdBGNvHPBclIUfhYupUMcFWTyV3T+W/7Yw1WI39tOWRtLw4BpJGATqFKJ1IR5QDEUCQD8oBal0Zy+DSRJ4ksw7LAD6kVqAypcrVQpmjIL/GCdPCBwswZOO76ba/PS5detmKl3GDOUGlgITVApDMhQLzm9cAnIKRlq1bDx4zddeDwgZNnmjVvdvdJQGB0wpTZc+89DTzoembMpCkIPTdu2z5nwaItO3dfvXO/Vu1aJ9wuaq3c1dv3V23cjGD0yNnzi1euWbpqLf4uXLEKfHn03IUN23d6PPAFia7Zsv3mg0c9evY67nZx/bZdCHCXrV2/bM36FLFSrrc8757tf3GsUN4bdDmR09MBf4uTCsXLJMUXsjNvrJBHW/5eOI9YPihyFc/dVMQdz+tnC6SQgm3IVuT54ZQN+WrLz+kXpryQZskH+dlGNaChRjq+iCo7cvJxAfbQY1GkRs4GXiYPdxaliiKbwZAHPL3pwDfkpijPXnbyI8NniAwZ8MKD5zZCewTpSk06uUGqSVOoBXIVzUxTaOiAmjR+gCtAeJF8e0SH4qQIhUKT/S80ZBVEFaSg3TxARF47MSbLdXIL9zgg+Jeff96waTN4RKw3Sw2EPtUWbsjQYS2btxBrDUIdmaQX9qcr9TITd+7qjeGjxy5avnLWvIU797mMmzR5wbIVm3c7j58ybfioMQgoh40cNWn6zPnLVz7wDzlw9MTmHbunzZpz/a53x86dQa4ajrty696B46fWbNoydsJEhLCgz0nTZgwbNXrKzNkLli6fNX+h47DhS9es37b3wAP/4JUbNo8aO37h8pWoYvjo0dCfBLY3WKpce+Vx578/r5Dt8ivAOVKPkP3iLJoHL7LDzYaiaS7AXxQgVjQ7n+/OCvCMRdnNolbx3E1FbJ+Xwp3PlPCJ3JXmi3y15cedhSp/oTOHCufZNWoJvxROZvnAVtZuQL6HL2+PkxfLtyWzIX/uLFIVRTSDIS8y1HCk5OtaWBNkjUG1r9NVJF+g0KXKtQLyRRHycghYlhCnnKdPhRbrDHAquFapzcx62cO+hk5SVqVPhRL68gYpwsvzZUlxm04tIemcFgpB5Ap9mkovkKuPup6uUKHCibNuySJJWKIgIjk9OjUzIVMydfqMH7//LigmIVWhRhFUQYfIpkhV7nfun7t6PVEkx99rt+4+DAoT6czn3W/e9wvE1vPXbj4KCo9KzYxKFUamZMRnSp+GR63ftnPxilVivSlBKEsWKxKF8kSh7IK7R1hCamRy+tVbXncf+/mGRDwMDH0aFo2/yI8WCAUyNYpDjFglELpduxEQFYdOiURrfCO50+6A8lyZ+ecX0YPbSDeXEyS+skC3+GLckM1l2NgUSzaxv2xnvtoKop+i7GYRq8iGfB3lC7ZPUbizgIp42MIv/s2WfAXyIK8lQB5jeNB6HYcTw3IrL0qT2pElnFNJ1hlClwKphYjlLEh3IWcj57WnoAOa+9DkAV8wn8YsShVFyWHID6AZMuhUZ7av6UAbuilTZQDTSAxWkdZEQkkwgd4s1hrFGvCiDtwJshRrTVKdSQR5O4PyEScZZaomb0YKSExJ/pI1JLUmcltVSVhTpNZLeYXgTkSiJPxF9JmTPlEKJkn0lqVr1v35xx+lPy1ZsWLF+g0a1K1Xv1GjxnXr1atbr+4vP//0eelStevUvuzppbJwNOqVGCyPgsM9HjwycJzUYJWbOB3HKa0ciHDt5q1KCyfRW1UcByB4PXr2wt0nAQg0IXDl1t2IJIFvcMTqDZuQA4PRCBBDO4j1VoWVQ0QrM0InJ9ZZ5GaiHE1HatRbUJwMstUYibzeSriTvN8Z96aNFaLIchn5Lbkv9aJ68GfUm2sp8FIvsmZbdzvHUs9xODKzif0tO0c6ksxsYtRPFUw/eZfsu1mkKrIh1w7aVP0D3Jl/RRS0OrLkb2Qe5NO2BXGn3e/nq/xFzhxaaX4LGupZLfmWzUmxz5bcJuVvT7b2tPUz8pIiQUG15NDw3CqKKMOQF0KVLiZZIJDIk4USJLCG9wdV8NxjFerMoXFJodFxQqUWxCOQKBIzRGlyVXyGUKTRiTU6/E0UilPF8hSxTKjWIofeMkVxgVybCnIFX6q0ienCpAxxmlQZl5qeLlerzJxIrZXqDCK1LigqNjY1g2dQvVClAchd4mwWkhuwKoPcYB01dtxnJUv0GzhoyMhRg4eP6DfQsWv3Ho5Dh/YdOHDoyJGtWrd+18Hh5LmLeo68oAnOFmnN9/2CjpxxW752w/DRY064XXRzv+k4ZOiW3c5Dhw93c/cITUi9fOvuyQtXJk6d3qV79xNul5atWrN4+arA6ISFy5Z369Fz6oyZ2GveBv7+c9bdbHpPGDlIg6cR4/JGkq2ol6+dl0fnA6yvNpDnncVirFBG1q6SNBI5t/5FPPOVWUtuN51NrAicRJDNefFLoV74L2vm3Qfvv+otD8pqqxfRloNCeG28n8omVjD9EBRhN59fRU5kc5RZMkXdoxfgTiCfimzIoqV8T4N8kG/bFsCddkYpSPkLnTm5hbNXZ6soP+4EsvbRvhTQSoV1Mgo4qbJQJO4ECq3ChqLIMOSAxiDVmS/f8Bw9dvzCpcsPnTwzf8myles3JgulCKfCElI2bt+xeceuJStXjxg99s7dBxli2cr1m3r26Xvm0hWp3qQwWx88DZgyY9aEKdMeBYZIdDQeNQiUeoSSm3bsdrt2A1GgXG/28Q+eNW/hyDFj9+x3GTl2/OETriqTNV2q3OHkvGzlqgVLl63bvCVNpiImKbW5uRMErzHKDNYRY8ZWq1YtOC5JzXFhiYIxkya1atPG6cAhodYMhtt/+NjHH7zr6naJcicKItC8ftdn3pLloFvEo127d0caMeVxt4v9Bw5cuXHzk7CotVu2Dxw69OzVGys3bIbY6HETRo+f2LFr14XLVzodPDxt5ixTFhMTS3hS5BM2igFojEszsZWfwIGQDl+EPCeWaPi5EQrjztdmrBDdE37EF91DuqtvNMght6XJ0c3eXAx/DZRWmYN+DmifpqB+FcO/DbHeiqCwY4cOk6dNFchV3k8DmjZt6jjYMU2mmDB58pLFSzKlilSJfM6ChTWqVY2OT7rkcefbr7966BeIqDSdf5g3adLktu3aI2CV6EwgjDQwh84cEhNX/o/fh48cqTCaJDqLxmxZuGRZk8aNBCLJoiVLalSvHpea4eXtO2ToEESwQRGRI0aOjErJSNNayLe48zgocKfUyCF2rFatalhCqpnjEEGW+Oj9dxwcmrVokSRRGjjO+dDRD997G9ypzWI7BNCgzKmz546fNEkgU7du02bJ6nXeAcHnrt3o13/A0tVrz1/3mDR95sBhw2/5PHE+crxNu3bDRo+etWBR34GDtu7ee979xsQpU+IzMlKkqkyNkXpOuFCQJZTzVdAcm0e1CyBht7yYzQVv3wGs8ZcmGADaOLTrxPD3UFDIyJADNBZkPYzXFkKtRajU9evXb9a8eXKjFbR08PjJ3379ZduOXU2bNvEPi1CaOYWJS0zP+O3XX7fu2hMck1i3Tu2A8Aix3ixQaJRGbtHiJb369BFI5SIdIRhAZrDsP3xk6tSpNWvWeBoYrDJziAW3bN/RvXs36D938UKjRg1jUzIe+QeDRIePGH7r7r2omPiETGmSQpcmz/28kxiZjTuDY5OUZmtMavqgIUPLlfls2569Yp1ZZeWcDh6xcydPb+Rl0IdB4YfPuO0/eiJFoty8c/fG7TtHjhu/ZvM2J5fD2533T5w6fd6Spc6Hj0+ZOWfhspWHTp1buGLV3MVLT128Mm/x0sHDR+zcd+DAsZPRAiH/GJjwJeqCPVncScIzrAUKxMoG8nyXp1i72SSz2H2/k/IEv3uMJwjIMc7qHOU6ugx/Abbbgyyceg5YD+N1h1BnyZBrwJ0z5syR6M0yE+cTFNK+XbvevXpVKF8+IVOcqTGJtEaRQtG1a9fFK9c8Do0Cd/qFhkkMlgyNAbw4d958yp1CDVGInMj4pElTpp45d65a1SoLFy9WW8ggne279/zx+28TJk2uXbvWoaNH1SarTG/ds+/ALz//VPbz0kuWLBGq9KlKQ4aCvM2Z3UIgO3cGxSbKTZyG41as2/D1l1/c9wsCcSosz7gTddHHdtATkZR25PS5M1fc4zIkiLBFWnNkcjrxgTz/RaVmZqqNofEpV27fu+8fLNFb4zOlyFSYuUSRHJJCrQlBJ0hRoiezyafK1E/Co5MlSvyFEjKGSEuoVKQzwySQemRKOnJgrd3yYhZ38g1HEvz0vnqx3oKWRXO8sZCbyagwmsApKDWQcWI42Ax/FTFr6oMSGqyJyJXPwPDaw8zB9VNXScb1aMxpMk2fPn1mL1ggMVoQILrf8WrapMmq1at///13zwfecgsn0pszFcqGDeo7uxzxj0oAdwZFREJPpsYg1hgWLFrUvWevdLkSHiZDqVOYrCfOuvXs3WvRwgU9e/WqV69+RKLAynFbd+zq2bPnk8CgatVrgFCR8ygwLCw6LkMoXrVmbb16dcHKIgOXSWZjeObMbXZmcWf16tXATyaOS5FpOnTq9I6Dw5JVqw0cB25AcGmPO8ndVKVeY7UePXW2fv164ydNnjhlalyaKFmqjM+Qgke37NoDIgxPSgMRgn0Pup7Zuc8lQSgNS0wFEaI6UEZEchoYFPVCLDQhVWKwouDmPXvd73oL5Bq40KCYxJD4FCSQH58p3rn3wCVPL8SgKGWnz+LGnaRbwUecGsjobj18cvrStXNXr7/ZuHHm8rWLNzy9/YOehEY+Dol4GhZVOPzCo/0jYgKi4gKj4gIigVgGBobiDlzXUSnp1LmDpRB3pkiUnTt3Hj95MhxmQrpo1Jixs2bPTs4QNm/RonffPikShUhncjl+om3btjGJgju+/n/+8fsD3ycZCsVul8OX3G8uWrKkTbu28WkZkUmpW3Y53bjrPWL0mCeBwXD1QRHR33/33dKVa8xm86y5c9u0aQ0nvm3nzi/KlYXYmcvucxcslCqUianpqPRpWHSGjjzvLIQ7K1WqeNfXL1aQ8SQs2uX4yW17nE+6XQxLSI3PyNy4fRfhzvN83MnfXUNs6uRyaP6SZbAEQer6bTuWr90wd9HSeYuXtuvQYeeBQ6s2bZ0wZarLiVMHTpxetGL1rAWLps+Zf/P+I73ZeuGG57BRo+cuWnLc7cKYCRMnTZ95/a43aHXi1OndevScs3DJ2as3lq/bMG3O3As3b81dvGzm/EUTp8/ce+TEhh27I5IF9t7J68CdLzLOljQcH7Pzd5/RIg0aNsR58IajWYsWLVq2bN2mbZt27dq05deFAsL16tWrUb1ajRrVebCFLWwp9ssfv/8+e8Fi0CTcI0ILhcH8JCCoR6/eQ4cNP+p6evX6DTv2OIkUap2Fu+vzCIHj6nUbEEdOnDLNy+eRwWLdsnNXw4YNFy9bvmzVqlFjxty+7z1/0eKOnTpt2rZ98tRpCxYvdj1ztluPHqfOX5RpdY/8Atq0aTNo8OBb9x6MHjcekaLHnbtpQpGjoyPIMjAsYt7CRVt27Ny0fceh466ZSk2aUpMqJ5Mb5AK5a2qwjhg77sN33/6izGdffF76q7Jlfv7x+99++fnH7775smzpr8p9XrZ0qbf5d1Ts3InE3oOH5y5aDNLZf/Rkzz59e/ftB5IbP2XqjNlzXC9e2bBjV+cuXWfNX7hp556Fy1fNmLeATiqEoHPe0uW3fJ6sJbPxjdp94NDJC5c373IS6yxzlyxz93qweOXq8ZOnrdu6fcTosX36D9iwdXt8atrMeQuqVKmybM06cLZYb0XwBhpCPwAMVeVaQqHc+TrNycfbTabASFNoEW4HxSYGxyW90Yi1rdEUQTHPR2BM4pPwmLuPA275PEbgfvvR0zuP/BgYGIo7PBAzIsLLGj8oVOkSBBkhMXGhsfGPg0OjEpNVFk6iNWYoNQqTVSBTPQ0JfxwUkiqWy42WNIU6JDYhMj4JAWVAeFRypjhFJA2NiQ+LTfAPjUBmplydIEjHpsDouBSpIiopNSIuEQKhsXGQCYlJCItLFKu0GQpVRHySXGeQqHV+YRFhMQlSLZn2FtwJr56R05nDyEw1mB6x76kJU6eNnzx1wpRpSNgxcdqMCVOnA+MmT733NFBKZrUlTzS1HLfnwMEu3bqdd7+BAHHJylX9BzquWL8JLDhpyrRZ8+bPW7QEND9u8pR123bOXbJ0+z6XwcOGLV+zDkyzbM36vYePQQDKj527cOP+w23O+4Ra0+SZs50PHUUs26lr1wVLl40cM65Xv37zFy91PX22v6MjgtfxU6a5Xffwi4ihsyWkK7RSTbEaK0THQVFgH+QmfiYIhhcBGk1h5pQWHlYGBoZiDxW/JiNf+HGUoCXCVSqdxGCRGMwiHQlGUxU6OvdempLM2CfiP/Is1JqRn6LQiXQWmcEiJZ+oNKWrIKkRao1kkBH/GeoMfpYiaEMmmRiBzkOkJ6ON+OlnST4IMl2phYxAroY8/LPCYBVpjHR4LXHdefw5T/OgQyP5KCb5gmZuwCoybIcfDcu/Z0EGwcoNpht3vfsNGDBhytSLN28nihXrNm9dsGSZt3/Ipu07V2/YvGr9xrmLliB8PHftpuvFqxt37MLWG/d8tCbLfb+g8ZMmr96wycPb1/3OvcehUdAA+/e4HB48dNimHbvPXLm+bPXaRStWHjx5ZvGKVVNnzt653yUiOe3MpWvzlyw9e9ldZjSnyTWIO4vT806AfgSccif/7iptfYaigzQdbczsaQYGhmINXN2ENXmW4mMMfrpapV6gJJPNChR6gZx8zAQuVMC/6YEiECMT3vIT0iIfUSCYNZXIE6RlaSBT3aoMqZR0iccwpqsNyWR2IQSU/GS2ck1KVlqg0KVDjwL+mcwvz1tCEnQq+ewg/odfg5X5oa25gZCUX5M5BSFG9w4JgZy8OqLip9lDMADeJWMnLWTOPMQDdOwk6VJYyKR6MiOJFtRkIj0L9lFisCINYfQbpEYOmiEDI1EK+XT0JeTpEF9oQALALpNRmXwpfrIhOjeCodhwJ38YiLunyLWV4YWABsS5jgssVz4DA0NxBK5o+kiLJGhaybMp32lGQkg/FqYGdJlkflpEhxr6jRS43FS5Ol1BxNLp3PFKY7oKrtgAxgURIjQUIFOhl6gMMjgNfo4hIgkao51ypRHV8TVSL00ywVUAmQ5XBbbLy532BG8zP8VPdlAl2IS0fddojkCu4QXIvVO+RlIv2WteD/6CcakksYGXwZrA1rGwVUfT0IY1zYQA/vIxLq+fr5eP00gCRZDGOhM0/G9z5wuMFaJ7y8DAwMCQF3b/TtP2fPpXyH+k0w5ETrwM1uAPQiH81D+QzIKtrO2tDD6iBQHrRbYRsyQ/XUGmlYe7pmWRA9KiCVKEVsHXkmtCvuzgzcidmS9I3Jkrh6e3XDlZCX6dlUnzacIuk31TQTlUTy6I1IYicOd/8fudDAwMDAwMfw3Fb14hBgYGBgaGfxeMOxkYGBgYGF4MxWxeIQYGBgYGhn8djDsZGBgYGBheDMVsTj4GBgYGBoZ/HUXjTjbOloGBgYGBIQtsrBADAwMDA8OLoZg97xTynwgg797mzLH/5XNs0zjlzMwrZsuhiezILmZHLhkKe372hB1Fz8memZ9M7j2iMnnEnp+TC9kF8grn3mqbJeuZDBXIBXt+QQIA/dQDSeSpiyYKAgpmLwJ7nnusc/1lYGBg+PsoTtyZQSd/5+cbxNYMWK814a8UfzXkr4SfzBB/kZCZyHyGkKdlpQYrJCFP9KAgP4k8/RKbWG/JPqE8mR7dQhTSgjbwH5mDmF0S2sg8xTDARBJCtCNfBda0CDRATJL1FyDG5/w+LSDRW4nOrF2gFeGvvYgia4+wtu8RVZVdOQSIchOHXcuWaYUNdK/zBdVDisB+7GA22+y7Rhs2uxlIYyvZQb5NaIPYIdKS+SGJWvJNdn7vsoHo1FtovXRfANpWKIUE/Xx3LkASO0t1Unk6fSUyATJ9pcnWYhCAPH+szXRyEwggB/0P+1wnDAwMDH8TxWOsEFgT7jJTrXc5cWrWvIUnz1+BZ5QbLLHp4o07ds9buszrsb/ayiVLVEfPnJ8yY9aQESPnLlri5n6TUJHBItJZ9h4+PnfxUr+IGPyVG613H/vPmLfQ9fwlmcl68vzlxStWL1m9dunqtcvWrN+1/6CXrx+cfibomZ+WCe44Jk20eZfTkpWrl61ZB7Elq9ZA25Vbd+89DVy0YvX5657JUuXOfS5zFi29/egpCAb+OiA6fvHKNYdcz8gMhI2Q4xceg4qQ6RMQKjNawUnA0TNuM+ctPHPZHZyBgrHpknVbd2zZ5ZTOf4UAe33mivuUmbOGjhhJvsV63ROZMqPl2p37KHXk1FlC1RojrPUJCpu/dPmaTVuDY5MgQCZrVuqgHJn3ngZRRqQTM2Y1KWGg05fd5y9ZdsvncVymZOPO3QuWrfANiSB0ZbQ+Cgqbu3jJJY87CpM1SaLAjkyaNnPwsOHTZs+57HEb3YuA6ISVGzYtWrFq6ep1aDfaLNjBu08CDp86i3p9AkOdDx2FTuQvX7sBTYfEgmXLT164fP3ugwVLV6DdYJhYZ4lITlu1YfPOfQf9o+I3bt+1cNkKKFyxbgPRuXLNopWr3a57HDx5ZuHylR7evrANZPk4LGrDth2jxk8YOXb82s3bgmMT+WmaLff9g3EoN+/ckyhWYAfT5FqcMwtXrPIOCBXrn/UqGBgYGP4OisdYId7pG1RWDqTy7lsOFcqXfxoRizJw6Pj75x+/B8UkpitUYyZM/OTD9z55/92SH33w8fvvflbyY3hqoUavsnCt27R2cHBwu3ZTw3E6/ttv+Dt85Cgtx6HUB++8BWGU+uSD9z5853/fffPV8bPnEWCBfgB46oCo+KpVq3z03tuffvxhiQ/fxxrFlyxfuf/YyXccHOYtWRaXKW3YqCEyu3brliiSa6zcjXs+pUqW6NGzJ6oAR0LJxh273v+fA+RBJ3yEB9ozDRo8BKUqVqzgGxKp57iQuORKFStWqlgeey0xWFau31S65Ccfv/9OqU8++vDdt0t/+snqjZvRDstWr0Wpfv37qzk+vDNYZy1YBM2Q2bXfBfuIvkW6Sj/QcfAH7/zv6Gk3dCygEGakZU2ajL8gm9kLF7/l4LBz34GQ+JTKlSpC56hxE8AxaKKjp86SfVy1FvbPnLcABnxW4uOvvyz3yQfvfvVF2WNnznv6PP76yy/QdGU+LYFNEEDLlPjogwPHXLv36A61aMNOXbq895bDp598VKZUSexIyY8/eNvBYdyUqSvWbYS14F20A0LGh0HhX39Rtmnz5h7ej9HO77+Nw/HJ56VKfv7Zp1CIZoedPfv0Rb7ToaMmjrvs6VWhQnloLvHR+6j0/bcd6tate/vhE5h93O1i6U9LlPrkQ1AmLE9XGbp064qz9tzVG2grekDpScXAwMDwl1FsxgohYAIfpMrUXbp1h9tdtWGjwmzp3a/fR++9A0I1cNxWp31IV6lS+eT5S4+CQve4HP7l55/gW09fuoqtnTt3+p+DwwWeOwFnl8MghpGjx6DisRMnl/rk4zmLlpy5cs314hWErWDf9h07JojkCPJQL5x7QFQCfPpvv/685+ARKEQVcM2PQyMRa6JScECCSNG0WVMUBEnsPXzMzHGe3r5lPy/dr18/VCfWWwRyTYeOHUEzJT58r3XbtnEZErmRE2rNQ4YNBzVCyaRp0yGJCIx8AL5aVVSKmA/k8f23Xzu5HHkUHLZ1z17QSakSHyOO3Lh9J+wfOGgQr9wckZRWs2YNVA3u79Ovf5pCw39OzzRoyBDwFqwFbZDvAJBJn+0g3AkWB/ntPnAwNCG1du1a4MVvvvzi7JXrOJTgzncdHEDVESkZP/3wffVqVd3v3I+IT9i627lMqU8bN2nyODTq7BX34+cujBw3HsTZqWvXE+cvHT93MSwhtVv3bjhG565cv/3wMWpHDwDU2LhxoyOnz0H+gX/w2s1bQepL16xTWsmtYATNv/78U+PGjQNjEi7evH32yrXZCxahN9OpC3RePuF20euxP/br4w/eQ7Ony9TNmjWHbcNGjvL2D7rr69d3wAAc3K7de4i1RtcLV7796kvsVOMmjWPThIihe/Tq9flnJS9cv4U+h3337ecVAwMDw1/A6/28U0PcHA2VeOhVHHf26o2ypT+DI953zBVesmHDBrHpYtBqy1YtEXXtPXIMTAmqAKksXbUW0efQESPhoDt37vzOWw4Xr3tAA8K7vQePEO4cMwbpMRMmgZDO8ISB5UFA6Ffl4Ogbg94QGqJSqcEaGJ1YuVKl6lWrxmZIYCuUQD+weZfTx++/t3jl6nihvFmzZl98XhoE1qBBgySJ8oFfUNkynyE0hBhY6prXgy/Lfd6qTetGjRuX/ezTq7fvkW/CaUxDhg8HQf704/fffvWFxwPfJLGiZs2atWpUR5w6atw4RNVzFi6mdWEv1m/d3nfAwFvevkgQ7nR0xJ4i/+SFy5+X+rR7z17VqlX77usvHwaGKS1Qbhw8dDi4E3wGMcoZtD1x4Cl3zlu89MN3/7fnwKHguOTatWp98XkZBN/t2rdX6E2nLlwCA63bst0vIvabL8tVr1bt5gNfFJEauCu3vM5ccY9JE9HG3LB9F+h//OSpqAU5QMdOHRFfXrrhibZCN+KOr/+XX5Tt1LmzUEciWuwLz51vod1gvMzIeQeE/vj9d2A76IQSnIagQPQDxoyfAGEaPvbq2xdh6+FTZy/fugsj69WvFyMQYhMUgvjr1K1T9rNS1+/5nL/u+fUX5SpWKI/oc9X6TXILhw4WDorbtZt8I5Dgm4WeDAwMfxPFhTttgQL5sLjePHT4iM9KfIxIpXTJT7Y774P3RLzy5++/gX6ehkfDv2co9Vhf8fSCk23YsKHczHXp0gWR0MUbnvDFcPdOfNw5asxYpPm486ORY8dt3rVn487dPfv0AZktWrZCxA+HQdUyI7gzAZSG4Klhg/qNGjaoU7tW9x49olIzEHeCnsEBCFIbNKhf/s8/psyc/flnpdZu3nY/IOSrL8pS7oTXBgXCAHAGwsf33nJAdItMxJ2OQ4Z++/WX85Yu//nHH3r16RMcl1S3bt3aNWtIjdb27dohunLjbzbC6ZMW0JBPvSOWWr5m3VsODo5DhsB+xG1DR4x479139h09vnDZSoSw67fuQKWEO4fx3Ol2kYRcfBAPPfR7Pdgv8CvCO3DYrv0HQ+JSqlSu1LBBg1HjJ6A1jp49f+G6x3v/c1i5fqNQbejQsRMsASvXrVtn3KTJx86eT5UhtCVWwZg1m7aiUjQgwmt0YqC2Q8cO4E7a2mBHjwePvvqyHCgZwTc6IiiCcPb9tx2WrFoDw7CnD4PCfvrhuwYNG0QLhKBS7C8iVFg+atx4MtLHyKVIVb379sPRPOR69qDrGZDotNlzyYgqjRFtiHohia1g3As3b5cuVXL67Llt27X75ccfHgVHDh46DH2js1ev881o23fSmAwMDAx/Fa/7WKFcbo48fbRwXr5+f/z2K5xvx06dkiUqOOvHoZHIAULiksGUKAWxWz6PP/nwvZp8DNeZ584rHrfhzcG1+w4fpdyJ9MRp08HBIIyPP3gXRIg47Ldff/H0JjEWrR2+PiAqvk6dOggrK5T/s1Klir/99muLlq0iUzJ37j9Y4sP3+Xu2ckTAf/z+m9dj/44dO1auVNHp0LEfvv+2b79+CLxi00VNmjQp93npR0FhT8Kiy5UpgyAPISw0DxjkCM9+2cNr4dIVn3784cYduxs0bFirZg3sVPsO7cFA4DDe6ZNQifIK2GjF2g2w33HwECvHPQmLQr2VK1eMEggREX7w7tstW7bIUGnQybDds71wGbEgimN3CAfzNJyu5J93LliEZkTcGZqYWrFiBcTEdx77gyARQ2/d7fzR++8sXb0OxyYsIXXJytWt27b9ouznaEZEmd169gpLFEgMZDzzms1bkTN6/ASJntwoVpq5Dh3a/4/EnbdgLdiRcOcXZcGdqTI1GXlrJtwJzsZeYDfB/Y+Cw8Gd9erVi0rJgACsPXz6HI7dyDFjxeTb7lYc5R69eyPn0MnT+4+dLPHhewuWLEfVmWqjUGMS66zjJk0p+fGHrhevurl7ILFm05ZLHl5lPisJRu83YEDpT0vS5530gNo6IgwMDAx/FcVjrJAdxPfBV+ot8ImlPvkYMRwcIrxnglBeq2ZN0BjIQ8sPnwEpIiSF9+87YCB8cadO5HnnVU8v5KMy+rxz2PAR+Dt24iQEmivWbbj/5Mm1217w0R+887+Fy5ajFsSd6STuJNxZuXJlRGaePk/CEwUIQ/2j4lHLlj17Ee5Q7mzUqOEvP/8UFJN4zevB119+UaN69S/Llhk0eDCaxc39JtJA/Xr1gK/LfQ4adj1/GbUPdBxS8pOPzrt7xGdIatSo/vOP30NJvbp1UGm/AQMR+W3Z7QS+R12gGXDD8nXrvQPDENdS7oRyp4NHSn74Pnmg2KhR7Vo1kP75px89fR6jZcCdIJJTl65ilxEmiknUTgbcUhIFh81dtOTDd9/muVMAvq9du1ZchgTkVLb0Z/Xq1v2s5Ccr1m1MV6r9wqPjhdIUmRoB4h6XIzVr1gDfn3Ajt4JBbGu2gDvfHT1holhH4k70VDrx92wvXveA5fjr7vXgm6++bN+hQ7JUhbiTcid2bea8BWgB7Bea95effmjQoEF0SiYIGKUOnzpX4qMPRoweLdIRek6Wqnv17Yvji6DzhNslVNezd2+0CfYI1Jsq17Rs1frTTz68cPPWxRu3YBuYHmoHODqW+bTEr7/89N03X5+7ehMsTgedUQZlYGBg+Mt4ve/Z5uVOarTOMnvhYkRpTgePIngCd8K9Tp4+E+4YLjU8KQ0+3T8ytn79eu+95bB5l5Oe43r07IWAad7ipQjayADUIUPffsth1rz5IFpwJ9wugjPsPcK47c4H4JoHDhmSItOADAjHIO6MBndWqlqlcpQgE8pBbAQmbstuZwgvXrk6Saxs2KD+Lz//6BsSqbZww0aO+ui9d0BLQ4YNQ9w5Y94CMEH9+vVbtW7dqk3r6tWqffLBu+OnTBUbTI5Dh4HewAeoeuOOXYiosF9gQSjfuc/lw3f+17BhQ+gEnVy5fQ8BcelSJe888tu0Yze6AoOHDtVYub4DBpT65EOEjC1btWrTrh0IHvUuX7NOa+WGDB8OYt575HiSWIpmiUhOj0zNROxOuRNNMWv+QnQUnFwOhySkVqxQHqQYnpwuVGo6du784btvlS1dav22HTcfPCpX5jP0DCKT03GIhTpzl27d0GKuF6/AKpnRunrTFts9Wx3pbfDc2Qmtfd79ptpKomT3O/e/Kvt5h44dEXdCRmXhdjofAPc3b9YsNl2Co7PDeT9C/yZNm0YLhJQ7XU6cwqk2YswYkDGaGnFnr779kHPk9LngmMTffvm5TKmSO/YeIC/2GCyrNmz+5IP3ataogeKnL11DqD1/yTKovfs08Kcfv0eTfv/t12evuENt1r4z7mRgYPhb+Ne48y/PyQfvDP87fvK0txwctjnt5W/ckduqT8KiGzZqhHCnUsUKrVq1hHsFcSLWiUhKA0E6HTpa+tMSxEE3aYzID672x++/8/R+LLdwg4ePAA8dOO4Kp4/Q5JDr2XffcujWoyeiGYQ1iFTAnf6RcQgHERQGxSUh0OGdLyGJdVt3gAPmLFoSnymrXq3qF+U+v+8fbOI4b/8QCGPTgIEDE0SyH777Box42fNOilQtUGgQPsK///7rLwHRif0GDADNgDsNHBcvlLVo1RKlqlauBAqJTRd36twFe/TnH7+3aNHih+++hZ3jJ09RmkxLVq0hygcN8ouMK/tZqa/KfQ5CTZYo01Va7Cn6EHXq1IkSCIcMHwGx33/9uUqVyhXK//HLTz8OGjI0PlOK4I+QnIWbPmcuBLbt2RuSkPLTD99XrFAxMDYJ9p+9er3c56VRHboF0Nm+Y0c0Jqxq3boFYmKE2uiXBMUmSg0WENsy/gbykBEj0VyIBdEsLZo3R845nq7Q1bhy6+7H77/XvHnzFKkKga/CZEXPplat2mDc2rVqtWjRHNwM/YtXrBLrydQHKo7D4YAGdCzQT0JTJElUHTp1Ro7ToSMgxTWbtnz6yceIL5s3a9qoYcMSH7xX5rNPQcBow6NnzkNs5rz54GzsIAJrnCeffVoCnApLsNfQz+7ZMjAw/E0Ut7jTFjEYnQ4e7tG793kyV4CFBhMSvdU7IHTcpCm1atf6/bdfGzRsOGvegtCEVDAfiqQptLv2H2zXvj1Ct0qVKnbp2g0RDCgkU2NE7Ni7b9+rt+8RJjBZbj980n/QoHlLliWK5EJ+Fhv4bugZN3nKuEmTI1MyEAnR2AX5py5d7dGrt8vJ08ky9cy584eOHBUYkyAzmmEVoqKOnbps2bXHNzQSBDlx6vQksRxMA3uSJAqo6tW3z+1HTyHQp/8AjwePFGYyb8756x49evWaPnsODEaHwD8qfvK0GdgjMHfTpk0XL18J5gPBHznt1qFz1227na/f9e7Vp8+y1esyeC5XWrjwxLSRY8b2H+j4OCx66x7nnr379OnXHzrRG+jQqdPsBYvs796AxvYdO9G1R48L1z2jUjPHjJ+I2D0qVSgxmBHKr1y/qWv37odPn0OY+DAoHPbXrVsXZlSvXm3IsOF3H/uT6R1UepHOfOzche49e27a5USGMpG5hCyLl6/q1LXb3cd+UoNJajD7BIaBsxetWIXwETKk6QzWG/d8BjgOrlixAo5I8xYtlqxcHZchwSHAVqzdvR707N0b4TWOtUhrRMHla9b36tv3/A1PhdmSptShi9CpS5fy5f+sUKFC9569jp09TwrqTTfuP+zVp+/+YycJSZvJIC+Q+qChQ+/4+kmN5FTJJA/Rc5xUDAwMDC+K4sedcHyULOksOUgL5BowDRKgT4mBvLHwNCIGZICwA1yFUrzHJLcoQRtPw2NAb6kyNQ1YqZIMtQFKoJko5OkZERJyaEEA+WS4LzWAX/M2EEpOhz22v6QsbwnRAFLBXwinylTkVrPGRMqqdNgKgsHfNKUeZhAu4S2kawS1thxeG3hIauCC45IfBUdEp2ZiF7CPvOunUwaSQVVZf8FJZHfAi0inKXRQTtVmA5lsiI5bptZSoEbkI0FkkEP2msxeS/9CLVgZuxOWKPANiQyJTxHyDzWJmG3fKWj7kObCX9SFsmgNWhexzZYggAxoHvUGRsc/DYuOThNh1/hukG0rtQcJ/CWa+V2jSpBJg+YUmcY/Mg7smCrXZPWQbEfBtr/8dFTYkRxG2naQ2MnAwMDw1/A6cOcLfL8TDpGs+bf0eJIg7AUgQbwtIS0jfQsCvh5p6ivpVqzhnbEJ/IQE8in4fBKHpSuIv6bUAp9Ly9q9NggPoB6ZCPOcjfgMYSg1A1vxl25CDlw2aqG0RP6Su4U2isJfqg1bkU9qp5uIJPlLNmXtMtIgBtoP4JWQTFKKvBBC3qLJJQ8gB0AC+TRtRy5JKgAlefWQTXwV9r8wAGbAGEjaxQDsNTg+R1m+rhzW5qkaQCY4GDpxROzCFPibW2eWqfYcCKC4POf8wHnrwt9cBRkYGBj+JorGna/POFvCUuQxJKIWkBONM+DN4dZpiAMZpCEAlwoHCjZCJjgM8shXWQngrFX8czgIQAOK6/gXV1CEUiNhKdAkz6AoSMSUOvrmolhvxRrOGtVBOYJCbE2VaYhtWawJToUA1NJYB7yLNG+tFiSBivT84FIqT4ug6iw6z7G/DAwMDAyvIYrZWCFwG0goJD7F0/txXIZUpDWCkO4+CXjgH0w2aYzxGZJ7TwNC41Ou3bmXIlWhCLgtPlNy7c594NSFK+euXr96++7Zq9fPXb0BMaWV8w4I2bJz98ZtOzy9fRFpgcDcvR6Q55o6FJTevP8wIjldojdGpWbe8nnsGxqJHDocFDHi0/CYR8HhfLj5LB5Fjb4hkTBJqCEGp0jVsBZKwKD+kXHbdjtt2r7z1sMnNCRF2RSZGn+DYhJhPzRk318GBgYGhtcQxex5J+I/sN2aTVu+/ebrM5fdEcOBwAYPH1GtWrVH/FzqT8Kih4wcfe9pYI/efVau34T4EliwdHmXbt037XIaPHxkp65da1SvPmjo8CEjR919Enjm8rVatWt17dlzgKNj7Tp1NmzbgUixdZu2u/cfRGNcuOH5448/uJw4hV07ef5y+44dj549X6FC+YlTp4EIlRbrsrXrZ89foOVIwMoHkfoMWEjmHFg8bNQoxLig2Mjk9EaNG1+/6+0XEd22fYc+/Qc4DhtWvXr1rbudxXpy0/LOo6e//vrL9Dnz+Jl6GHcyMDAwvO4oZtwJKkIs2LFz5z9+/23spMlSIxkcNHAwmQFg0vSZSrPFLyK23yBHBHnnrlyvVLGCf1ScX0RM9erVDp86C6KS6sk3v0CcCBzFOv3DoDCQ7op1G0T8TeATbhd//+3Xyx53ps6cNWnqdDPHrVq/qcxnJSdOnW7luMXLV/bo2QsBImSI2C0vA8ctXL5q0tRpPIWTuBNBMBJg66kzZ/fr3x+cKjVYI5IEtWvV9PD2XbdlW7+BZPZ2aHZyOTx+8hR0BdQct2TVmgrly7dp2xbxtIT/YBkDAwMDw+uM132sEH3+R6MxrEFLrucvI6Y8fu5C3Xr1QuNT5Gaud99+w0eNatmqlZu7R3hSWt9BjoHR8SChMRMmDR0xEoQ3ZvwEhdkq0pKJyN2u3Rw6cjRIzsRxzoeONGzUiE7NKtSaENH26dd/0YpVR06d7dSla5xQNnjocLBg34GDYtKEQ4YNX79th6fPY0Sf4yZNacvPzrpy/cYp02dCLYJOmEfXMHLa7LmDHAeDFyUGa1RKeu3atVAQaitWKL9645art+4iMyZdLNGZY9JF6AqcvHCpc5cu2532g27tx4aBgYGB4fVEMRgrREbcZN3JRNw5mnzueNw9v+C69erscTkMourao8eWnbsPuZ7t3KWrp49v/8FDnoRGKshMb3E1aiCwrBoUkyg3kduhYMezV28MHzMuWaJElTuc9nbs3CUz6ymjzETm2Zm9YOGjkMh2HTqedLvYpXv3O77+4GYob9+xk8f9h57evq3btvEJDEVdG7fv2rB919QZz7gTlAyAMmfOXzB4yFAQISg5OiWjTp3al/jvRa/fur1b9x7NmjevXavWgeOnUJB0AurWfRgcgZ0a4DgYwbE45yhWBgYGBobXDa/1WCGRWpeuAich4iQv9on1loiUdHAhwriu3bv/+stP/QcNAuGB4dZu2qK1cD179xk4eMigYcOfhEWT0bAGbsToMWMnTQGPYlehRGXlTl26OnT0mESxArx18MSpGjVqRKVmQACMheizW4+eC5etkOhM/QcOatehw4gxYxUmy7xFi7t0696O/6LnjfsPm7doERKXfM3rfuPGjXv3HzBnwUKoAjdn8m800lomTZsxaPAQhLbQHCMQgjvP3/A8fNoNAbGe41Djxm07a9SoHpmSgbD1h2+/6dS5c6NGjcr/+YdvSCQsz36EGBgYGBheN7zW3Gm/Z8u/6aFHPIdQr1WbNk/Do2NSBRdueNasWeP2wye9+/VfvmYdar/t6/fzTz/Wb1A/NCEFZAauHTlm7Iy58yVkCjqiBHHnqQtXHIePQNwpM5HZgho3aTJ+8pToNGGiWLl6w+ZKFStAoZnj5sxf+JaDw5ade6DW9eKVEh99MGzkKK2Vu3r7XoOGDcHN4Mt5S5b+z8Fh+qw5agt372lgXLpYyA+dBXdu3LG7evVqd58EZKi0G7btbNioUXB8Mpi4T7/+8UKJ3GQ9dub8/9u7DvCoii28WCjSO4gKggqoNAVERHoPJVSp0ouKoIDtPQt2QVSeha4gCqjUUAIhHZBOKIEQ0nvZbO+7SXbfPzN3b+7e3YQEA1Lmfv+33925Z86cmTlz/jl37+6i6d1BoS9277F9b2BiVtb5+OQBAwd+vuwb0C3/MiIHBwfHrYxb/Vkhdi8UhpLs02QFgX385VLwFvv1gxGjRi/77vupM2YtX/G91Uk+XPzg08+7vdgtJjmTfMBpLZj35sL/fPQx+QVa2ltDoXNH4KG5899IVelRgkTz0NHjgwb79evff+jw4T17996w5S/2CwC/7wjo0uX50OOnoPZ0THyH9u2+X72uwOncF3bYb+iQMzHxxgIXGPe5zp3e/e/7aHeIvz8o0Ehv3oKn47OUyDu7dOkydLh/586df9n8p8UFfj3Xp29fcL//yJEgzk3bdq7btHn0Sy+la0z6AvKlz8+++nrosOF5Fh8/I8DBwcHBcevgVudOgTgpsvSW+ExlutpIf5KU/HBBqkqXkKVKyMpLydOS/pjJ1z2vpmfjFQKgsaRcTXKuhikheoy2DK0pWalhv7eXbbSBtFJU+r0h4TsCg65m5IKSc+nP3UEMbUEPrWWPy8hFCd7iNS4zl+q3I69NzFGl5ulyDKYFi9/asf8g8lo0AYD8oD/46IltewMvxKeQH1swO0CxyUotck0Uno2JR1spSi0spF/rhHk2qLqUlMZM5eDg4OC4ZXGrc6fMXLXNKX2URm0rxFtpIfnYUvIDb0RA8oNtAFgNhdISvNUVkL+ZZP8uwgohJr7FK3TSH/nzKAdwrra7knI0ocdOp+TpWCEDLGFqGXGyQtAnSsRC6ITx0ipoSHzLwcHBwXFr4jbjzlsN5CcRaKLJPqQU7zBzcHBwcNzBuNWfFZKZe6tB5Euc5NBPZ2UCHBwcHBx3Hnje+U/BPuBkCSh7HlgmwMHBwcFxh4Fz5z8F40v2NJPsEgcHBwfHHYlbgTvL8P+dHBwcHBwc/zpKx523zP93cnBwcHBw/OvgzwpxcHBwcHCUDfzzTg4ODg4OjrKBcycHBwcHB0fZwJ8V4uDg4ODgKBv4s0IcHBwcHBxlA39WiIODg4ODo2zg3MnBwcHBwVE28GeFOIrBxeUdFTi6fHrR6xIHBwfH3Q3OnRzFYOdMQp0KxeSdXpc4OMoHMZ9OX35C+rbzzK1Fb28sti4tanrr9NtujxgwubNk6C4u//RuWadwkltism4F7uTP2d6S4Hknx43H1ul0gyYeUj64sUAIFtqkx83j7HKCzP47eZ3+e05SEkrHnfw5Ww4OjhsBYYvmPqYHyAVuGDwi8q0RjssGj6G77bi/LPj3nKQE8GeFODg4/n2cWNoFUbHj0hhZ+Q0H+2yinMLxiZ0BMg4+sXT5DWa1gMmw/xrcH7D1xt7RvdH63aCT9S84iS/wzzvLG+6PCeWH6NxsD0XfsnhBDs+lW1TOjmIXhuy+jQ+v8rzd4XVjpwRjhL2ej3tB19BZahmOuwVei8L7Q3TqMP+Cn5QzZ3v19IYHerZOi+d+2sEbmJUWp1+IAOWaI7LJukWewODcWZ7wJAzPw4s7P5UKF7Ej3UX6OIqhPa+jaK1eU0CU8WmMUN2z3dLo9N0FTp93Jby9yO1Cnj7DdoH/wo1HtmbLLxyX6mPUcuSVErjfHY5u1KiWpJ/tIYrd9F8naIu3SiThzwqVH4Qtp3eYKJ5+5ItHXHjSKiIVSX3UXSj1TqrZHQXcqiQCbJn5DGTkkBnjw/hS6RRK5IZ5DgLHXQDBE3wwBLzX0x+Ys5V3qC0FmEvfAOek0cAnpZUvrxTP/bRr5Zr2eaIE/UKgKO8EkQW9f2GD5RP8WaFyg88NoI/wIdKV9+LxZl8BAlOKyt2MVbwbFbM+2UorMrIEY7y5s3Q65U1w3J1g3lLK2F0m4fKEj3BMHNgnsbEVUSojS6Lkcl0gN4z7rwNiMCn5uO5ZZvp9Ts2/Af6sULmhjNzpw93ZovLpW7JL11x+xQrI+K94Y7wvlVLntXmd446H4Dyl9QH52mEehaPEQOn2NHYU15b7Dg07ZAp9LwfF5KUBW2Urwn2pVJ1iwr5JgtlT7IrzXF9CAnet3pVxrQnD61HL97J1T0QJoUaE+H1ZH0HPE9czcRCjxpTGkpsDzp3lB8HPJKtCXIrSexdCobfHCOvEp3MI3iYs8mveEhGXXDGHPFj4cl/hktidUuv0cPriFgbHnYxr7u1kYPLMn9m5ePhWIvNb9lbGi4KqkjZ/bFkJJSWGZjHcl6ZT0u7IUfyKEzpeRDme5OGTiorpeAmtEMivSpd20XB5MJys9RL1l6H7xdhPm5YEUjeF4yg+6N1s8GeFyhOC98sOmWcU63YlMiLzHkHVLc6dBJ5DIVkGHHc+ik+tfIO5FnFCKZl5cYkb3k7rKwSLOsUSLCIZ8zFyIuuIrK8SDI4pkpRfIp31LGfd97WmALaQfRKhx6WiMRHKfSosVlsAreKzR+JCFhSScSYaWLlQpYi9fDdRgn52yZe1pZs4Ou/emj3Mk+HE0pk+y28oOHeWH6iTdZw+k/qHcPjYpXo7kADBp31ubIU9YBm589p75GKNES+JzlpqnVIIy54cxVvLcWehhFjvE2IAZStIdDCmxzOw+vRDxrLeJb4pSoRgZ5dPl+LEd1BmKMrA5MZ4E6dvPhDhbaoIr32DOIDFkXEMXaE+tAnd9zUF8r5gEARTJa2QkREGRGqVlxIf+oWmfXTfR9TyHg1Bc+flYolHua8W6YCXNH0lI8fog2VyjNJz3zTEubO8wDzD19TKUDxdCW7na8HLLnn7nAzXFBBQvDHuS0VOWVqdXiihXxx3HsTw55M8fECgzACygqRO4os7vZSziO/plheX07IuJS1Gwb3Fo/jgKxCJF2dTDd47QsFC394uWOtzH8kqEv204xIZ39zpphNvbUIrPmxgfdlJ+07GEJLujrMBEQpFnT4ITywsRn+Jl0qeOCFnVcjnQpwsT2egkFp7Pcg22LKNNvJqsIEyAfKWloA1sw1WgNEnXqU8yrmzvODTyXxB8AMfdOVeDN6XBD8TlRcniXLBFwUn9kWKUhRvjPuSJKaUUqc35MuG405G8W7sG0y+Y2e8elbx4TbCvVOPQ+5XwmIpyd+obwu3iIq+3FzsKhDWlGSx0O2gb7otYYspbCJLrDh5J40kHtzDeuRpnmAMDpk2N7F52yD2hQ3s9AC0WCRDC/GWmFHUuo+m3fPrWz875JcktYqO0k4cKafu4U3J3mNVZlCCtGnsTm2+S2UtZGSJE60Dbwt0BS4dKS9gDHpLcOed96yQe2F4HbKplaxAj3ICt/d4XPXpUj4KmQFur/WpSmi9iOBLMEa4JF2ZpdFZ3Mr3sZw47ki4o6RvhmCQ/lKduHDk+07mgUUeXjwriBCclh7yEOwGk4GLuimkmCUG0HKJMxcRgGxRF0Ew0oeFrDly+Fz7bu6cDjGZADNPWkhK3B8PeQhTC2dOZqo8xlPSF0aTpHpRXdY1eevyKWB1u3SkffSpX+iFbCrl0ckLxU4cHc/Oy7eykfcYduGS71kuHShxWnPN9jOX4w4dOX4+PhkledaCmNSs4L9Phh0/E3AoLDDiSGxattLsyNJbck0Ose4dnneiw7mAV/mNQdHa9jokcUTwEtnycEPqQx6Hl3zRUpQeXn7v6yjy7BKMES55RsBr6yxuEIrpL8edB9Ezi4lrNIyK/sCIwZew1APdjspYwSd1CcQGPT5dl4HZRqszeSGai44tmsFKpFYVrbgStgVu/5dZSLS5b5b6XgtFC8eLYNgQFTVKBlDsppeFQubqYSTTILQr7gAkDFfUugftSYaLgLYo3F0vRr8PjkQtMbkveeJYc5Ieia4iyBRV9+jR9QHswLJJo9M5bcbMapWrjJ84KcdoV9ucb779zoMN67dt8/TI0WOee67zoMF+MSlZamuh9HPQ25470XN01epy2Vwuk8tldrmMTleuCYWFeKu1O/FqKHRBDFk5ZCAJGYvLpbEVylT9Q3jNLoM7NHj6X4mzLqefYjdronJ2+PBLuSp5uyUYI1zyDhPX0ukt4GvBcNy5kDqAh2+wwIrDa/fmk41kjkRU+Yr7RYVuTxPXhXd8L1pNzBiJHs/VhKMoiNNL9C2t5dNaAaIxYkOshDbEmvC13MTOSrnQ8xIzVaQT+dAJxIlz1opHubRRYRY8GnL33XOpCn1hkqw5IlCSfrlyehVDUaqJE1QJmqVD7cMSHwN1PSDc6XKNHj26aqWKTzzx2IkLMZeS059s3fI+haJHzx7x2aoPP/uiYgXFnkNh+gJXjqTircCd/+A3+czkk94zMfE7dgfs2rV7z4GgP3cFHAw/rLEVZGkMu/cfWL/xtx9XrT1/8ZLB4Tx2MWbHroCAPXu3bNu+98BBpVqnNOdnSfYR/wiCH/taFcwhymmmOThuAwjLwefhjrkMbHUUt7sSgqlUwGtnJhy+1HodksDN9HjWEkO/x4aVUIUn48precLNQ5LD3a4HC3p+s0KoJaUWEaJV9BBblw+FbFsgOTziErsq6WDx4Us2jO5ZKEm/19S7GyrNxMmGTnKpGEv+IUCcOSbCncOHDwdT9u7d+5Ovlv2wdv0jDzV5tOnD7du3mzNv/lNPtvYbOvRKWjayL3KD1123dNx5q/4mn9JkB8tGXY1/afz4h5s8uG7Drz+tWb/4vf9ERccsfufdZd+tCDxwACcdOz57MCzyQsyV7t27P/vss+s3bhoydOjsOXMzNKZcS4FM53WCTa0vghR2TOU02RwctwtKjuAC6MLxiOPXhiwK+1ILeAZxryYEJddsmvbCHcSLX+aekHCATFhilWfTzJ5i+iIqlDctNiSj8yIDvDvo0SOGYmehaKg9Sb0k/UXZpNzaUkycyJFegyy6k8/txT+B2eXy8xs8dfqMd9//sH27dj169JwweUrPXj07tG/33Y+rftn8R2x6NlgWxFl27rxVnxWCTKbOYnG51m7YCF5UmSxaW/7JcxfmL3hj6rTpJkdBPr1DO3Hyy8937WoqdL33/gdgWdi5fdfu2rVqnrp0Nc/uVJrlaq8H7iUh8ySfdyo4ODhuF5RqB8Bxe4LknUa71eXq1bPnS+PGHTt/uU6NavXr1Ppt264Oz3To1PHZPGthgcuVZynI1lukxAnc3p935tEPe7X5rp83/Yb8+vNly6bPmn30xKluL3R9/4MPYU+6zgLu/GvbjlatWp2PS3x/ycf9+vcLCgtbuGjx1KlT01T6XGu+TOd1w2uNSQ6edHJw3K6QZEvXzjg5bj/oC1wffPrZ0u/+l2t2vL5w0Vv/eT86Kf3Nt999+z/vpyh1hDjpdz0ZxFq3N3dCBr0yOF2r1q5/pkP7TX/8ueSzzyMPH322Q/u33n7X7nKl6GzaAlfgweBnnnnmQlzSB0uW9O3b94OPPm7R/NGQsAiz0+X1eadDaf4HuPiN7F4/2aXKZDg4fMHTDzk4OG442J1YpJ6ZekuGzowSQpMmB0oytGaUUAGSmwJU8tbizut/Vgg9ydSbkFmu+fnnF1/slqlSp2v08Wnpo0aP9vf3N9gLjMi3Xa5vV6wAZRptjvfef3/S5MlZGt2AQYNHjhqpMdtVNvLYcY5J2FOobU4wsb6Qg+PmwVDo0jpczJ9FSP38XwGNF7Y8S74u34WNOQfHHQm4t87hNDnJMsRbE/2+Bs7ZCUq0+S61rZClntIFchs/K4StOsSyDCajI/+jjz9p3rxZcHhknq1AX+DcHxT8eIvmX3z5VUJiYkho+ISJk3YE7NUbjEOHDXv++edT8lR7g4Lr1a3zyedfZGgMyNOxoSDa9JZdB0O++nbF8u9/4uC4aVi24vsVq9ZeiE9R24SfL5G5+r8CFiwSclR/n7147Fz0iYuXODjuPJykYCfScoZj5y8dOXshOjENa4FlqOICub2fFSL7Ymt+hkq7/LvvX3lt3s+bNqep9DkGs96WHxx++L33P1z362/L//fD4ROn7S7Xucuxb7373qK33gmMPKo223748af3PlwSl6nMsxawaIWh+XnzH9Nmzpr96mscHDcNM+bMmb9o8YmLV1TUFUFaUif/V8BuUmnsrpBjpyZMnTZ6/ITxk6dwcNxteGni5BFjxq7csElpzgdyJZR0m3OnyZ5lsGZrjWqzXWd3ZulQy55Dd+4kB893Zal1KDcWuPKM1jyjTWst0Foc6Vozzi0Op97hyjXnZ+nJ01NIOimDOtR2JwfHzYVLaSGsCWfGq3Rv+y+CUXiKUnc+Lgk58cUEDo67DvD8c1cTr2bkYlVme67N2/tZoWz6GW+u3qoyOcCjmUa7in7pM0NvT6e/i59LXsmXcgg10re52NcbHdl6m5L8fD6hXrrTZzHLpjQ78iz5HBw3H9QPBVeU+fm/AvpXEmRbCXZHAqpzFHJw3G3QOpxqmzPPUoAU647iTgD9URrRDVSxp+uQXJKHb0GcaTp0Vbj1BLEsgw1ZKQ1M2FAjYYU8tvk28TeW2C77FglbHHcb2NaNuqtwIhO4+YAZjDuZSUqTlYPjbgNyLeb/4lZSxK3Anf/gN/k4ODg4ODhuOkrHnbfqb/JxcHBwcHDcfNzezwpxcHBwcHDcfNz2n3dycHBwcHDcZHDu5ODg4ODgKBv4s0IcHBwcHBxlA39WiIODg4ODo2zgzwpxcHBwcHCUDZw7OTg4ODg4yobb+1khlbXATP8pBtDlk39x8kaeJd/ockFM63CV8HMtuAQNojaisECuEDIau5PJ4BUwFPqQgVVMAMIl/0AMU8iEWaMMsFkqwxSKMDpdxf3dI4TVpVJYKL3KoLYVijIMaEX8Ux4GqEVJca0DxACboBzCWkzKdf1EjqhECoyVTAwQx5ABjWJSlF5iTKE4LOzEp0IAOonbOIlYcTJlheiH11QIP2RGMjvZ35PJACViXwBMikyg9CCzXEgaIuN2rb8RRS8MzqJ2AWKh19KDPaJ5ONHYr988EbIuAxjPPEuBTEwKdIdBVs7B8c9x+3En+4UknGAZpyi1+0Ij94VE7A87fOrSVSwSdkkEZFJV+kNHTwQcCj13NVFlK6IQEUyh2pZ//MLl7fuDIBkQFLovNOJE9BXZqoNMdGLqroPBuw+G7DxwaM+hsMNnzqNcKqay5ifmqIOOHN8bHH4pKR1vxUvewNWYlMzA8CPQCW1oNwCvh0KhAUGB9QUy8VnKoMPHILDrQDDUhh47lakze3eWCV9Jyz4QcXRnIDFvN+0I9CcrtRgKUeHVjJyDkX+jod1BIXuCw9EuZK6m50CG6cmmf8qGaIVB2HUwBFZBFYR3BgaduBijtiH6k7+HZcIA+2lD6M+z5sdlKmFAYMRRaD57JQHEL4qVEmg3Wak7EHEEhmGo0WWMNqY4PitPQzZAHr1Gdy7EpxDJoBAI7wkOO3z6fJb717NgJCPXFJUeVu0IDMIYouM79gfhrU+FAHQm5WqCj55Ery8lpV1HF+QwOzAFzA8vJqaJ4ywDTMWwww+JkUGh6MvekIizsQl5Fg8/RPXzcUnEA4PhEocg8/e5aPRC9EPPqRHWCy2X9xRVsvSWI2fOw1uOnL2Ac1GJN5SW/DSVPuz4GcwILMRow0icnHSvFKKf/qPfsXOXyDo6FEa6EBpxISHFZ5chTyZIOCG2wQBWLsowoPql5Iy9IeHUFUNgLTQHHTmWlIuV4qGZzTiADSJ2P4xl6b5ZrpOD45/gduJOeD/WgI0uBiwY5IUbt25r3KhBs6YPP9iowUvjJ2rshbKVD5kTFy4/1KRxrerV/vPhEtSVXgWgk/2DCvaw7324pHnzZm3aPP3UU09C7cSXX8aGWqrQ6nKtXP/LYy2aQwZSTRo36tuvH+pKYyu2xpt37G768EMN6tb59seVMKCEYAR7vlr+bYN6dZ5s3bp9+3ZPo+WnnuzQocPh0+ewc0cMAtBZ0Ebr1q1aNG/erl37Zo883K5dm6NR0WqvzgKw8KPPPm9Yv26rlk+0b9++bds2sPbRZk0jT0XBEhY+oBABqHWrVo8/3qJt27YQa/nE4w82brjql43MWjSKMdE4nOt/3/pk61ZPPAFV7aAKwlCL99+vWa80ky6zoRMnBXUtLteqnzc2rF8P7aJfM2bPyTWTwCdaeE0gQbyakfvy9BnNmj5CxrnN07AQ7eOt39ChZ67Eaxwe+THSoJ/Wb8C4ARhAeMLwESPAlGBxXEUMhcLY9JxxkyZjHNq1bfP000+3bde2Q4f2jzZ9ZPCQoefikrV2ecKNmHvw8LGWLZ+oW6vmf5Z8orIVlqkL3oCR2J081qJFnZrVl3y5lP66tA+FSnM+dkVv/fcDzAjre8N6dd/94COpPAYZiemqX36FS1A/fLpJ44YjR4/GoMEP3cwh/PYmc6FsY9HP0pJLlLHIVbLXKUjMVY8dP6F2jeoD/fwup2RSJT5oBoXYZ5yNTezesyfcuw05MJZPPdbi0fc/+RQCsBAyUBifrRo19qVGDerjMhymccP6X3//k2wpMYX0N0KJqTiHLwHUWoFHRUAzfOzTZcsbN6iPWUbDcEWyENq2Cz1+mt1wQo/gvUigcQ5XxPLBTmXmnDn+/iPGjZ+wZWcAiB8QdXJw/EPcTtyJtO/05asr12/YsmN3Sp4Oy+O7lWuqVrqvbs3qle9V9O7dC+mFbH2CAC4lpg0YOLDSffe+Nn+B3Rd3kjWMNMviQGKKlC7i5Nl9YZHPPNOhd6+esruj2P7HZyqxXCGDpGTgoMFPtmqJulLuBIus+nnDfQpF1Yr3fvrVspK5E91+Y+EisOyvf+7A3j/0+CkYEH7iDHIUUA6LKQgEOw8EI9B/tmz52egY9KL6A5XCTpxByICATGG+yzVr9hwo3LRt59Goi0ejzn/+9TfVKleMOHEG4Zv9nDHYfcuOABD/J0u/Pnr2/JGz51dv2FTjgUqQdIch0KEzOjmjU6dOffr0QdCPOBkVfvIMLEQWO2TosKYPNTkVHYtoCEnENaQdK9f9vHXXHjBWgcu19JsV6H69WjXQrv/IkZl6S+nzNkYMny//FvT/5TcrMNThJ8+GnTiNpr9fva5B3dpvvfcfQ4HHLGNSrqRlYdyQD0HyxRe7de7UKTFXA8okk0v3T8tW/AAi//p/P0ScOBt2/HTk6XORp89/88PK2tWrLXr7XaPXHMHTTkbHgoMr3at4Zf4C5FKl74JPaBwFSMX8hg6rcv+98xctzrMUyLiTmcpOzl1Nom5wdn/44Q7t281+5VWN3eOuO7p8NT0n5O+TrMt9+vZ9odsLl1MyaA5NWITNC/iGDQKaw9IAAWP2adMCO8IfUJ6k1A7y87tHocB+4nx8ClFC/vVaaIsB8iA5TM2ZmDhsPyZMfjnyFBnJ4KMnDh05zv4ZGFUgA4VxmXnde/To3bv34TNRm/7aga3tB59+7s2dGFK0xf49l1lIBpkOtWxw8FZtdy18512sgs07A/6OiobfzntzESgcBtBNIZky7DhDj51M1xgDgkKupmet3vhb1Ur3V6t8/70KxWtvLARxoi2pWg6Of4Lb6Vkh0NLrb7ypUCgQWBE4UGfFyjUI04j7WPm9evUEU3oTldruRETARn7uq6/5zDtZHAEQXLDCEf5RZeiw4b179cI2VqoQ0Q0rEDIIIshT5857HdyJ6tLAiibW0UUrsNG1uHPBwkXYmydkq8DTmnxycwlA/sGCF4IdGtq2J7Bdu7agKIzwlu27Wj7WAnknYg1N+zwUgjunzZiJVDMpVweFePt31MVa1R6IPHkWfUGshAy4EzyHRveGRmIzgUzxSmpm/Tq1Pv/6W1ibayJ5JwYh7OTZli1brt20BT1CjCOB2O6CwftDI2s8UHnb3gMYBIwGXucveguTghAZ/PdJWLj02xV4i0YxKcNHjMw2eYxPySBR0uacNGXaIL8hmToL9g1oGszBPpDr9kLXYcOH58AxPBUi8mJSIAb/HT9xIrgTWyskixgfEovtznlvLhw2YgTGylBIOsIUGlyu5zp3Gjl6DHohU4gRgBiSsE6dO77y+gLEXFk0LyugEP0Cxzz77DMLFr0lzSMZ4EVZeuHfx3AVo4q5wHZn/KTJs155VWWVJ74wicjkuzCDUPhi9+5X0nLQL+YPcLkUpRa7Rmz1oDNNrb+clM7OE3PUGBx6m5RIMu4cOnx4lfsqPNely8WENHQ829OpRKC505fjOnR4Zul3/4MnMAMI/1ny0UEIQD/lTmXPXr2wRcBGCqpGjhn7xfLvZNxJLMzTxaRkxKZnwy3peWZ8Vh40YC0k5WpESQD60crrby7q0KEDtpXwBEz0r39ub9WyZdDhY3SRYlU6MVDjJ03Cpgf57tpfN4O2G9Sp1bhB3RpVKy9Y/PY/v3nAwSHF7ZR3IohPnTbt/gqKJo0b7A87bHW6DkQcGeyH3fyw/gP6f/LVMgQUGVFhKSISIV48/dSTc1551Zs7ASx7iOGVLFEaVfOshUOGDu3TpzfOEXxl8pBByAClzXnt9adat0SJjDvXbPj1gYr3Ue4kbFQydy5c/PYTjz8Wl5kLqkOUp/+V6KS3rUhaAMMQKcCdbdo8DTIDpSF2HD9/KUNrgsEsYElhKCjc9Of2V1+fn6oyIFphPveHRFSrIuSdEIBaWP7H7n0tWz4RcCjMSh/lAHc2qFtr2YrvEaGojA11w09GPfXUk6s2bMIgoCEa2cndsAPhR2pVq/rH7r2QgTAMfmX+G9grPNrsEeRJCJcBh0L9hgzBAPbr3+/L5d+R/X6pYxYkkSqNmzRpyLDhSCAwsDCGRXmM5IvduiIXxFsZ1aEJDBqA/k6cNOm55zon5+mgB5eIQrvzjbfeHjl2LBSSv0anaRkmBVuBzp06jh0/3ps7AYTadK2p/8CBM+e+SrrgJVAmgKtUNifmrtuLL4IDcC4bE2qVcA6mJG7gIK44+qWX5sx73Vsebgn7MQWYwQWL3+rRs2dseg5oj151wPgPPvkUzNGjR49Tl6+++8FH9WvXHDBoYExqFljkjbffITLWAkwrRglWDfMfURnc+dxzYHeMM8bHoy2KHBPxijNXEtq1b7fk8y/B2TAShpFXqoqJwWzCnb17Yc9Bt2L2M5fj4N5KyUe2kMeQvvPBhw3r1ek/YAC2tu9/8lmdGjWG+ftfTs2aPnvO4vf+K3UbOlnONRt/Q0/BslCLY/WGTS1aNCfcWUDIG2t25ty5k6dOPXouGtyJq79t29mgbm00UbNqFc6dHOWOW4M7LViJDsqdl7YT7szPII8MONRe3Dlj1uyKFRQPP9hoX2gkVjIiWrYB22pjutaItZ1rlLMUYhaiAxbzk61bvTJvHvIwuQBYk35oh8iVkKW8mpadlKO+EJ/SvXv33r17yR6jxRpOUxti03ISs/NiUjNHj32p7dNPYiWDSsXAh1i2ftPv4M5qlSt++c13uFoydyLvbNKoYfDREyl5mriMXOBKala62oCrjB3BqTsDDyFgHTlzHvSA9Y9XUYMszLH+kkhtLYzPUq78ZWPnzp2QAh49c4Hcs6UfJmEQdh0IbtbsEcSXNLUmNU+Lt7VrVP3mh5UYYTYUEEZmj2R91S+/YhBYIaqDO/eFhNes9sCfAftI12hCMO+NhdWrVHys+aMHIo7S/uZn6q3pGhO4B82V0H1voHeIkpOmTBk8ZEiqSo+ekgmifYTmbi+84M2dSrM9Q2OMTcuKz8xNyFYOGjSo6wtds2mSxCqCUd546x3/kaOw4cCwoDp0oiEo6fjsM+MmTMg1y6mRDmAButC7b985r83DkEpbvA5g6NAi0qkXunWbv3Ax4xtPAZiKnoKBbKkq3dX0HCRh0Qmpz3Xu/Mrr80GT0riPLqdrDHEZOUglr2bkjBw9FtyZojIwd1VZCJPNfuU1rJTHWjTHLnPC5JfvUyjatWt7IvrK6JfGDR85MkNnoUNhA6PQvNO/8r2K57s+fzExTepdHqAPohPubNt27mvz0lVaGIBhv5qenaLSYZbJTBnIZ6KwvGfv3nPnvY4pI6vYi/gxnll6y0sTJ96rUGBTe+TsRfSxgkKBjcXpmPgBgwa9PH0GmwKxCvMi8nNjZvI03P9Wr33qydbNH20WTjeUZDZtJO9ExaPnLrVt22btr7//suWvqpXvx64OrbwyfwHIVWYGB0dZAbfMohEJJ4w72/xr3LnybNeAJLURMdkarzMq1p/eclVpNZtz9IZMg12N2CfhBkT2WXPmVLqnwoMNkXdGYiWjEOsQSwLrE3GcBqCifgIIlAidCTnq1q1aTp0+A/2DEshDktzQowJMElnsGwsXNaxb56HGDZs0aoD1NmzYcHo7qCj0gxfXbNhUv07txvXrPtiwfv06NZ94rPmKVWviMpR5VvKgBLRB5ufftlStRLhz6YrvoQFBykLbBSGJzTGAO//70RJyF7penSaN6qPdR5o0bvFoU6SJoEwmg5Md+w+2atUSZObEMFFVeAUIPXilnpQYEHQco8aMadywATIPBJpUkDGJbohH+Wdj42e+8mrdWtUbN6hHOtuwPlqvXb0qtgKRp6II9dJ7m2HHT7dq1WrVL5sQAbEvYQ0hSd0fGln9gUpbd+9lg0O4882FiFCEOyP/xoYGhYRsbIV4lY5eaUCnsnD8pEl+Q4ciw8C0opANGszo2vV5/xEjZfdsMao/rtvQqH5dAN2pV6vmk61aocsgKvg3RkPjcCLtGDFqdIbWzAgDIDHd7gR3vjRhAqKqjMmydGaMLQxAKjZz7ivoNWYQURuD4K5eJFwaoCIUJmSru3R5HnEc2qATgyMqxAkYEZI4f/Ptd9GRpg89iHmBbyBPxSCLcR+1wBY/rRe6jLVQp2b1p59+6oe1P2O3QbSZyMIGdVW5/x64/cHDxyZPm/7A/fdiF3XqctyYceMADIXSTCiWcGeuZqi/f5X7KnTt2vVycgbshH5YiDWJNZWpMzMjGXeejU0Ed0IbfJX5T+P69ZDXsqwOMwVTE7JVPXr1ennadDgquknWNoWRfqUkS08axT5m4pSpSHY7dGh/7Pzl1954s+I9il69e5+OicO2Cakn++CTdVmExu5KytWOeWl8w3p1+/btu27TFuxlMW7U5ZxzXn1t8tRpf5+LbtPmaewaQavDhg9Htt2nTx9sAdF0Wb2Rg0MKpckB1kzXm7KMFiwxxBCNyfbY3qTRYRkuJ1KSwli1ucIvlxXrL0u488b9Jt/q8y/sSdaYkXfmX9GYFevP7EpSu/JV2QZdps6u9GQaLMWZs+dUvrfCw00aBxwKQ0zEgsGCRLwm8PUYusZeGJuaOenlKcjtWrd8YsKkSdBw9OwFrZ0EDkafDFA++eUpjRvWf/u/Hyz5/MuPv1y6NyRCtt5Q6/j5S0u++Or9jz/58LMvsNRrVquCFHPPoVCYwVpHT9Zu3ATurF6l0pffrMCIopU3F789duxL337/oy7fg040toKzMfFfLP/2Px99/P7Hn3785VfjJk0C6QYfOYaIw2SgeU9wWItHm3V57rmXxo0bOWrUyFGjR48B0437YfU6nUPOTzCDRjFbq8cfGzVmbKrKQFTRtADAQC189z3Y1vThJtNnz0ZfPvly6WsL3nikyYOVKpCPJ5GEIWKCOyNOngVhr/yZPHzL2AvVEQoDQyNqVK38x26ad5pJ3vnK6wtgMywEd5K9gq0QryhHCEZz3huaEkC50zl+0mSSd6oNOGdmo48I3C++2G3YcH94rTSqqu0FR6MuYOgwgB999sULXbuid/Xr1j4QeQSWkGhuJ3c1R44ew7gT9kAh8XuHq1PHZ0EkSDplYVplcZyMvgLKATm1bfP0xMmTkRiduRIPMWpPkWQpASPPxiZMmzkLlIP8b8KkyfMWvHE+LpltuSAAnThB92EeZq1169bvfbgE3YErgvxgoXSW1bYCMASufvjZ53DU7t2716r2ADZzWBRa4g/52F4gXX6g4r0tn3g8MPzolOkzH7jv3k6dOp6IjkUOCtfJIN9xIlsBZJmJORp2z7bL88/HZuTCYzfv2D1x8svzFy46dzUxz+JgH8RSds/HfgIpHYb6/U8+/fDTz+G3SG3BWFn0iTmRO/sNGADuHzFyFPPY0WPGvPTSuAWLFkMhjMcsgJInvjylasX7CHdeiAF33q9Q9OzVE3nnkGHDp8+ajbZkNwMATCWSWiTZM+bMVVocerq/xPrC4CDvBHdOePnlo5Q7v/1hJVYiuol0HI4EAdgvVcXBUVYg8iCdsxitSnKDM18DrzPZm+5NHHUoxVWAPMgZS/JOGXfeuGeFVl98fncCMl/UvZhnVKw5PS0yM01tNljoHUu9Xmo66G3GrNmV7q2A3e6+0EhzoQtLcfkPP3317XdffvNdQFAoC0NSYHWBKZEnNapfD7t48FwFhWL73kBsq3FVGtahfPyEiR07Pov1BrLRsrgPhRKdCA1gaHAGABZ5Y/Hb4EhkbPtDwvGWaYMecOf9FcjDMkieln//06J33qtToxoSiCFDhpC9vCQIMoVoiOlE3S279iL0HzrswZ37QiOQ1XXq2HHw4MGDBg/yGzKkZ8+eyIxHjhrJOiIFdCLoYPSebNUSER8dYVTKYgdaeeOtt2tUqdi8WdMDEUfRInAlNfPRRx7G4EAzAg0oB8lc+IkzAnfmI+8UlKP8QNhhdG3rrj2gRvQFsfLV+W/CZnBnUOQxpBdnryR8++MqzMjS7/63LyQCTCztcskg3Gl3IhYPGTYsRaVHOMaostQHzXV7oav/SLC7R0bCxpCwNf18d+bs2Rj8Rx56MDD8CLMcAffNt98ZMZrknTSrJtzJGupE7tlOVFrk3Alt2Dk1ali/fu2aDerWRkqE3C7oyHE0dH0hGJO462BIw/p169WqUa92TShsUK82EiPs/5hCOkHkoSoYPHT4cGyhlPT3KzBfGGFvx4bxzG0wfW+99194eNOHmvy1J5BOCvnwb+7r8+FymJSwE2cmTZ2G87Zt25y9muiPndfYcWiFeQUGJD47z2/I0Er3KB5t+si7H3y4YtUakBOWCfYfew6Fs/vAxDxqIaaS+SqAUcqzFfoNGwY+hoCMOx96sNGAAQPg84P9yPF4i+bo/v6ww6ilspBuYpZhVevWrU5EX5k19xWcd+rUKepq0uChQ7HJwLZVNinEWvIgUm7/gQO/+OY7I7mLQ6YSA0h83lYIJZOmsM87n/r2p1VYGmxXxG5iQ1KqjYOjrFBio2awp+hseUaQqEltNhvtjof2Jo08lOwqJBR2RWut8MulG86d7s87LxDuJHmnM89in3s4s9LGS003X94UqzFYHLmEO4s8HkJTp8/EGgNd7QuJhLEr129AoETgAJFgiXp/5REr/++oaGzJQZx4bdygXo0HKu8MDCJUZyRLDmCSiEHjx09EIpKuNSEAiUFWpA0GlKhs5BFHsDKyGXAneHF/aAQaYmvY5HTuDDzUovmjjyKza9QA7SJc4rVa5fuxBxcZUaoQbdFIUQirwEngoaDIv4u4k3zeGYRwEHb8DEYYdmIcgAEDB44YMQJBWdZl2MBSiqdat5o5Zy7CDY2S2J6TGI2Au+jd/1SvUpE+2nOE3UmLTctu3vThKvffM8zfP1NvgTwCXOjx0y1bPrFu0xYIwELEIEQitB50+FiNByqxZ4XQEOhk9qvzMClI2QMjjsLCb3746R6FombVKngdOXo0MjxZECwBhNJsheMmkmeFsImBclAvRgbAgJC8098/y+tZIfQOtQDkTNNnzWJ3Jva57+qDO+cvWjxiFCwhkR1NUJ0F2Ac817nT2HHjc83yMI0uB4Ydaf5o0/q1az3YsEH9OrVAxoeOHAdhoC3plquUwCTuCQ7HmDeoC4X1o
[...]
