openapi: 3.0.3
info:
  title: Narmi Public account balances threads API
  version: v1
  description: To read about Public API access and authentication, go to [API Overview](https://docs.narmi.com/docs/narmi-developer-docs/xl9dvbz84o11l-introduction).
  termsOfService: https://www.narmi.com/policies/developer-terms-conditions
  contact:
    name: Narmi Support
    email: support@narmi.com
servers:
- url: https://api.sandbox.narmi.dev/
  description: ''
tags:
- name: threads
paths:
  /v1/thread_files/policies/:
    post:
      operationId: thread_files_policies_create
      description: 'Creates the payload for a signed request to upload a file directly to S3. Further documentation can be found via the AWS documentation: https://aws.amazon.com/blogs/compute/uploading-to-amazon-s3-directly-from-a-web-or-mobile-application/


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Create a signed request for uploading a file to S3
      tags:
      - threads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadUploadPolicyCreateDocRequest'
            examples:
              CreateThreadUploadPolicy:
                value:
                  type: image/png
                  name: file.png
                summary: Create thread upload policy
              ThreadUploadPolicyInvalid:
                value:
                  reason: File destination does not exist or is invalid.
                summary: Thread upload policy invalid
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ThreadUploadPolicyCreateDocRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ThreadUploadPolicyCreateDocRequest'
        required: true
      security:
      - oauth2:
        - write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadUploadPolicyResponse'
              examples:
                UploadPolicyCreated:
                  value:
                    policy: eyJleHBpcmF0aW9uIjogIjIwMjQtMDYtMThUMTQ6MDA6MDkuMDAwWiIsICJjb25kaXRpb25zIjogW3siYnVja2V0IjogImJ1Y2tldCJ9LCB7ImFjbCI6ICJjkkl2YXRlIn0sIHsia2V5IjogIm9yaWdpsdFsL3N1cHBvcnQvNGQ1ZjQ1NjA2MjhjNDA2YWFiMTVhYjkwMmRhMTI3MDUvZmlsZS5wbmcifSwgeyJzdWNjZXNzX2FjdGlvbl9zdGF0dXMiOiAiMjAxIn0sIHsieC1hbXotY3JlZGVudGlhbCI6ICIvMjAyNDA2MTgvbG9jYWwvczMvYXdzNF9yZXF1ZXN0In0sIHsieC1hbXotYWxnb3JpdGhtIjogIkFXUzQtSE1BQy1TSEEyNTYifSwgeyJ4LWFtei1kYXRlIjogIjIwMjQwNjE4VDEzNTUwOTAwMFoifSwgeyJjb250ZW50LXR5cGUiOiAiaW1hZ2UvcG5nIn0sIHsiQ2FjaGUtQ29udHJvbCI6ICJtYXgtYWdlPTI1OTIwMDAifSwgeyJDb250ZW50LURpc3Bvc2l0aW9uIjogImF0dGFjaG1lbnQifSwgeyJ4LWFtei1zZXJ2ZXItc2lkZS1lbmNyeXB0aW9uIjogIkFFUzI1NiJ9LCBbImNvbnRlbnQtbGVuZ3RoLXJhbmdlIiwgMCwgMjAwMDAwMDBdXX0=
                    success_action_status: 201
                    x-amz-credential: /20240618/local/s3/aws4_request
                    x-amz-date: 20240618T135509000Z
                    x-amz-signature: a249243213026c97ac80f9b2e4b2ef06c7c491022a8cf8e46f0ddf95a746e6f7
                    x-amz-algorithm: AWS4-HMAC-SHA256
                    form_action: http://example.com/__s3_upload__
                    key: original/support/4d5f8372828c406aab15ab902da12705/file.png
                    acl: private
                    content-type: image/png
                    Cache-Control: max-age=2592000
                    Content-Disposition: attachment
                    x-amz-server-side-encryption: AES256
                  summary: Upload policy created
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadFileError'
              examples:
                ThreadUploadPolicyInvalid:
                  value:
                    reason: File destination does not exist or is invalid.
                  summary: Thread upload policy invalid
          description: ''
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestError'
          description: ''
      x-stoplight:
        id: zrdmgff6lcp7q
  /v1/threads/:
    get:
      operationId: threads_list
      description: 'List support message threads for the authenticated user.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: List user's message threads
      parameters:
      - in: query
        name: end_date
        schema:
          type: string
          format: date
      - in: query
        name: filter
        schema:
          type: string
        description: Parameter filters threads by subject and message body.
      - in: query
        name: order_by
        schema:
          type: string
          enum:
          - created_at
          - updated_at
      - in: query
        name: start_date
        schema:
          type: string
          format: date
      tags:
      - threads
      security:
      - oauth2:
        - read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadsResponse'
              examples:
                Read:
                  value:
                    threads:
                    - id: 1cde160e-592d-4ed6-94de-9460861793ba
                      subject: Traveling Abroad
                      state: open
                      message_preview: Can you please put a travel alert on my card?
                      created_at: '2018-10-27T12:38:51.369000-04:00'
                      updated_at: '2018-11-01T23:29:18.317000-04:00'
                      is_read: true
                    - id: ef0b1d5f-b65c-4430-9bc4-38e6cfe77467
                      subject: Debit Pin
                      state: closed
                      message_preview: I forgot the PIN number for my debit card.
                      created_at: '2019-04-21T11:37:35.693000-04:00'
                      updated_at: '2019-05-01T18:16:14.095000-04:00'
                      is_read: true
          description: ''
      x-stoplight:
        id: d1q1md8w5b5gl
    post:
      operationId: threads_create
      description: 'Create a support message thread for the authenticated user.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Create message thread for a user
      tags:
      - threads
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreadCreateRequest'
            examples:
              Write:
                value:
                  subject: Traveling Abroad
                  body: Can you please put a travel alert on my card?
                  url: https://bucket.s3-local.amazonaws.com/file/structure/123123123/file.txt
                  team_uuid: eb7111bd-9879-4c0c-a5f5-cc06ab481e04
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ThreadCreateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ThreadCreateRequest'
        required: true
      security:
      - oauth2:
        - write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreadResponse'
              examples:
                Read:
                  value:
                    thread:
                      id: 1cde160e-592d-4ed6-94de-9460861793ba
                      subject: Traveling Abroad
                      state: open
                      message_preview: Can you please put a travel alert on my card?
                      created_at: '2018-10-27T12:38:51.369000-04:00'
                      updated_at: '2018-11-01T23:29:18.317000-04:00'
                      is_read: true
          description: ''
        '422':
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                  message:
                    type: string
              examples:
                ServiceValidationError:
                  value:
                    id: invalid_request_error
                    message: subject
          description: ''
      x-stoplight:
        id: fttfixclnme5y
  /v1/threads/{thread_uuids}/messages/:
    get:
      operationId: threads_messages_list
      description: 'List messages for the specified support message threads. The threads are specified in the path parameters as comma-separated UUIDs. If the thread does not exist, this endpoint will return a 404. Response will include both messages and thread files (i.e. attachments).


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: List messages in a thread
      parameters:
      - in: path
        name: thread_uuids
        schema:
          type: string
          pattern: ^[,0-9A-Za-z-]+$
        required: true
      tags:
      - threads
      security:
      - oauth2:
        - read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
              examples:
                ListFromMultipleThreads:
                  value:
                    links:
                      next: null
                      previous: null
                    meta:
                      total: 16
                    messages:
                    - body: '0'
                      internal_note: false
                      id: 508fce18-3092-48bd-82ae-5df24f768470
                      thread_id: 70598155-99e0-4080-8124-1dcc36940eee
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T14:31:48.940392-04:00'
                      updated_at: '2024-05-16T14:31:48.940401-04:00'
                    - body: '1'
                      internal_note: false
                      id: 1718d5bd-54b3-4b4d-af0e-c2b856cf6552
                      thread_id: 3e788485-2d04-4ed8-ac88-a89b5ca3b104
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T14:31:48.559740-04:00'
                      updated_at: '2024-05-16T14:31:48.559752-04:00'
                    - body: '0'
                      internal_note: false
                      id: 94f6f42e-b441-4c3f-9227-3b7218c0a032
                      thread_id: 26ac2bdb-0426-4563-8bfb-cd1d35efbd02
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T14:18:12.700044-04:00'
                      updated_at: '2024-05-16T14:18:12.700053-04:00'
                    - body: '1'
                      internal_note: false
                      id: 827df9b3-0906-4b62-a017-ac68bfcb8c3d
                      thread_id: d1c6c02c-eaf2-44ed-961e-dcc5a7ec75bb
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T14:18:10.176627-04:00'
                      updated_at: '2024-05-16T14:18:10.176639-04:00'
                    - body: '1'
                      internal_note: false
                      id: 6c0ef2f0-ef3a-402d-bb90-eb6a5f863fed
                      thread_id: ec286528-0eba-4ab7-bbe2-508b2584c588
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:58:47.991922-04:00'
                      updated_at: '2024-05-16T13:58:47.991928-04:00'
                    - body: '0'
                      internal_note: false
                      id: a598d9b3-1d55-4d67-8e26-01d1f1a32890
                      thread_id: 6e9e82ff-bf4d-475f-a266-77e002474ce2
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:58:47.067507-04:00'
                      updated_at: '2024-05-16T13:58:47.067511-04:00'
                    - body: '0'
                      internal_note: false
                      id: 743e91e5-0f2e-44a2-a848-24c5bb639e0f
                      thread_id: de771818-1097-4b30-86b5-24457554b0a9
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:48:16.914467-04:00'
                      updated_at: '2024-05-16T13:48:16.914475-04:00'
                    - body: '1'
                      internal_note: false
                      id: 87779e8a-edde-4d29-9d3a-53fbedb36e9c
                      thread_id: 741bc5cc-d3de-4176-bbe8-4112f8c82aa9
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26 14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:48:12.227896-04:00'
                      updated_at: '2024-05-16T13:48:12.227905-04:00'
                    - body: '0'
                      internal_note: false
                      id: 1b0e310e-ebdc-4b74-b397-a887eaba0d01
                      thread_id: 6393ba4e-e788-4346-86d8-d21092db8569
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26 14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:48:11.495597-04:00'
                      updated_at: '2024-05-16T13:48:11.495604-04:00'
                    - body: ȁ񰰄
                      internal_note: false
                      id: f64157c2-4edf-4e51-a072-03d4f091d123
                      thread_id: 3cd73d6b-9289-4094-8e00-7a9de310eb27
                      author:
                        email: demo@narmitech.com
                        core_provided_email: null
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26 14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2024-05-16T13:48:03.513579-04:00'
                      updated_at: '2024-05-16T13:48:03.513586-04:00'
                    - body: '[Attached File](https://bucket.s3-local.amazonaws.com/original/support/ba602c5309ba41f28c7c63853785a607/file.txt?AWSAccessKeyId=&Expires=1718123455&Signature=1FDXjiXiRaJxPpCE%2FVP%2B045R7NQ%3D)'
                      url: https://bucket.s3-local.amazonaws.com/original/support/ba602c5309ba41f28c7c63853785a607/file.txt
                      internal_note: false
                      id: 54887f55-f8fe-435c-84b9-53b4d442092d
                      thread_id: 519f5228-0b72-4cd2-8e8d-e99869678dfb
                      author:
                        email: ''
                        core_provided_email: null
                        username: ''
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-30T20:16:46.861043+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: Jane
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Manage users:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: false
                          zelle: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26 14:43:59.004000+00:00'
                        last_login: '2024-06-11 15:05:32.862565+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: '2024-04-29T16:09:32.780547-04:00'
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2019-04-26T19:36:29.570000-04:00'
                      updated_at: '2024-06-11T11:15:04.367456-04:00'
                    - body: Hi Jack - We don't currently offer a home equity loan. We are always looking for ways to improve and I'll log your inquiry so we know that it would be a welcomed addition.
                      internal_note: false
                      id: f69622aa-a2cc-4d1d-9624-fd16512357ab
                      thread_id: 519a5228-0b72-4cd2-8e8d-e99869678dfb
                      author:
                        email: ''
                        core_provided_email: null
                        username: ''
                        id: 8e0b92dd-ee33-4f64-a376-502c78ae88e7
                        institution_user_identifier: ''
                        updated_at: '2018-11-02T03:29:18.317000+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: John
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu: default
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: true
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: true
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-10-26 19:55:19.777000+00:00'
                        last_login: '2020-05-18 15:24:21.589000+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: false
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2018-11-13T14:55:15.144000-05:00'
                      updated_at: '2018-11-13T14:55:15.144000-05:00'
                    - body: "Hi Jane - Sorry to hear about the card. I've gone ahead and cancelled the card and sent a new one to the following address:\r\n\r\n3700 O St NW\r\nWashington, DC 20007\r\n\r\nPlease let me know if I can do anything else to help."
                      internal_note: false
                      id: 5089770e-bb97-4df3-9f01-6e3949971825
                      thread_id: 519f5228-0b72-4cd2-8e8d-e99869678dfb
                      author:
                        email: ''
                        core_provided_email: null
                        username: ''
                        id: 8e0b92dd-ee33-4f64-a376-502c78ae88e7
                        institution_user_identifier: ''
                        updated_at: '2018-11-02T03:29:18.317000+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: John
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          edit_scheduled_transfers: true
                          stop_payment_by_range: true
                          top_menu: default
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: true
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: true
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-10-26 19:55:19.777000+00:00'
                        last_login: '2020-05-18 15:24:21.589000+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: false
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      created_at: '2018-11-10T14:21:38.012000-05:00'
                      updated_at: '2018-11-10T14:21:38.012000-05:00'
                    - body: "Hi - As I previously mentioned, I am currently traveling in Paris. I unfortunately lost my card. Could you please cancel my card and mail me a new card to the account on file.\r\n\r\nThanks,\r\n\r\nJane"
                      internal_note: false
                      id: 4b53fc58-86b1-453a-9086-607216df1302
                      thread_id: 519f5228-0b72-4cd2-8e8d-e99869678dfb
                      author:
                        email: demo@narmitech.com
[...]
