openapi: 3.0.3
info:
  title: Narmi Public account balances fedwire destinations API
  version: v1
  description: To read about Public API access and authentication, go to [API Overview](https://docs.narmi.com/docs/narmi-developer-docs/xl9dvbz84o11l-introduction).
  termsOfService: https://www.narmi.com/policies/developer-terms-conditions
  contact:
    name: Narmi Support
    email: support@narmi.com
servers:
- url: https://api.sandbox.narmi.dev/
  description: ''
tags:
- name: fedwire destinations
paths:
  /v1/fedwire_destinations/:
    post:
      operationId: fedwire_destinations_create
      description: 'Create a set of Fedwire details that can be used as a destination for fedwires.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Create a Fedwire destination
      tags:
      - fedwire destinations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
        required: true
      security:
      - oauth2:
        - write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FedwireDestination'
          description: ''
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  id:
                    type: string
              examples:
                ValidationError:
                  value:
                    message: Invalid input.
                    id: invalid
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeniedError'
          description: ''
      x-stoplight:
        id: adjkrwsvza1dk
  /v1/fedwire_destinations/{uuid}/:
    put:
      operationId: fedwire_destinations_update
      description: 'Update a set of Fedwire details that can be used as a destination for fedwires.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: Update a Fedwire destination
      parameters:
      - in: path
        name: uuid
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - fedwire destinations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/FedwireDestinationRequest'
        required: true
      security:
      - oauth2:
        - write
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FedwireDestination'
          description: ''
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  id:
                    type: string
              examples:
                ValidationError:
                  value:
                    message: Invalid input.
                    id: invalid
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionDeniedError'
          description: ''
      x-stoplight:
        id: 3nwn3t4lhyd8b
components:
  schemas:
    FedwireRecipientAddressRequest:
      type: object
      properties:
        street_address:
          type: string
          minLength: 1
          maxLength: 35
        street_address_2:
          type: string
          maxLength: 35
        city:
          type: string
          maxLength: 128
        region_code:
          type: string
          maxLength: 128
        postal_code:
          type: string
          maxLength: 128
        country_code:
          type: string
          minLength: 1
          maxLength: 2
      required:
      - street_address
      x-stoplight:
        id: jpxphmdao13bd
    FedwireDestination:
      type: object
      description: 'In addition to the standard FedwireDestination fields you''d expect for a create/updated request,

        this serializer also requires a recipient (passed in as the uuid of the recipient)

        that will be associated with the created/updated FedwireDestination instance.'
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        account_number:
          example: '123456'
          description: Account number for the Fedwire destination.
          type: string
          maxLength: 17
          minLength: 1
        routing_number:
          example: '021030004'
          description: Routing number for the Fedwire destination.
          type: string
          maxLength: 9
          minLength: 9
        address:
          $ref: '#/components/schemas/FedwireRecipientAddress'
        institution_name:
          type: string
          readOnly: true
      required:
      - account_number
      - address
      - routing_number
      x-stoplight:
        id: 5nq8io7fuwyrs
    PermissionDeniedError:
      type: object
      properties:
        id:
          type: string
          default: api_error
        message:
          type: string
          default: You do not have permission to perform this action.
          description: An error response detailing the field and the nature of the error.
      x-stoplight:
        id: ywbohhxwqjqj3
    FedwireRecipientAddress:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        street_address:
          type: string
          maxLength: 35
        street_address_2:
          type: string
          maxLength: 35
        city:
          type: string
          maxLength: 128
        region_code:
          type: string
          maxLength: 128
        postal_code:
          type: string
          maxLength: 128
        country_code:
          type: string
          maxLength: 2
      required:
      - street_address
      x-stoplight:
        id: alp6ww1u4r5wf
    FedwireDestinationRequest:
      type: object
      description: 'In addition to the standard FedwireDestination fields you''d expect for a create/updated request,

        this serializer also requires a recipient (passed in as the uuid of the recipient)

        that will be associated with the created/updated FedwireDestination instance.'
      properties:
        account_number:
          example: '123456'
          description: Account number for the Fedwire destination.
          type: string
          minLength: 1
          maxLength: 17
        routing_number:
          example: '021030004'
          description: Routing number for the Fedwire destination.
          type: string
          minLength: 9
          maxLength: 9
        recipient:
          example: ccae3440-0c1f-45ce-9b91-57cbbb252818
          description: UUID of the recipient associated with this Fedwire destination.
          type: string
          format: uuid
          writeOnly: true
        address:
          $ref: '#/components/schemas/FedwireRecipientAddressRequest'
      required:
      - account_number
      - address
      - recipient
      - routing_number
      x-stoplight:
        id: zthgxtvwxewwu
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: /v2/oauth/authorize/
          tokenUrl: /v2/oauth/token/
          scopes:
            banking:accounts:read: Can read account information.
            banking:transactions:read: Can read transaction information.
            banking:scheduled_transfers:read: Can read scheduled transfer information.
            banking:scheduled_transfers:write: Can create and update scheduled transfers.
            banking:accounts:write: Can update account information.
            banking:transactions:write: Can update transaction information.
            banking:users:read: Can read user profile information.
            banking:products:read: Can read product information.
            banking:documents:read: Can read user statements and documents.
x-stoplight:
  id: 68n444msv6n7x
