openapi: 3.0.3
info:
  title: Narmi Public account balances accounts API
  version: v1
  description: To read about Public API access and authentication, go to [API Overview](https://docs.narmi.com/docs/narmi-developer-docs/xl9dvbz84o11l-introduction).
  termsOfService: https://www.narmi.com/policies/developer-terms-conditions
  contact:
    name: Narmi Support
    email: support@narmi.com
servers:
- url: https://api.sandbox.narmi.dev/
  description: ''
tags:
- name: accounts
paths:
  /v1/accounts/:
    get:
      operationId: accounts_list
      description: 'List the authenticated user''s accounts. The account data will update from the core when this endpoint is requested if the oldest account has not been updated in over `Core Minimum Update Seconds`. The response contains both internal and external account types.


        All monetary values are represented in minor units, or the smallest unit of the currency with no decimal (e.g., cents). For example, $10.00 is represented as 1000.




        <i>How can we improve these docs?             <a href="mailto:docs+feedback@narmi.com">Share your feedback.</a></i>'
      summary: List accounts
      tags:
      - accounts
      security:
      - oauth2:
        - banking:accounts:read
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAccounts'
              examples:
                AccountsResponseSample:
                  value:
                    links:
                      next: null
                      previous: null
                    meta:
                      total: 12
                    accounts:
                    - name: Primary Checking (43333)
                      nickname: ''
                      id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                      number: '43333'
                      type: deposit
                      product:
                        id: '101'
                        type: checking
                        description: Primary Checking
                      updated_at: '2024-04-01T17:20:45.571055-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_source
                      - transfer_destination
                      - ach_destination
                      - check_order
                      - stop_payment
                      - check_withdrawal
                      - deposit_destination
                      routing: 1100-0000-0
                      loan_details: {}
                      source: institution
                      state: active
                      favorited: true
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.556919-04:00'
                      check_micr: 1111micr
                      metadata:
                        reg_d_count: '0'
                        prior_year_interest: '2.01'
                        year_to_date_interest: '1.01'
                        check_micr: 1111micr
                      balances:
                        id: abl_1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                        account_id: 1a41ecb8-a9f0-4939-95a8-6a258cd0ca81
                        primary: 289104
                        available: 289104
                        ledger: 281000
                        updated_at: '2024-04-01T17:20:45.571055-04:00'
                      fi_name: Aqua Bank
                      created_at: 03/31/20
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: Primary Savings (43333=0004)
                      nickname: ''
                      id: 76b08394-ec04-4554-b892-28c57a627f7e
                      number: 43333=0004
                      type: deposit
                      product:
                        id: '201'
                        type: savings
                        description: Primary Savings
                      updated_at: '2024-04-01T17:20:45.610369-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_source
                      - transfer_destination
                      - ach_destination
                      - check_withdrawal
                      - deposit_destination
                      routing: 1100-0000-0
                      loan_details: {}
                      source: institution
                      state: active
                      favorited: false
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.607257-04:00'
                      check_micr: null
                      metadata:
                        open_date: '2015-03-16'
                        check_micr: null
                        dividend_due: '0.84'
                        dividend_rate: null
                        last_dividend: '0.84'
                        maturity_date: null
                        minimum_balance: '5.00'
                        dividend_last_year: '6.45'
                        dividend_year_to_date: '0.84'
                      balances:
                        id: abl_76b08394-ec04-4554-b892-28c57a627f7e
                        account_id: 76b08394-ec04-4554-b892-28c57a627f7e
                        primary: 1040588
                        available: 1040588
                        ledger: 1088277
                        updated_at: '2024-04-01T17:20:45.610369-04:00'
                      fi_name: Aqua Bank
                      created_at: 01/24/24
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: External Business Checking
                      nickname: External Business Checking
                      id: a71b03a6-d2e4-4cf1-b91e-da6fd24d8570
                      number: '********6789'
                      type: debit
                      product:
                        type: checking
                      updated_at: '2019-08-08T12:27:53.858000-04:00'
                      users:
                      - id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                      features:
                      - transfer_source
                      - transfer_destination
                      routing: '110000000'
                      loan_details: {}
                      source: external
                      state: verified
                      favorited: false
                      hidden: false
                      metadata: {}
                      balances: {}
                      fi_name: External Bank
                      created_at: 08/08/19
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: External Personal Checking
                      nickname: External Personal Checking
                      id: 2864ef56-06fa-45c6-a7ce-0037cb5d7e46
                      number: '********6789'
                      type: debit
                      product:
                        type: checking
                      updated_at: '2019-08-08T12:27:53.858000-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_source
                      - transfer_destination
                      routing: '110000000'
                      loan_details: {}
                      source: external
                      state: verified
                      favorited: false
                      hidden: false
                      metadata: {}
                      balances: {}
                      fi_name: External Bank
                      created_at: 08/08/19
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: Visa Cash Back (43333=0003)
                      nickname: ''
                      id: 3fbf52d6-2ea4-45e2-9d8c-c4c2e34bd01d
                      number: 43333=0003
                      type: credit
                      product:
                        type: credit_card
                        description: VISA CASH BACK
                      updated_at: '2024-04-01T17:20:45.589964-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_destination
                      - ach_destination
                      routing: 1100-0000-0
                      loan_details:
                        minimum_payment: 2500
                        interest_rate: '0.0345'
                        next_payment_at: '2024-05-01T17:20:45.548967-04:00'
                      source: institution
                      state: active
                      favorited: false
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.586859-04:00'
                      check_micr: null
                      metadata:
                        past_due: '0.00'
                        open_date: '2014-10-15'
                        check_micr: null
                        dividend_due: null
                        dividend_rate: null
                        interest_days: null
                        interest_type: null
                        last_dividend: null
                        maturity_date: null
                        minimum_balance: null
                        dividend_last_year: null
                        previous_payment_at: '2024-04-01'
                        regular_loan_payment: '63.00'
                        dividend_year_to_date: null
                      balances:
                        id: abl_3fbf52d6-2ea4-45e2-9d8c-c4c2e34bd01d
                        account_id: 3fbf52d6-2ea4-45e2-9d8c-c4c2e34bd01d
                        primary: 59296
                        available: 0
                        ledger: 59296
                        updated_at: '2024-04-01T17:20:45.589964-04:00'
                      fi_name: Aqua Bank
                      created_at: 01/24/24
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: My First Mortgage (43333=0009)
                      nickname: ''
                      id: 185a4c7a-94d5-4239-953c-db0fb9e3f4fc
                      number: 43333=0009
                      type: credit
                      product:
                        id: '301'
                        type: mortgage
                        description: My First Mortgage
                      updated_at: '2024-04-01T17:20:45.687743-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_destination
                      - ach_destination
                      routing: 1100-0000-0
                      loan_details:
                        minimum_payment: 121788
                        interest_rate: '0.0130'
                        next_payment_at: '2024-05-01T17:20:45.549103-04:00'
                      source: institution
                      state: active
                      favorited: false
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.679878-04:00'
                      check_micr: null
                      metadata:
                        past_due: null
                        open_date: null
                        dividend_due: null
                        dividend_rate: null
                        interest_days: null
                        interest_type: null
                        last_dividend: null
                        maturity_date: null
                        minimum_balance: null
                        dividend_last_year: null
                        previous_payment_at: null
                        regular_loan_payment: null
                        dividend_year_to_date: null
                      balances:
                        id: abl_185a4c7a-94d5-4239-953c-db0fb9e3f4fc
                        account_id: 185a4c7a-94d5-4239-953c-db0fb9e3f4fc
                        primary: 23269838
                        available: 0
                        ledger: 23269838
                        updated_at: '2024-04-01T17:20:45.687743-04:00'
                      fi_name: Aqua Bank
                      created_at: 01/24/24
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: My First Loan (43333=0008)
                      nickname: ''
                      id: dcb8ad10-6028-48b3-b6c6-929e531cf3a4
                      number: 43333=0008
                      type: credit
                      product:
                        id: '401'
                        type: loan
                        description: My First Loan
                      updated_at: '2024-04-01T17:20:45.658255-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_destination
                      - ach_destination
                      routing: 1100-0000-0
                      loan_details:
                        minimum_payment: 50000
                        interest_rate: '0.0630'
                        next_payment_at: '2024-05-01T17:20:45.549086-04:00'
                      source: institution
                      state: active
                      favorited: false
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.653624-04:00'
                      check_micr: null
                      metadata:
                        past_due: '7198.00'
                        open_date: '2016-12-12'
                        dividend_rate: null
                        interest_days: '365'
                        interest_type: '365'
                        maturity_date: '2025-03-31'
                        minimum_balance: null
                        courtesy_pay_limit: null
                        dividend_last_year: null
                        previous_payment_at: '2024-04-01'
                        dividend_year_to_date: null
                      balances:
                        id: abl_dcb8ad10-6028-48b3-b6c6-929e531cf3a4
                        account_id: dcb8ad10-6028-48b3-b6c6-929e531cf3a4
                        primary: 9638335
                        available: 0
                        ledger: 9638335
                        updated_at: '2024-04-01T17:20:45.658255-04:00'
                      fi_name: Aqua Bank
                      created_at: 01/24/24
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: Money Market (43333=0006)
                      nickname: ''
                      id: 8d307332-70b6-4abb-8446-5086e48c7e63
                      number: 43333=0006
                      type: deposit
                      product:
                        id: '501'
                        type: money_market
                        description: Money Market
                      updated_at: '2024-04-01T17:20:45.638144-04:00'
                      users:
                      - email: demo@narmitech.com
                        core_provided_email: jane@example.com
                        username: testuser
                        id: 07231f46-23f1-482e-bdc4-35f2267b60e6
                        institution_user_identifier: ''
                        updated_at: '2024-04-01T19:33:21.343077+00:00'
                        addresses: []
                        phone_numbers: []
                        first_name: ''
                        last_name: ''
                        paper_statements: null
                        user_category: personal
                        features:
                          ach: true
                          allow_olb_device_remembering: true
                          check_order: true
                          stop_payment_by_range: true
                          top_menu:
                            Dashboard:
                              url: /dashboard
                            Accounts:
                              accounts: true
                            Documents:
                              url: /statements
                            Support:
                              url: /support
                            Tools:
                              menu:
                                Transfer funds:
                                  url: /transfer
                                Transactions:
                                  url: /transactions
                                Cards:
                                  url: /cards
                                Trends:
                                  url: /trends
                                Automatic savings:
                                  url: /automatic
                                Access manager:
                                  url: /access_manager
                                  feature_flag: indigo.OrganizationUser_permission
                                List all NAF options:
                                  naf: true
                          internal_transfers: true
                          account_membership: true
                          address_change: true
                          alerts: true
                          allpoint_locator_atm: true
                          automatic_savings: OPT_IN
                          bill_pay: ipay
                          billshark: true
                          business_account_opening: true
                          personal_banking: true
                          business_banking: true
                          cards: true
                          coop_locator_atm: true
                          coop_locator_branch: true
                          core_based_alerts: false
                          existing_user_account_opening: true
                          existing_user_dao: true
                          instant_account_verification: mx
                          insurance: lemonade
                          login_and_enroll_blocked: false
                          mobile_banking: true
                          moneypass_locator_atm: true
                          deposit_sso: true
                          new_account_opening: true
                          offers: true
                          offline_verification: true
                          online_banking: true
                          p2p:
                          - m2m
                          paperless_statement_enrollment: true
                          paperless_statement_unenrollment: false
                          phone_change: true
                          push_notifications: true
                          rdc: true
                          recurring_transfers: true
                          refer_a_member: true
                          show_transaction_contact_support: true
                          statements: true
                          transfers: true
                          trends: mx
                          user_message_uploads: true
                          username: true
                          wires: true
                          stop_payment: true
                          beneficiaries: true
                          react_settings_flow: true
                          naf_app_management: true
                          profile_switcher: true
                          mobile_login_switcher: true
                          limits:
                            immediate_rdc:
                              '3': 7000
                            immediate_ach_pull:
                              '1': 1000
                            ach_pull:
                              '30': 5500
                              '1': 500
                            ach_push:
                              '3': 5000
                          mobile_navigation:
                            bottom_bar:
                            - display_name: Home
                              stack_screen_name: Feed
                              icon_name: narmi-feed
                            - display_name: Transfer
                              stack_screen_name: AnyTransfer
                              icon_name: narmi-transfer
                              feature_flags:
                              - transfers
                            - display_name: Deposit
                              stack_screen_name: AnyDeposit
                              icon_name: camera
                              feature_flags:
                              - rdc
                            - display_name: More
                              stack_screen_name: MoreModal
                              icon_name: menu
                            more_modal:
                            - section_name: My accounts
                              icon_name: user
                              section_contents:
                              - display_name: Profile
                                stack_screen_name: ProfileEdit
                                include_chevron: true
                              - display_name: Cards
                                stack_screen_name: Cards
                                feature_flags:
                                - cards
                                include_chevron: true
                              - display_name: Alerts
                                stack_screen_name: AlertsMenu
                                include_chevron: true
                              - display_name: Transactions
                                stack_screen_name: Transactions
                                include_chevron: true
                              - display_name: Documents
                                stack_screen_name: Statements
                                feature_flags:
                                - statements
                                include_chevron: true
                              - display_name: Linked accounts
                                stack_screen_name: AccountManagement
                                include_chevron: true
                              - display_name: Go paperless
                                stack_screen_name: PaperlessStatementsSetting
                                feature_flags:
                                - can_change_estatements
                                include_chevron: true
                            - section_name: Support
                              icon_name: phone
                              section_contents:
                              - display_name: Help center
                                stack_screen_name: HelpCenter
                                include_chevron: true
                              - display_name: Branch & ATM locator
                                stack_screen_name: Locator
                                feature_flags:
                                - coop_locator_atm
                                - coop_locator_branch
                                - moneypass_locator_atm
                                - allpoint_locator_atm
                                include_chevron: true
                            - section_name: Login & Security
                              icon_name: narmi-fat-security
                              include_login_and_security: true
                            - section_name: Services
                              icon_name: tag
                              section_contents:
                              - display_name: Get insurance with Lemonade
                                stack_screen_name: Insurance
                                feature_flags:
                                - insurance
                                include_chevron: false
                              - display_name: Lower bills with Billshark
                                stack_screen_name: Billshark
                                feature_flags:
                                - billshark
                                include_chevron: false
                              - display_name: Refer a friend
                                stack_screen_name: ReferAMember
                                feature_flags:
                                - refer_a_member
                                include_chevron: false
                              - display_name: Trends
                                stack_screen_name: Trends
                                feature_flags:
                                - trends
                                include_chevron: false
                              - display_name: DAO
                                naf_app_client_id: DAO
                                include_chevron: false
                          indigo.Account_permission: '*'
                          indigo.AchTransfer_permission: '*'
                          integrations.base.Card_permission: '*'
                          indigo.ExternalAccount_permission: '*'
                          indigo.IntraInstitutionTransfer_permission: '*'
                          indigo.MemberFriend_permission: '*'
                          integrations.base.Payee_permission: '*'
                          integrations.base.Payment_permission: '*'
                          indigo.Transaction_permission: '*'
                          indigo.WireTransaction_permission: '*'
                          integrations.documents_permission: '*'
                          integrations.rdc_permission: '*'
                          can_change_username: false
                          can_change_estatements: true
                          zelle: false
                          edit_scheduled_transfers: false
                          hold_days:
                            rdc_hold_days: 4
                            ach_hold_days: 2
                        org_uuid: null
                        org_role: null
                        org_name: ''
                        business_permissions: []
                        dual_approval_required: false
                        is_staff: false
                        is_active: true
                        is_superuser: false
                        is_narmi: false
                        date_joined: '2018-03-26T14:43:59.004000+00:00'
                        last_login: '2024-04-01T21:12:47.774873+00:00'
                        segment: ''
                        metadata: {}
                        has_username: true
                        has_password: true
                        has_accepted_latest_terms: true
                        requires_enrollment_code_verification: false
                        enabled_estatements_at: null
                        is_converting: false
                        has_permitted_device: true
                        has_backup_codes: false
                      features:
                      - transfer_source
                      - transfer_destination
                      - ach_destination
                      - check_withdrawal
                      routing: 1100-0000-0
                      loan_details: {}
                      source: institution
                      state: active
                      favorited: false
                      hidden: false
                      out_of_date: false
                      updated_from_source_at: '2024-04-01T17:20:45.630767-04:00'
                      check_micr: null
                      metadata:
                        open_date: '2002-10-18'
                        check_micr: 050657814021
                        dividend_due: '55.59'
                        dividend_rate: null
                        last_dividend: '53.84'
                        maturity_date: null
                        minimum_balance: '0.00'
                        dividend_last_year: '545.21'
                        dividend_year_to_date: '53.84'
                      balances:
                        id: abl_8d307332-70b6-4abb-8446-5086e48c7e63
                        account_id: 8d307332-70b6-4abb-8446-5086e48c7e63
                        primary: 15200756
                        available: 15200756
                        ledger: 15117594
                        updated_at: '2024-04-01T17:20:45.638144-04:00'
                      fi_name: Aqua Bank
                      created_at: 01/24/24
                      verified: true
                      fi_svg: <svg width="100" height="100"></svg>
                    - name: Home Equity Line Of Credit (43333=0005)
[...]
